﻿
<div class="offset-1">
    <div class="form-group row">
        <input type="hidden" id="hiddenId" />
        <div class="col-md-2">PersonnelId</div>
        <div class="col-md-2"><input type="text" value="" id="txtPersonId" class="form-control" readonly /></div>

        <div class="col-md-2">Salutation</div>
        <div class="col-md-2"><input type="text" value="" id="txtSalutation" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">First Name</div>
        <div class="col-md-2"><input type="text" value="" id="txtFname" class="form-control" /></div>

        <div class="col-md-2">MI</div>
        <div class="col-md-2"><input type="text" value="" id="txtMI" class="form-control" /></div>
        <div class="col-md-2">Last Name</div>
        <div class="col-md-2 "><input type="text" value="" id="txtLastName" class="form-control" /></div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">Suffix</div>
        <div class="col-md-2">@Html.DropDownList("ddlSuffix", new SelectList(ViewBag.SuffixTypes, "ID", "Suffix_Name"), "Select Suffix", new { @class = "form-control" })</div>

        <div class="col-md-2">Status</div>
        <div class="col-md-2">@Html.DropDownList("ddlStatus", new SelectList(ViewBag.Status, "StatusID", "StatusName"), "Select Status", new { @class = "form-control" })</div>
        <div class="col-md-2">Status Date</div>
        <div class="col-md-2"><input type="text" id="txtStatuDate" class="form-control datepicker" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">Person Type</div>
        <div class="col-md-2">@Html.DropDownList("ddlPersontype", new SelectList(ViewBag.Persontype, "ID", "Name"), "Select Persontype", new { @class = "form-control" })</div>

        <div class="col-md-2">Medical Speciality</div>
        <div class="col-md-2 ">@Html.DropDownList("ddlMedicalSpeciality", new SelectList(ViewBag.MedicalSpeciality, "ID", "Name"), "Select MedicalSpeciality", new { @class = "form-control" })</div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">Degrees</div>
        <div class="col-md-8 form-group row">
            @foreach (var item in ViewBag.Degrees)
            {
                <div class=" col-md-2 custom-control custom-checkbox align-content-center ">
                    <input type="checkbox" id="De_@item.Name" value="@item.ID" class="custom-control-input degree">
                    <label class="custom-control-label" for="De_@item.Name">@item.Name </label>
                </div>
            }

        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">Phone</div>
        <div class="col-md-2"><input type="text" value="" id="txtPhone" class="form-control" /></div>

        <div class="col-md-2">Ext</div>
        <div class="col-md-2"><input type="text" value="" id="txtExt" class="form-control" /></div>
        <div class="col-md-2">Fax</div>
        <div class="col-md-2 "><input type="text" value="" id="txtFax" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">Email Address</div>
        <div class="col-md-2"><input type="text" value="" id="txtEmailAddress" class="form-control" /></div>

        <div class="col-md-2">Job Title</div>
        <div class="col-md-2"><input type="text" value="" id="txtJobTitle" class="form-control" /></div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">Comments</div>
        <div class="col-md-8"><input type="text" id="txtComments" class="form-control" /></div>
    </div>
    <div class="offset-4">
        <input type="button" value="Save" id="btnSavePersonalDetails" class="btn btn-info" />
        <input type="button" value="Update" id="btnUpdatePersonalDetails" class="btn btn-info" />
        <input type="button" value="Cancel" id="btnCancel" class="btn btn-info" data-dismiss-modal="#add_PersonModal" />
        <input type="hidden" id="hiddendegrees" />
    </div>

</div>
<script>
    $("#btnSavePersonalDetails").click(function () {

        var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
        var phone = $("#txtPhone").unmask().val(),
               intRegex = /[0-9 -()+]+$/;
        $("#txtPhone").mask('(000) 000-0000');

        if ($("#txtFname").val() == "") {
            alert('Please enter First Name');
            $("#txtFname").focus();
            return;
        }

        else if ($("#txtLastName").val() == "") {
            alert('Please enter Last Name');
            $("#txtLastName").focus();
            return;
        }
        else if ($("#ddlPersontype :selected").val() == 0) {
            alert('Please Select Person Type');
            $("#ddlPersontype").focus();
            return;
        }
        else if ($("#ddlMedicalSpeciality :selected").val() == 0) {
            alert('Please Select Medical Speciality');
            $("#ddlMedicalSpeciality").focus();
            return;
        }
        else if ($("#txtPhone").val() == "") {
            alert('Please enter Phone Number ');
            $("#txtPhone").focus();
            return;
        }
        else if ((phone.length < 10) || (!intRegex.test(phone) || phone.length > 10)) {
            alert('Please enter a valid 10 digits phone number.');
            $("#txtPhone").mask('(000) 000-0000').focus();
            return;
        }
        else if ($("#txtEmailAddress").val() == "") {
            alert('Please enter Email Address ');
            $("#txtEmailAddress").focus();
            return;
        }
        else if (!emailReg.test($("#txtEmailAddress").val())) {
            alert("Please enter valid Email");
            $("#txtEmailAddress").focus();
            return;
        }
        else if ($("#ddlStatus :selected").val() == 0) {
            alert('Please select Status.');
            $("#ddlStatus").focus();
            return;
        }
        else if ($("#txtStatuDate").val() == "") {
            alert("Please enter Date");
            $("#txtStatuDate").focus();
            return;
        }
      
        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/ISPersonnelNameExist",
            data: JSON.stringify({ Fname: $("#txtFname").val(), Lname: $("#txtLastName").val() }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    if (!confirm('The Person ' + data.Personnel_ID + ' (' + data.F_Name + ' ' + data.M_Initials + ' ' + data.L_Name + ') is already exist.Do you want to continue?')) {
                        return;
                    }
                }
            },
            failure: function (response) {
                alert('Error');
            }
        });
        var degrees = new Array();
        $(".degree:checked").each(function () {
            degrees.push($(this).val());
        });
        var T009_Map_Personnel_Degree = {
            id: degrees
        }
        var Person = {
            Salutation: $("#txtSalutation").val(),
            F_Name: $("#txtFname").val(),
            M_Initials: $("#txtMI").val(),
            L_Name: $("#txtLastName").val(),
            Phone: $("#txtPhone").val(),
            Fax: $("#txtFax").val(),
            Email: $("#txtEmailAddress").val(),
            JobTitle: $("#txtJobTitle").val(),
            Comments: $("#txtComments").val(),
            T200_Person_Type_ID: $("#ddlPersontype").val(),
            T201_MedicalSpl_ID: $("#ddlMedicalSpeciality").val(),
            T202_Suffix_ID: $("#ddlSuffix").val(),
            Record_Status: 'Active',
            Phone_Ext: $("#txtExt").val(),

            Personnel_StatusID: $("#ddlStatus").val(),
            StatusDate: $("#txtStatuDate").val(),

        }

        var getpersons = {
            Personel: Person,
            lstdegrees: degrees
        }

        var url = "/RCApplication/SavePersonnelDetails";
        $.post(url, getpersons, function (data) {
            $("#txtPersonId").val(data.Personid);
            if (data.data == "Success") {
                $("#btnCancel").click()
                alert("Personnel details saved successfully");
                var table = $('#tblRcPersonnelDetails').DataTable();
                table.ajax.reload();
            }
            else {
                alert("Invalid operation");
            }

        });

    })


    $("#ddlPersontype").change(function () {
        var Persontype = $("#ddlPersontype option:selected").val();
        $("#ddlMedicalSpeciality").html("");
        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/GetMedicalSpeciality",
            data: '{ Persontype: "' + Persontype + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //$.getJSON("../RCApplication/GetStates", { CountryCode: Persontype },
            success: function (data) {
             
                var select = $("#ddlMedicalSpeciality");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "Select Medical Speciality"
                }));
                $.each(data, function (index, itemData) {

                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            }
        });
    });
    $("#btnUpdatePersonalDetails").click(function () {

        var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
        var phone = $("#txtPhone").unmask().val(),
               intRegex = /[0-9 -()+]+$/;

        $("#txtPhone").mask('(000) 000-0000');
        if ($("#txtFname").val() == "") {
            alert('Please enter First Name');
            $("#txtFname").focus();
            return;
        }

        else if ($("#txtLastName").val() == "") {
            alert('Please enter Last Name');
            $("#txtLastName").focus();
            return;
        }
        else if ($("#ddlPersontype :selected").val() == 0) {
            alert('Please Select Person Type');
            $("#ddlPersontype").focus();
            return;
        }
        else if ($("#ddlMedicalSpeciality :selected").val() == 0) {
            alert('Please Select Medical Speciality');
            $("#ddlMedicalSpeciality").focus();
            return;
        }
        else if ($("#txtPhone").val() == "") {
            alert('Please enter Phone Number ');
            $("#txtPhone").focus();
            return;
        }
        else if ((phone.length < 10) || (!intRegex.test(phone) || phone.length > 10)) {
            alert('Please enter a valid 10 digits phone number.');
            $("#txtPhone").mask('(000) 000-0000').focus();
            return;
        }
        else if ($("#txtEmailAddress").val() == "") {
            alert('Please enter Email Address ');
            $("#txtEmailAddress").focus();
            return;
        }
        else if (!emailReg.test($("#txtEmailAddress").val())) {
            alert("Please enter valid Email");
            $("#txtEmailAddress").focus();
            return;
        }
        else if ($("#ddlStatus :selected").val() == 0) {
            alert('Please select Status.');
            $("#ddlStatus").focus();
            return;
        }
        else if ($("#txtStatuDate").val() == "") {
            alert("Please enter Date");
            $("#txtStatuDate").focus();
            return;
        }



        var degrees = new Array();
        $(".degree:checked").each(function () {
            degrees.push($(this).val());
        });
        var T009_Map_Personnel_Degree = {
            id: degrees
        }
        var Person = {
            ID: $("#hiddenId").val(),
            Personnel_ID: $("#txtPersonId").val(),
            Salutation: $("#txtSalutation").val(),
            F_Name: $("#txtFname").val(),
            M_Initials: $("#txtMI").val(),
            L_Name: $("#txtLastName").val(),
            Phone: $("#txtPhone").val(),
            Fax: $("#txtFax").val(),
            Email: $("#txtEmailAddress").val(),
            JobTitle: $("#txtJobTitle").val(),
            Comments: $("#txtComments").val(),
            T200_Person_Type_ID: $("#ddlPersontype").val(),
            T201_MedicalSpl_ID: $("#ddlMedicalSpeciality").val(),
            T202_Suffix_ID: $("#ddlSuffix").val(),
            Record_Status: 'Active',
            Phone_Ext: $("#txtExt").val(),

            Personnel_StatusID: $("#ddlStatus").val(),
            StatusDate: $("#txtStatuDate").val(),

        }
        var getpersons = {
            Personel: Person,
            lstdegrees: degrees
        }

        var url = "/RCApplication/UpdatePersonnelDetails";
        $.post(url, getpersons, function (data) {
           
            if (data.data == "Success") {

                $("#btnCancel").click();
                alert("Personnel details updated successfully");
                //
               
                var table = $('#tblRcPersonnelDetails').DataTable();
                table.ajax.reload();

            }
            else {
                alert("Invalid operation");
            }

        });

    })
    $(".datepicker").datepicker({
        autoclose: true,
        endDate: 'today'
    });
</script>