﻿<div id="divAddress">

    <input type="hidden" id="Addressid"/>
    <div class="offset-1">
        <div class="form-group row">
            <div class="col-md-4">Address Line1</div>  <div class="col-md-7">
            <input type="text" id="txtAddress1" class="form-control" /></div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">Address Line2</div>  <div class="col-md-7">
            <input type="text" id="txtAddress2" class="form-control" /></div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">Country</div>  <div class="col-md-7">
                @Html.DropDownList("ddlCountries",
                                     new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"),
                                     "Select Country",
                                     new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">State</div>  <div class="col-md-7">
                @*@Html.DropDownList("ddlStates",
                                     new SelectList(ViewBag.States, "State_Code", "State_Name"),
                                     "Select Gender",
                                     new { @class = "form-control" })*@
                <select id="ddlStates" class="form-control">
                        <option>-select state- </option>
                    </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">City</div>  <div class="col-md-7">
            <input type="text" id="txtCity" class="form-control" /></div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">Zip/PoastalCode</div>  <div class="col-md-7">
            <input type="text" id="txtZip" class="form-control" /></div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">Attention</div>  
            <div class="col-md-7">
            <input type="text" id="txtAttention" class="form-control" /></div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">Deaprtment</div>  <div class="col-md-7">
            <input type="text" id="txtDeaprtment" class="form-control" /></div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">Internal Office</div>  <div class="col-md-7">
            <input type="text" id="txtInternalOffice" class="form-control" /></div>
        </div>
        <div class="offset-3">
            <input type="button" value="Add" id="btnSave" class="btn btn-info" />
            <input type="button" value="update" id="btnUpdate" class="btn btn-info" />
            <input type="button" id="btnCancel" value="Close" data-dismiss-modal="#add_AddressModal" class="btn btn-info" />
        </div>
    </div>

</div>
<script>
    $("#btnSave").click(function () {
        if($("#txtAddress1").val()=="")
        {
            alert('Please enter Address (line 1)');
            return false;
        }
       
        else if ($("#ddlCountries option:selected").text == "Select Country")
        {
            alert('Please Select Country');
           
            return false;
        }
        else if($("#txtCity").val()=="")
        {
            alert('Please enter City');
            return false;
        }
      else if($("#txtZip").val()=="")
        {
            alert('Please enter ZIP/Postal Code ');
            return false;
        }
       
        var data = {
            Address_Line1: $("#txtAddress1").val()
           , Address_Line2: $("#txtAddress2").val()
           , Country_ID: $("#ddlCountries").val(), State_ID: $("#ddlStates").val()
       , City: $("#txtCity").val()
           , ZIP: $("#txtZip").val()
               , Attention: $("#txtAttention").val()
           , Department: $("#txtDeaprtment").val()
               , InternalOffice: $("#txtInternalOffice").val()
           , Record_status: 'Active'
        }
        $.post("/RCApplication/SaveAddress", data, function (result) {
           
            if (result.data == "Address existed") {
                alert("Address details already exists");
            }
            else if (result.data == "Success") {
                alert("Address Details have been saved successfully");
            }
            else if (result.data == "invalid") {
                alert("Invalid operation");
            }


        });
    })

    $("#btnUpdate").click(function () {
        if ($("#txtAddress1").val() == "") {
            alert('Please enter Address (line 1)');
            return false;
        }

        else if ($("#ddlCountries option:selected").text == "Select Country") {
            alert('Please Select Country');

            return false;
        }
        else if ($("#txtCity").val()== "") {
            alert('Please enter City');
            return false;
        }
        else if ($("#txtZip").val() =="") {
            alert('Please enter ZIP/Postal Code ');
            return false;
        }
        var data = {
            Address_ID:$("#Addressid").val(),
        Address_Line1: $("#txtAddress1").val()
         , Address_Line2: $("#txtAddress2").val()
         , Country_ID: $("#ddlCountries").val(), State_ID: $("#ddlStates").val()
     , City: $("#txtCity").val()
         , ZIP: $("#txtZip").val()
             , Attention: $("#txtAttention").val()
         , Department: $("#txtDeaprtment").val()
             , InternalOffice: $("#txtInternalOffice").val()
         , Record_status: 'Active'
    }
        $.post("/RCApplication/UpdateAddressdetails", data, function (result) {
          
            if (result.data == "Address existed") {
                alert("Address details already exists");
            }
            else if (result.data == "Success") {
                alert("Address Details have been updated successfully");
                $("#btnCancel").click()
            }
            else if (result.data == "invalid") {
                alert("Invalid operation");
            }


        });
    })
   
    $("#ddlCountries").change(function () {
        var Country = $("#ddlCountries option:selected").val();
        $("#ddlStates").html("");
        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/GetStates",
            data: '{ CountryCode: "' + Country + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //$.getJSON("../RCApplication/GetStates", { CountryCode: Country },
            success: function (data) {
             
                var select = $("#ddlStates");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "Select States"
                }));
                $.each(data, function (index, itemData) {

                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            }
        });
    });
</script>