﻿@*@model IEnumerable<dal.SP_GetRCPersonnelDetails_Result>*@

<div class="zxc">
    <table id="tblRcPersonnelDetails" class="display nowrap table table-hover table-responsive table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th><i id="i_expnd" style="color:indianred;font-weight:bold" class="ti-arrow-circle-right" data-toggle="tooltip" title="Expand/Collpase"></i></th>
                <th>Select</th>
                <th>Edit</th>
                <th>View</th>
                <th>Personnel ID</th>
                <th>Salutation</th>
                <th>First Name</th>
                <th>Middle Intital</th>
                <th>Last Name</th>
                <th>Degree</th>
                <th>Medicalspeciality</th>
                <th>Phone</th>
                <th>Phone Ext</th>
                <th>PersonType</th>
                <th>Email</th>
                <th>Fax</th>
                <th>JobTitle</th>
                <th>Comments</th>
                <th>Status</th>
                <th>Status Date</th>
            </tr>
        </thead>
        @*<tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td><i id="i_expnd" style="color:indianred;font-weight:bold" class="ti-arrow-circle-right" data-toggle="tooltip" title="Expand/Collpase"></i></td>
                        <td><input type="checkbox" class="chkSelect" /></td>
                        <td><input type="button" class="btn btn-xs btn-rounded btn-info edit " name="name" value="Edit" /></td>
                    </tr>

                }
            </tbody>*@
    </table>
</div>
<div class="offset-4">
    <input type="button" value="Add Person" id="btnAddPerson" class="btn btn-info" />
    <input type="button" id="LoadPerson" value="Load" class="btn btn-info" />
    <input type="button" value="Cancel" class="btn btn-info" data-dismiss-modal="#PersonModal" />
</div>


<script>
    function PopPerson(id) {
      
        var table = $('#tblRcPersonnelDetails').DataTable();
        var tr = id.closest('tr');
        var data = table.row(tr).data();

        var url = "/RCApplication/openAddpersonPopup";

        $("#add_PersonModalBody").load(url, function () {
            $("#txtPhone").mask('(000) 000-0000');
            $("txtStatuDate").prop("readonly", true);
            $("#hiddenId").val(data["ID"]);
            $("#txtPersonId").val(data["Personnel_ID"]);
            $("#txtSalutation").val(data["Salutation"]);
            $("#txtFname").val(data["F_Name"]);
            $("#txtMI").val(data["M_Initials"]);
            $("#txtLastName").val(data["L_Name"]);
            $("#txtPhone").val(data["Phone"]);
            $("#txtFax").val(data["Fax"]);
            $("#txtEmailAddress").val(data["Email"]);
            $("#txtJobTitle").val(data["JobTitle"]);
            $("#txtComments").val(data["Comments"]);
            $("#ddlPersontype").val(data["PersontypeId"]).trigger('change');
            $("#ddlMedicalSpeciality").val(data["MedicalspecialityID"]);
            $("#ddlSuffix").val(data["SuffixID"]);
            $("#txtExt").val(data["Phone_Ext"]);
            // AddressID:("#txtPersonId").val(),
            $("#ddlStatus").val(data["Personnel_StatusID"]);
            if (data["StatusDate"] != null) {
                var date = eval(data["StatusDate"].replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));
                $("#txtStatuDate").val(date.toLocaleDateString());
            }
            if (data["DegreeIDs"] != null) {
                var ids = data["DegreeIDs"].split(',').map(str => str.trim());
                $(".degree").each(function () {
                    if (ids
                    .indexOf($(this).val()) > -1) {
                        $(this).attr('checked', true);
                    }
                })
            }

         
            if (id.id == "view") {
                $("#add_PersonModalBody *").not('#btnCancel').prop("disabled", true);
                $("#btnSavePersonalDetails").hide();
                $("#btnUpdatePersonalDetails").hide();

            }
            else if (id.id == "edit") {
                $("#btnSavePersonalDetails").hide();
                $("#btnUpdatePersonalDetails").show();
            }
            // $("#add_PersonModal").modal("show");
            $('#add_PersonModal').modal({
                backdrop: 'static',
                keyboard: false, // to prevent closing with Esc button (if you want this too)
                show: true
            })
        })
    }
    $(document).ready(function () {

        @*var myData = @Html.Raw(Json.Encode(Model));*@

        $('#tblRcPersonnelDetails').DataTable({
            dom: 'frtip',          
            ajax: {
                "url": "@Url.Action("GetPersonnelDetails", "RCApplication")",
                "type": "POST",
                //"data": { PersonID: ID },
                "datatype": "json"
            },
            destroy: true,//to over come reintilize problems
            "pageLength": 5,
            "columns": [
                {
                    "className": 'details-control',
                    'data': null,
                    "orderable": false,
                    render: function (dd) {
                        return "<i  style='color:indianred;font-weight:bold' class='ti-arrow-circle-right' data-toggle='tooltip' title='Expand/Collpase'></i>";
                    }
                },
    {
        'data': null,
        "orderable": false,
        render: function (dd) {
            return "<input type='checkbox' class='chkSelect' />";
        }
    },

    {
        'data': null,
        "orderable": false,
        render: function (dd) {
            return "<a href='#' id='edit' onclick='PopPerson(this)' ><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil '></i></a>";
            //return "<input type='button' class='btn btn-xs btn-rounded btn-info edit' name='name' value='Edit' />";
        }
    }
    , {
        "name": "View",
        'data': null,
        render: function (dd) {
            return "<a href='#' id='view' onclick='PopPerson(this)'><i style='color:indianred;font-weight:bold' title='View' class='ti-eye'></i></a>";
        }
    },
     {
         "name": "Personnel_ID",
         'data': 'Personnel_ID'
     }, {
         "name": "Salutation",
         'data': 'Salutation'
     }, {
         "name": "F_Name",
         'data': 'F_Name'
     }, {
         "name": "M_Initials",
         'data': 'M_Initials'
     }, {
         "name": "L_Name",
         'data': 'L_Name'
     }, {
         "name": "DegreeNames",
         'data': 'DegreeNames'
     }, {
         "name": "Medicalspecialityname",
         'data': 'Medicalspecialityname'
     }, {
         "name": "Phone",
         'data': 'Phone'
     }, {
         "name": "Phone_Ext",
         'data': 'Phone_Ext'
     }, {
         "name": "PersonType",
         'data': 'PersonType'
     },
     {
         "name": "Email",
         'data': 'Email'
     }, {
         "name": "Fax",
         'data': 'Fax'
     }
            , {
                "name": "JobTitle",
                'data': 'JobTitle'
            },
            {
                "name": "Comments",
                'data': 'Comments'
            }
            , {
                "name": "StatusName",
                'data': 'StatusName'
            }, {
                "name": "StatusDate",
                'data': 'StatusDate',
                render: function (dt) {
                    return JsonToDate(dt);
                }
            }
            ]
        });

        function LoadChildData(tblId, ID) {
            var subtable = $('#' + tblId).DataTable({
                //"processing": true,
                "bPaginate": false,
                "searching": false,
                //"serverSide": true,
                "ordering": false,
                "info": false,
                "ajax": {
                    "url": "@Url.Action("PersonnelChildDetails", "RCApplication")",
                    "type": "POST",
                    "data": { PersonID: ID },
                    "datatype": "json"

                },
                "columns": [
        { "data": "RCID" },
        { "data": "Role" },
        { "data": "Address1" },
        { "data": "Address2" },
         { "data": "Attention" },
        { "data": "Internal_Office" },
         { "data": "City" },
        { "data": "State" },
         { "data": "Country" },
        { "data": "ZIP" }
                ]
            });
        }
        function childtable(id) {

            return '<table id="' + id + '" class="display">' +
            ' <thead>' +
                ' <tr>' +
                     '<th>  RCID </th>' +
                     '<th> Role </th>' +
                     '<th> Address1 </th>' +
                     '<th>Address2 </th>' +
                '<th>  Attention </th>' +
                     '<th> Internal Office </th>' +
                     '<th> City </th>' +
                     '<th>State </th>' +
                '<th> Country </th>' +
                     '<th>ZIP </th>' +

                ' </tr>' +
            ' </thead>' +

        ' </table>'
        }

        function childshow(id, isparent) {

            var tr = $(id).closest('tr');
            var tbl = $('#tblRcPersonnelDetails').DataTable();
            var row = tbl.row(tr);
            if (row.child.isShown()) {
                if (isparent && $("#i_expnd").hasClass('ti-arrow-circle-right') || !isparent) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr[0]["cells"][0].innerHTML = '<i class="ti-arrow-circle-right" title="Expand/Collpase"></i>';
                }
            }
            else {
                if (isparent && $("#i_expnd").hasClass('ti-arrow-circle-down') || !isparent) {
                    // Open this row

                    var ID = row.data()["ID"];
                    var childtblid = 'child_' + row.data()["ID"];
                    row.child(childtable(childtblid)).show();
                    tr.addClass('shown');
                    tr[0]["cells"][0].innerHTML = '<i class="ti-arrow-circle-down" title="Expand/Collpase"></i>';
                    LoadChildData(childtblid, ID);
                }
            }
        }

        $('#tblRcPersonnelDetails tbody').on('click', 'td.details-control', function () {
            childshow(this, false);
        });
        $("#i_expnd").click(function () {

            $("#i_expnd").toggleClass("ti-arrow-circle-right");
            $("#i_expnd").toggleClass('ti-arrow-circle-down');
            $("#tblAddress tbody tr .details-control").each(function () {
                childshow(this, true);
            });
        });


        $("#btnAddPerson").click(function () {

            var url = "/RCApplication/openAddpersonPopup";

            $("#add_PersonModalBody").load(url, function () {
                $("#btnSavePersonalDetails").show();
                $("#btnUpdatePersonalDetails").hide();
                $('#add_PersonModal').modal({
                    backdrop: 'static',
                    keyboard: false, // to prevent closing with Esc button (if you want this too)
                    show: true
                })
                //  $("#add_PersonModal").modal("show");
            })
        });
        $("#PersonModalBody").on('click', '.chkSelect', function () {
            $(".chkSelect").prop("checked", false);
            $(this).prop("checked", true);
        });
    });
</script>


<style>
    td.details-control i {
        cursor: pointer;
        color: #e46a76;
        font-weight: bold;
    }
</style>