﻿@{
    ViewBag.Title = "Network";
    Layout = "~/Areas/RC/Views/Shared/_LayoutPageRC.cshtml";
}
<script src="/assets/node_modules/bootstrap-treeview-master/dist/bootstrap-treeview.min.js"></script>
<script src="/assets/node_modules/bootstrap-treeview-master/dist/bootstrap-treeview-init.js"></script>
<div class="form-group row col-md-2">
    <a class="nav-link NetworkTree_toggle  float-right" title="Network List" href="javascript:void(0)">
        <span class="label label-info"><i class="ti-world"></i>  Network List</span>
    </a>
</div>
<div class="card">
    <div class="card-body">
        <div id="divNetwork">

        </div>
    </div>
</div>

<div class="div_Tree_Networks right-sidebar">
    <div class="slimscrollright">
        <div class="card">
            <div class="rpanel-title bg-info">Network List <span><i class="ti-close NetworkTree_toggle"></i></span> </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        Network ID:
                    </div>
                    <div class="col-md-7">
                        @Html.DropDownList("rcbNetwork", (SelectList)ViewBag.EntityList, "All", new { @class = "form-control col-md-9" })
                    </div>
                    <hr />
                    <br />
                </div>
                <div class="row">

                    <div id="Tree_Networks" style="font-size:13px;" class=""></div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .nav-link {
        color: #03a9f3;
    }

    .TreeToggle {
        right: 0px;
        width: 350px;
        display: block;
    }
</style>
<script>
    function LoadView(url) {
        localStorage.setItem("IND_URL", url);
        $("#divNetwork").load(url, function () {
        });
    }
    $(document).ready(function () {

        try {
            var AllParent_Networdks;
            var AllChild_Networks;
            var AllPersonnels;
            var All_Roaster_Roles;
            var All_Address;

            $.ajax({
                async: false,
                type: "GET",
                url: '/IndustryRoster/LoadTreeView',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    AllParent_Networdks = data.parents;
                    AllChild_Networks = data.childs;
                    AllPersonnels = data.AllPersonnels;
                    All_Address = data.All_Address;
                    All_Roaster_Roles = data.All_Roaster_Roles;
                },
                failure: function (response) {
                    alert('Error');
                }
            });
            //TREE DATA
            var TreeData = '[ ';
            for (var i = 0; i < AllParent_Networdks.length; i++) {
                TreeData = TreeData + ' { ';
                TreeData = TreeData + ' "text": " ' + AllParent_Networdks[i].New_Network + '",';
                TreeData = TreeData + ' "href": "' + AllParent_Networdks[i].Parent_ID + '",';
                TreeData = TreeData + ' "nodes":[';
                var childs = AllChild_Networks.filter(x => x.Parent_ID === AllParent_Networdks[i].Parent_ID);
                for (var j = 0; j < childs.length; j++) {
                    TreeData = TreeData + ' {';
                    TreeData = TreeData + ' "text": " ' + childs[j].SiteName + '",';
                    TreeData = TreeData + ' "href": "' + childs[j].Collaborator_Site_ID + '"';
                    TreeData = TreeData + ' },';
                    //if (j != childs.length - 1) TreeData = TreeData + ',';
                }
                TreeData = TreeData + ' {';
                TreeData = TreeData + ' "text": "Personnel",';
                TreeData = TreeData + ' "href": "#divPersonnel", "color": "#004d80", "icon": "icon node-icon fa fa-bookmark",';
                TreeData = TreeData + ' "nodes":[';
                var Personnels = AllPersonnels.filter(x => x.Collaborator_Site_ID === AllParent_Networdks[i].Parent_ID);
                for (var j = 0; j < Personnels.length; j++) {
                    TreeData = TreeData + ' {';
                    TreeData = TreeData + ' "text": " ' + Personnels[j].Person_Name + '",';
                    TreeData = TreeData + ' "href": "' + Personnels[j].Personnel_ID + '"';
                    TreeData = TreeData + ' }';
                    if (j != Personnels.length - 1) TreeData = TreeData + ',';
                }
                TreeData = TreeData + '] ';
                TreeData = TreeData + ' },';
                TreeData = TreeData + ' {';
                TreeData = TreeData + ' "text": "Addresses",';
                TreeData = TreeData + ' "href": "", "color": "#004d80", "icon": "icon node-icon fa fa-bookmark",';
                TreeData = TreeData + ' "nodes":[';
                var Address = All_Address.filter(x => x.Parent_ID === AllParent_Networdks[i].Parent_ID);
                for (var j = 0; j < Address.length; j++) {
                    TreeData = TreeData + ' {';
                    TreeData = TreeData + ' "text": " ' + Address[j].Address + '",';
                    TreeData = TreeData + ' "href": "' + Address[j].Address_ID + '"';
                    TreeData = TreeData + ' }';
                    if (j != Address.length - 1) TreeData = TreeData + ',';
                }
                TreeData = TreeData + '] ';
                TreeData = TreeData + ' },';
                TreeData = TreeData + ' {';
                TreeData = TreeData + ' "text": "Roles",';
                TreeData = TreeData + ' "href": "", "color": "#004d80", "icon": "icon node-icon fa fa-bookmark",';
                TreeData = TreeData + ' "nodes":[';
                for (var j = 0; j < All_Roaster_Roles.length; j++) {
                    TreeData = TreeData + ' {';
                    TreeData = TreeData + ' "text": " ' + All_Roaster_Roles[j].Role_Name + '",';
                    TreeData = TreeData + ' "href": ""';
                    TreeData = TreeData + ' }';
                    if (j != All_Roaster_Roles.length - 1) TreeData = TreeData + ',';
                }
                TreeData = TreeData + '] ';
                TreeData = TreeData + ' }';
                TreeData = TreeData + '] ';
                if (i != AllParent_Networdks.length - 1) {
                    TreeData = TreeData + '},';
                }
            }
            TreeData = TreeData + '}] ';
            //TREE
            var $Tree_Networks = $('#Tree_Networks').treeview({
                levels: 1,
                //selectedBackColor: "#428bca",
                //onhoverColor: "rgba(0, 0, 0, 0.05)",
                expandIcon: 'ti-plus',
                collapseIcon: 'ti-minus',
                //searchResultColor:"#FFFFFF",
                onNodeSelected: function (event, node) {

                    if (node.parentId == undefined)//main node
                    {
                        
                        $("#rcbNetwork option").each(function () {
                            if ($(this).text() == node.href) {
                                $("#rcbNetwork option:contains(" + $(this).text() + ")").prop('selected', true);
                                $("#rcbNetwork").trigger("change");
                            }
                        });
                        //var url = "/RC/IndustryRoster/P_IndustryNetwork?NetworkID=" + NetworkID + "";
                        //LoadView(url);
                    }

                    else if (node.text == "Personnel") {
                        var url = "/RC/IndustryRoster/P_IndustryPersonnels?NetworkID=" + NetworkID + "";
                        LoadView(url);
                    }
                    else if (node.text == "Addresses") {
                        var url = "/RC/IndustryRoster/GetIndustryAddressByNetwork_AddressID?NetworkID=" + NetworkID + "&AddressID=0";
                        LoadView(url);
                    }
                    else if (node.text == "Roles") {
                        alert("In Progress.....")
                    }
                    else {
                        var parent = $('#Tree_Networks').treeview('getParent', node);
                        if (parent.text == "Personnel") {
                            var url = "/RC/IndustryRoster/P_IndustryPersonnelById?Personnel_ID=" + node.href + "";
                            LoadView(url);
                        }
                        else if (parent.text == "Addresses") {
                            var url = "/RC/IndustryRoster/GetIndustryAddressByNetwork_AddressID?NetworkID=" + NetworkID + "&AddressID=" + node.href + "";
                            LoadView(url);
                        }
                        else if (parent.text == "Roles") {
                            //child
                        }
                        else {
                            var url = "/RC/IndustryRoster/P_IndustryNetworkByID?SiteID=" + node.href + "";
                            LoadView(url);
                        }
                    }


                },
                data: TreeData
            });
            //TREE node selct
            //$Tree_Networks.treeview('selectNode', [0, {
            //    silent: true
            //}]);

            var ddl = document.getElementById("rcbNetwork");
            var NetworkID;
            var NetworkName;
            if (ddl.selectedIndex == 0) {
                NetworkName = ddl[1].value
                NetworkID = ddl[1].text;
            } else {
                NetworkID = ddl[ddl.selectedIndex].text;
                NetworkName = ddl.value;
            }

            var url = "";
            if (localStorage.getItem("IND_URL") == "undefined" || localStorage.getItem("IND_URL") == null) {
                url = "/RC/IndustryRoster/P_IndustryNetwork?NetworkID=" + NetworkID + "";
            }
            else {
                url = localStorage.getItem("IND_URL");
            }

            LoadView(url);

            $("#rcbNetwork").change(function () {
                var ddl = document.getElementById("rcbNetwork");
                if (ddl.selectedIndex == 0) {
                    NetworkName = ddl[1].value
                    NetworkID = ddl[1].text;
                } else {
                    NetworkID = ddl[ddl.selectedIndex].text;
                    NetworkName = ddl.value;
                }
                var url = "/RC/IndustryRoster/P_IndustryNetwork?NetworkID=" + NetworkID + "";
                //$("#divNetwork").wrap("<div class='card-body'></div>");
                //$("#divNetwork").parent().wrap("<div class='card'></div>");
                LoadView(url);
             
                var nodetext = NetworkID.split('-')[0] + ' ' + ddl.value;
                var node = $Tree_Networks.treeview('search',
                    [nodetext, {
                        ignoreCase: false,
                        exactMatch: false
                    }]);

                //$Tree_Networks.treeview('selectNode',
                //    [node[0], {
                //        silent: $('#chk-select-silent').is(':checked')
                //    }]);
                $Tree_Networks.treeview('collapseAll', { silent: true });
                $Tree_Networks.treeview('selectNode', [node[0].nodeId, { silent: true }]);
                $Tree_Networks.treeview('expandNode', [node[0].nodeId, { levels: 1, silent: true }]);

            })
            $('#divNetwork').click(function () {

                if ($('.div_Tree_Networks').hasClass("TreeToggle")) {
                    $('.div_Tree_Networks').removeClass("TreeToggle");
                }
            });
            $(".NetworkTree_toggle").click(function () {

                $('.div_Tree_Networks').slideDown(50);
                $('.div_Tree_Networks').toggleClass("TreeToggle");
            });
        }
        catch (e) {
            alert("Invalid Operation");

        }
    });
</script>
