﻿<div class="addendum">
    <div class="card">
        <div class="card-body section">
            <div class="form-group row">
                <div class="col-md-10 text-info font-weight-bold">
                    Research Site Information
                </div>
                <input type="hidden" id="SiteAddressID" />
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info btnLoadAddress ">Load Address</button>
            </div>
            <div class="form-group row Application">
                <div class="col-md-3">

                    Research Site Code
                </div>
                <div class="col-md-6 row">
                    @*<input type="text" readonly="readonly" class="form-control" id="RCID" />*@
                    <div class="col-md-5"><input type="text" readonly class="form-control" id="RCSiteID1" /></div>
                    <div class="col-md-5"><input type="text" maxlength="3" class="form-control" id="RCSiteID2" /></div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    Name of the Research Site
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="ResearchSiteName" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 1)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" readonly="readonly" id="Address1" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 2)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" readonly="readonly" id="Address2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    Country
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="col-md-2">
                    State/Province
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("State", new SelectList(ViewBag.States, "State_Code", "State_Name"), "--Select--", new { @class = "form-control", disabled = "disabled" })

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    City
                </div>
                <div class="col-md-2">
                    <input id="City" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-2">
                    ZIP/Postal Code
                </div>
                <div class="col-md-2">
                    <input id="ZIP" type="text" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Attention
                </div>
                <div class="col-md-2">
                    <input id="Attention" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-2">
                    Department
                </div>
                <div class="col-md-2">
                    <input id="Department" type="text" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Internal Office
                </div>
                <div class="col-md-2">
                    <input id="InternalOffice" type="text" readonly="readonly" class="form-control" />
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-body section">
            <div class="form-group row ">
                <div class="col-md-10 text-info font-weight-bold">
                    Pharmacy information. Please complete if drug is received or re-distributed at this site.
                </div>
                <input type="hidden" id="SitePharmacyAddressID" />
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info btnLoadAddress ">Load Address</button>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Name of Pharmacy
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="pharmacyname" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 1)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" readonly="readonly" id="PH_Address1" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 2)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" readonly="readonly" id="PH_Address2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    Country
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("PH_Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="col-md-2">
                    State/Province
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("PH_State", new SelectList(ViewBag.States, "State_Code", "State_Name"), "--Select--", new { @class = "form-control", disabled = "disabled" })

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    City
                </div>
                <div class="col-md-2">
                    <input id="PH_City" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-2">
                    ZIP/Postal Code
                </div>
                <div class="col-md-2">
                    <input id="PH_ZIP" type="text" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Phone
                </div>
                <div class="col-md-2">
                    <input id="PH_Phone" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-1">
                    Ext
                </div>
                <div class="col-md-2">
                    <input id="PH_Phone_Ext" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-2">
                    Attention
                </div>
                <div class="col-md-2">
                    <input id="PH_Attention" type="text" readonly="readonly" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Department
                </div>
                <div class="col-md-2">
                    <input id="PH_Department" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-2">
                    Internal Office
                </div>
                <div class="col-md-2">
                    <input id="PH_InternalOffice" type="text" readonly="readonly" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="card  ">
        <div class="card-body">

            <div class="row">
                <div class="offset-md-4 col-md-4 ">
                    <input type="button" id="SubmitAddendum" class="btn btn-info" value="Submit" />
                    <input type="button" class="btn btn-info" data-dismiss-modal="#AddResearchSiteModal" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // on page load
    $(document).ready(function () {
        var rcid = $("#rcbNetworkID").text();
        $(".addendum #RCSiteID1").val(rcid.split("-")[0] + "-");
        $('#RCSiteID2').mask('000');
    });
    function IsRCSiteExists(RCID) {
        var result = "";
        $.ajax({
            async: false,
            type: "POST",
            url: "@Url.Action("IsRCSiteExists", "RCApplication")",
            data: '{RCID: "' + RCID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                result = res;
            },
            failure: function (response) {
                alert('Error');
            }
        });
        return result;
    }
    function GetNxtRCID() {

        var rcid = "";
        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/GetNxtRCID",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {

                if (res.res == 'Success') {
                    rcid = res.RCID;
                }
            },
            failure: function (response) {
                alert('Error');
            }
        });
        return rcid;
    }
    $("#SubmitAddendum").click(function () {

        var objRC = new Object();
        objRC.Parent_ID = $("#rcbNetworkID").text();
        var RCSiteID2 =$(".addendum #RCSiteID2").val()
        if (RCSiteID2 == "" || RCSiteID2 == "000" || RCSiteID2.length<3) {
            alert('Please enter valid Research Site Code. ex:xxxx-xxx.');
            return ;
        }
        objRC.Collaborator_Site_ID = $(".addendum #RCSiteID1").val() + $(".addendum #RCSiteID2").val();
        var ResearchSiteName = $("#ResearchSiteName").val()
        if (ResearchSiteName != "")
            objRC.Collaborator_Site_Name = ResearchSiteName;
        else {
            alert('Please enter Name of Research Site.');
            return ;
        }
       
        var isexsit = IsRCSiteExists(objRC.Collaborator_Site_ID);
        if (isexsit) {
            alert("Research Site Code " + objRC.Collaborator_Site_ID + " already exists for Research Collaborator/Site Addendum");
            return;
        }
        objRC.SID = GetNxtRCID();

        objRC.AddressID = $(".addendum #SiteAddressID").val();
        objRC.Pharmacy_Address_ID = $(".addendum #SitePharmacyAddressID").val();
        objRC.pharmacyname = $(".addendum #pharmacyname").val();
        objRC.isCollaborator = 0;
        objRC.Record_status = 'active';
        objRC.Roaster_Status_ID = 1;
        $.ajax({
            async: false,
            type: "POST",
            url: "/IndustryRoster/SaveAddendumDetailsForTreatingSite",
            data: JSON.stringify(objRC),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert('Treating Site details have been saved successfully');
                //$('#tblTreatingSiteDetails').DataTable().ajax.reload();
                $("#AddResearchSiteModal .close").click();
            },
            failure: function (response) {
                alert('Error');
            }
        });
    });
    $('.btnLoadAddress').click(function () {

        store_div = $(this).parents(".section");
        var url = "/RCApplication/getAddress";
        $("#AddressModalBody").load(url, function () {
            $("#AddressModal").modal("show");
        })
    });
    $("#AddressModalBody").on('click', '#LoadAddress', function () {

        if ($("#tblAddress .chkSelect:checked").length == 1) {
            var table = $('#tblAddress').DataTable();
            var tr = $("#tblAddress .chkSelect:checked").closest('tr');
            var data = table.row(tr).data();
            $(store_div).find(':input').each(function (e) {
                var id = this.id;
                if (id.indexOf('AddressID') > -1)
                    $(this).val(data["Address_ID"]);
                if (id.indexOf('Address1') > -1)
                    $(this).val(data["Address_Line1"]);
                else if (id.indexOf('Address2') > -1)
                    $(this).val(data["Address_Line2"])

                else if (id.indexOf('Country') > -1)
                    $(this).val(data["Country_ID"])
                else if (id.indexOf('State') > -1)
                    $(this).val(data["State_ID"])
                else if (id.indexOf('City') > -1)
                    $(this).val(data["City"])
                else if (id.indexOf('ZIP') > -1)
                    $(this).val(data["ZIP"])
                else if (id.indexOf('Attention') > -1)
                    $(this).val(data["Attention"])
                else if (id.indexOf('Department') > -1)
                    $(this).val(data["Department"])
                else if (id.indexOf('InternalOffice') > -1)
                    $(this).val(data["Internal_Office"])

            });

            $("#AddressModal .close").click();
        }
        else if ($("#tblAddress .chkSelect:checked").length == 0) {
            alert('Please select address to load');
            return;
        }
    });
    $("#AddressModalBody").on('click', '.chkSelect', function () {

        $(".chkSelect").prop("checked", false);
        $(this).prop("checked", true);
    });

</script>
