﻿<div id="NetworkById">
    <div class="form-group row">
        <input type="hidden" id="T1_ID" />
        <div class="col-md-3">
            TS ID:&nbsp;&nbsp;<label id="lblSite_ID">@ViewBag.SiteID</label> <span class="label " id="lblStatus_Name"></span>
        </div>
        <div class="col-md-3 ">
            TS Name:&nbsp;&nbsp;<label id="lblSite_Name"></label>
        </div>
        <div class="col-md-2 ">
            SID:&nbsp;&nbsp;<label id="lblSID"></label>
        </div>
        <div class="col-md-2 ">
            Site Type:&nbsp;&nbsp;<label id="lblSiteType"></label>
        </div>
        <div class="col-md-2 ">
            <a href="#" class="link">Change Status</a>
        </div>
        
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#SiteDetails" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down ">Site Details</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#IDManager" role="tab"><span class="hidden-sm-up"><i class="ti-wallet"></i></span> <span class="hidden-xs-down">ID Manager</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Pharmacy" role="tab"><span class="hidden-sm-up"><i class="ti-rss-alt"></i></span> <span class="hidden-xs-down">Site Activities/Pharmacy</span></a> </li>
    </ul>
    <div class="tab-content tabcontent-border">
        <div class="tab-pane active" id="SiteDetails" role="tabpanel">
            <div class="p-20">
                <div class="form-group row ">
                    <div class="col-md-5">

                        <div class="form-group row">
                            <div class="col-md-6">
                                Site ID
                            </div>
                            <div class="col-md-6">
                                <input type="text" readonly id="txtCollaborator_Site_ID" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                Site Name
                            </div>
                            <div class="col-md-6">
                                <input type="text" readonly id="txtCollaborator_Site_Name" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                Site Type
                            </div>
                            <div class="col-md-6">
                                <input type="text" readonly id="txtSiteType" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                Parent ID
                            </div>
                            <div class="col-md-6">
                                <input type="text" readonly id="txtParent_ID" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="offset-1 vcol-md-5">
                        <div class="form-group row">
                            <div class="col-md-5">
                                Site Address
                            </div>
                            <div class="col-md-7">
                                <textarea readonly id="SiteAddress" rows="8" class="form-control "></textarea>
                                <a href="#" id="lnkSite" disabled class="link float-right btnLoadAddress ">Search Address</a>
                                <input type="hidden" id="SiteAddressID" />

                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <button id="btnModifySite" class="btn btn-info">Modify Site</button>&nbsp;&nbsp;
                    <button id="btnSiteSave" disabled class="btn btn-info">Save</button>

                </div>

                <div class="form-group row text-info font-weight-bold">
                    Site Associations
                </div>
                <div class="row justify-content-center">

                    <table id="tblSiteAssociations" class="display nowrap table table-hover table-responsive table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>SID</th>
                                <th>Site ID</th>
                                <th>Site Type</th>
                                <th>Parents Site ID</th>
                                <th>Status</th>
                                <th>Status Date</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
        <div class="tab-pane " id="IDManager" role="tabpanel">
            <div class="p-20">
                <div class="form-group row">
                </div>
            </div>
        </div>
        <div class="tab-pane " id="Pharmacy" role="tabpanel">
            <div class="p-20">
                <div class="form-group row">
                    <div class="col-md-5">
                        <div class="form-group row">
                            <div class="col-md-6">
                                Central Pharmacy :
                            </div>
                            <div class="col-md-6">
                                <div class="form-check ">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="PharmacyTypeYes" disabled value="Yes" name="PharmacyType" class="custom-control-input form-check-input">
                                        <label class="custom-control-label " for="PharmacyTypeYes">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="PharmacyTypeNo" disabled value="No" name="PharmacyType" class="custom-control-input form-check-input">
                                        <label class="custom-control-label" for="PharmacyTypeNo">No</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="offset-1 col-md-5">
                        <div class="form-group row">
                            <div class="col-md-4">
                                Pharmacy Address :
                            </div>
                            <div class="col-md-8">
                                <input type="hidden" id="PharmacyAddressID" />
                                <textarea id="PharmacyAddress" class="form-control" rows="8" readonly></textarea>
                                <a href="#" id="lnkPharmacyAddress" class="link float-right btnLoadAddress">Search Address</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <button id="btnModifySiteActivities" class="btn btn-info">Modify Site Activities/Pharmacy</button>&nbsp;&nbsp;
                    <button id="btnPharmacySave" disabled class="btn btn-info">Save</button>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="AddressModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog manage popupwidth">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>Address Details</b></h4>
                <button type="button" class="close" data-dismiss-modal="#AddressModal">&times;</button>
            </div>
            <div class="modal-body" id="AddressModalBody">
            </div>
        </div>
    </div>
</div>
<script>
    function BindData(data) {
     
        $("#ID").val(data.ID);
        $("#lblSite_Name").text(data.Collaborator_Site_Name);
        $("#txtCollaborator_Site_ID").val(data.Collaborator_Site_ID);
        $("#txtCollaborator_Site_Name").val(data.Collaborator_Site_Name);
        $("#txtParent_ID").val(data.Parent_ID);
        $("#lblSID").text(data.SID);
        if (data.Status_Name == "Active") {
            $("#lblStatus_Name").text(data.Status_Name).addClass("label-success");
        } else {
            $("#lblStatus_Name").text(data.Status_Name).addClass("label-danger");
        }
        if (data.Collaborator_Site_ID != data.Parent_ID) {
            $("#txtSiteType").val("TS");
            $("#lblSiteType").text("TS");
        }
        else {
            $("#txtSiteType").val("RC");
            $("#lblSiteType").text("RC");
        }
        if (data.PharmacyType == "Central") {
            $("#PharmacyTypeYes").prop("checked", true)
        }
        else if (data.PharmacyType == "Remote") {
            $("#PharmacyTypeNo").prop("checked", true)
        }
        $("#SiteAddressID").val(data.AddressID);
        $("#SiteAddress").val(address(data));
        $("#PharmacyAddressID").val(data.Pharmacy_Address_ID);
        $("#PharmacyAddress").val(Pharmacyaddress(data));

    }
    function address(add) {
        var address = "";
        if (add.Address_Line1 != null)
            address += add.Address_Line1 + "\n";
        if (add.Address_Line2 != null)
            address += add.Address_Line2 + "\n";
        if (add.Country_Name != null)
            address += add.Country_Name + "\n";
        if (add.State_Name != null)
            address += add.State_Name + "\n";
        if (add.City != null)
            address += add.City + "\n";
        if (add.ZIP != null)
            address += add.ZIP + "\n";
        if (add.Attention != null)
            address += add.Attention + "\n";
        if (add.Department != null)
            address += add.Department + "\n";
        if (add.InternalOffice != null)
            address += add.InternalOffice + "\n";
        address += address.replace(/null/g, '');
        return address;

    }
    function Pharmacyaddress(add) {
        var address = "";
        if (add.Pharmacy_Address_Line1 != null)
            address += add.Pharmacy_Address_Line1 + "\n";
        if (add.Pharmacy_Address_Line2 != null)
            address += add.Pharmacy_Address_Line2 + "\n";
        if (add.Pharmacy_Country_Name != null)
            address += add.Pharmacy_Country_Name + "\n";
        if (add.Pharmacy_State_Name != null)
            address += add.Pharmacy_State_Name + "\n";
        if (add.Pharmacy_City != null)
            address += add.Pharmacy_City + "\n";
        if (add.Pharmacy_ZIP != null)
            address += add.Pharmacy_ZIP + "\n";
        if (add.Pharmacy_Attention != null)
            address += add.Pharmacy_Attention + "\n";
        if (add.Pharmacy_Department != null)
            address += add.Pharmacy_Department + "\n";
        if (add.Pharmacy_InternalOffice != null)
            address += add.Pharmacy_InternalOffice + "\n";
        address += address.replace(/null/g, '');
        return address;

    }
    $(document).ready(function () {
       
        $.ajax({
            async: false,
            type: "POST",
            url: '/IndustryRoster/getSiteDetailsBySiteID',
            data: JSON.stringify({ SiteID: '@ViewBag.SiteID' }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                BindData(data);
            },
            failure: function (response) {
                alert('Error');
            }
        });
        var site = $("#lblSite_ID").text();

        $('#tblSiteAssociations').DataTable({
            dom: 'frtip',

            ajax: {
                "url": "/IndustryRoster/getSiteAssociations",
                "type": "POST",
                "data": {
                    "SiteID": site
                },
                "datatype": "json"
            },
            destroy: true,//to over come reintilize problems
            "pageLength": 5,
            "columns": [
                 {
                     "name": "SID",
                     'data': 'SID'
                 }, {
                     "name": "SiteID",
                     'data': 'SiteID'
                 }, {
                     "name": "SiteType",
                     'data': 'SiteType'
                 }, {
                     "name": "ParentSiteID",
                     'data': 'ParentSiteID'
                 }, {
                     "name": "Status_Name",
                     'data': 'Status_Name'
                 }, {
                     "name": "Status_Date",
                     'data': 'Status_Date',
                     render: function (dt) {
                         return JsonToDate(dt);
                     }
                 }
            ]
        });




        $("#btnModifySite").click(function () {
            $("#txtCollaborator_Site_Name").removeAttr("readonly");
            $("#btnSiteSave").removeAttr("disabled");
        });
        $("#btnSiteSave").click(function () {
            var Collaborator = new Object();
            Collaborator.Collaborator_Site_ID = $("#lblSite_ID").text();
            Collaborator.AddressID = $("#SiteAddressID").val();
            if ($("#txtCollaborator_Site_Name").val() != "")
                Collaborator.Collaborator_Site_Name = $("#txtCollaborator_Site_Name").val();
            else {
                alert('Please fill site name.');
                $("#txtCollaborator_Site_Name").focus();
                return;
            }

            $.ajax({
                async: false,
                type: "POST",
                url: '/IndustryRoster/UpdateSiteDetails',
                data: JSON.stringify(Collaborator),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert('Site Details have been updated successfully')
                    $("#txtCollaborator_Site_Name").attr("readonly", true);
                    $("#btnSiteSave").attr("disabled", true);
                },
                failure: function (response) {
                    alert('Error');
                }
            });

        });
        $("#btnModifySiteActivities").click(function () {
            $("#PharmacyTypeYes").removeAttr("disabled");
            $("#PharmacyTypeNo").removeAttr("disabled");
            $("#btnPharmacySave").removeAttr("disabled");
        });
        $("#btnPharmacySave").click(function () {
            var _data = new Object();
            _data.Collaborator_Site_ID = $("#lblSite_ID").text();
            _data.Pharmacy_Address_ID = $("#PharmacyAddressID").val();
            if ($("#PharmacyTypeYes").is(":checked"))
                _data.PharmacyType = "Central";
            else if ($("#PharmacyTypeNo").is(":checked"))
                _data.PharmacyType = "Remote";
            $.ajax({
                async: false,
                type: "POST",
                url: '/IndustryRoster/UpdateSitePharmacyDetails',
                data: JSON.stringify(_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert('Site Activities/Pharmacy updated successfully');
                    $("#PharmacyTypeYes").attr("disabled", true);
                    $("#PharmacyTypeNo").attr("disabled", true);
                    $("#btnPharmacySave").attr("disabled", true);
                },
                failure: function (response) {
                    alert('Error');
                }
            });


        });

        var store_Id;
        $('.btnLoadAddress').click(function () {
         
            store_Id = this.id;
            var url = "/RCApplication/getAddress";
            $("#AddressModalBody").load(url, function () {
                $("#AddressModal").modal({
                    backdrop: "static",
                    autoFocus: true,
                    show: true
                });
            })
        });


        var RowdataAddress;
        $("#AddressModalBody").on('click', '#LoadAddress', function () {
            if ($("#tblAddress .chkSelect:checked").length == 1) {
                var table = $('#tblAddress').DataTable();
                var tr = $("#tblAddress .chkSelect:checked").closest('tr');
                RowdataAddress = table.row(tr).data();
                var address = "";
              
                address = address + RowdataAddress["Address_Line1"] + "\n";
                address = address + RowdataAddress["Address_Line2"] + "\n";
                address = address + RowdataAddress["City"] + "\n";
                address = address + RowdataAddress["State_Name"] + "\n";
                address = address + RowdataAddress["Country_Name"] + "\n";
                address = address + RowdataAddress["ZIP"] + "\n";
                address = address + RowdataAddress["Attention"] + "\n";
                address = address + RowdataAddress["Department"] + "\n";
                address = address + RowdataAddress["Internal_Office"];
                address = address.replace(/null/g, '');

                if (store_Id == "lnkSite") {
                    $("#SiteAddress").val(address);
                    $("#SiteAddressID").val(RowdataAddress["Address_ID"]);
                } else if (store_Id == "lnkPharmacyAddress") {
                    $("#PharmacyAddress").val(address);
                    $("#PharmacyAddressID").val(RowdataAddress["Address_ID"]);
                }
                $("#AddressModal .close").click();
            } else if ($("#tblAddress .chkSelect:checked").length == 0) {
                alert('Please select address to load');
                return;
            }
        });
    });

</script>
