﻿

<div id="divNetwork">
    <div class="form-group row">
        <div class="col-md-4">
            Network ID:&nbsp;&nbsp;<label id="rcbNetworkID"> @ViewBag.NetworkID</label> <span class="label " id="lblNetworkStatus"></span>
        </div>
        <div class="col-md-6 ">
            Network RC Name:&nbsp;&nbsp;<label id="rcbNetworkName"></label>
        </div>
        @*<div class="col-md-2">
                <a class="nav-link NetworkTree_toggle  float-right" title="Network List" href="javascript:void(0)">
                    <span class="label label-info"><i class="ti-world"></i>  Network List</span>
                </a>
            </div>*@
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#Roles" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down ">Primary Roles</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Payments" role="tab"><span class="hidden-sm-up"><i class="ti-wallet"></i></span> <span class="hidden-xs-down">Payments/Contracts</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Treating" role="tab"><span class="hidden-sm-up"><i class="ti-rss-alt"></i></span> <span class="hidden-xs-down">Treating Site</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Personnel" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Personnel Details</span></a> </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content tabcontent-border">
        <div class="tab-pane active" id="Roles" role="tabpanel">
            <div class="p-20">
                <div class="form-group row">
                    <div class="col-md-9">
                        <div class="form-group row">
                            <div class="col-md-1">
                                CSI
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="txtPersonnelID_CSI" readonly class="form-control" />
                            </div>
                            <div class="col-md-3">

                                <input type="text" id="txtName_CSI" readonly class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="txtEmail_CSI" readonly class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="txtPhone_CSI" readonly class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <input type="text" id="txtPhoneExtension_CSI" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1">
                                PC
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="txtPersonnelID_PC" readonly class="form-control" />
                            </div>
                            <div class="col-md-3">

                                <input type="text" id="txtName_PC" readonly class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="txtEmail_PC" readonly class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="txtPhone_PC" readonly class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <input type="text" id="txtPhoneExtension_PC" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1">
                                FC
                            </div>
                            <div class="col-md-2">
                                <input type="text" readonly id="txtPersonnelID_FC" class="form-control" />
                            </div>
                            <div class="col-md-3">

                                <input type="text" readonly id="txtName_FC" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly id="txtEmail_FC" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" readonly id="txtPhone_FC" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <input type="text" readonly id="txtPhoneExtension_FC" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1">
                                CC
                            </div>
                            <div class="col-md-2">
                                <input type="text" readonly id="txtPersonnelID_CC" class="form-control" />
                            </div>
                            <div class="col-md-3">

                                <input type="text" readonly id="txtName_CC" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly id="txtEmail_CC" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" readonly id="txtPhone_CC" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <input type="text" readonly id="txtPhoneExtension_CC" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1">
                                CA
                            </div>
                            <div class="col-md-2">
                                <input type="text" readonly id="txtPersonnelID_CA" class="form-control" />
                            </div>
                            <div class="col-md-3">

                                <input type="text" readonly id="txtName_CA" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly id="txtEmail_CA" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" readonly id="txtPhone_CA" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <input type="text" readonly id="txtPhoneExtension_CA" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="offset-1 col-md-2">
                        <div class="form-group row  ">
                            <div class="text-info font-weight-bold">
                                Update Primary Role
                            </div>
                            <br /><br />
                            <div class="form-group row ">
                                @Html.DropDownList("ddlRole", new SelectList(ViewBag.Roles, "Role_ID", "Role_Name"), "--Select Role--", new { @class = "form-control custome-select" })
                            </div>

                            <div class="form-group row ">
                                <input type="text" class="form-control" id="txtPersonnelwithName" readonly />

                                <a href="#" id="Role_LoadPerson" onclick="btnLoadPerson(this);" class="link ">Search Personnel</a>
                            </div>

                            <div class="form-group row ">
                                <input type="button" class="btn btn-xs btn-block btn-info" id="btnUpdate" value="Update" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header font-weight-bold text-info">
                        Primary Role History
                    </div>
                    <div class="card-body">
                        <div class="form-group row justify-content-center">
                            <table id="tblRoleHistory" class="table table-bordered  info-table ">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Role</th>
                                        <th>IN/SS#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>E-Mail</th>
                                        <th>Role Status</th>
                                        <th>Role Status Date</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane " id="Payments" role="tabpanel">
            <div class="p-20">
                <div class="form-group row">
                    <div class="col-md-4 border">
                        <div class="form-group row">
                            <div class="col-md-4">Legal Name:</div>
                            <div class="col-md-8"><input type="text" readonly id="txtLegalName" placeholder="Legal Name" class="form-control" /></div>

                        </div>
                        <div class="form-group row">
                            <input type="hidden" id="LegalAddressID" value="" />
                            <div class="col-md-4">Legal Address:</div>
                            <div class="col-md-8">
                                <input type="hidden" id="txtLegalAddID" />
                                <textarea readonly id="txtLegalAdd" class="form-control" placeholder="Legal Address"></textarea>
                                <a href="#" id="lnkbtnLegalAddress" class="link float-right btnLoadAddress ">Search Address</a>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4"> Affilation:</div>
                            <div class="col-md-8">
                                <select id="ddlAffilation" disabled class="form-control">
                                    <option value="">-select-</option>
                                    <option value="Member">Member</option>
                                    <option value="Partner">Partner</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group row justify-content-center ">
                            <button id="btnModifyLegal" class="btn btn-info">Modify Legal Info</button>&nbsp;
                            <button id="btnSaveLegalInfo" disabled class="btn btn-info">Save</button>

                        </div>
                    </div>
                    <div class="col-md-8 border">
                        <div class="form-group row">
                            <div class="col-md-2">Payee Name:</div>
                            <div class="col-md-4">
                                <input type="text" readonly id="txtPayeeName" placeholder="Payee Name" class="form-control" />
                            </div>
                            <div class="col-md-2">Check Addressee:</div>
                            <div class="col-md-4">
                                <input type="text" readonly id="txtCheckAddressee" class="form-control" />
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">Tax ID:</div>
                            <div class="col-md-4">
                                <input type="text" readonly id="txtTaxID" class="form-control" />
                            </div>
                            <div class="col-md-2">CA Address:</div>
                            <div class="col-md-4">
                                <input type="hidden" id="txtCAAddressID" />
                                <textarea readonly id="txtCAAddress" class="form-control"></textarea>

                                <a href="#" id="lnkbtnCAAddress" class="link info  float-right btnLoadAddress">Search Address</a>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">Teaching Hospital:</div>
                            <div class="col-md-5 ">
                                <div class="form-check form-check-inline">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="TeachingHospitalChk" value="true" name="TeachingHospital" disabled class="custom-control-input form-check-input">
                                        <label class="custom-control-label " for="TeachingHospitalChk">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="TeachingHospitalUnChk" value="false" name="TeachingHospital" disabled class="custom-control-input form-check-input">
                                        <label class="custom-control-label" for="TeachingHospitalUnChk">No</label>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row justify-content-center">
                            <button id="btnmodifyPayeeInfo" class="btn btn-info">Modify Payee Info</button>&nbsp;
                            <button id="btnsavePayee" disabled class="btn btn-info">Save</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#LegalEntityHistory" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down ">Legal Entity History </span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#PayeeHistory" role="tab"><span class="hidden-sm-up"><i class="ti-wallet"></i></span> <span class="hidden-xs-down">Payee History</span></a> </li>
                    </ul>
                    <div class="tab-content tabcontent-border">
                        <div class="tab-pane active" id="LegalEntityHistory" role="tabpanel">
                            <div class="p-20">
                                <div class="form-group row justify-content-center">
                                    <table id="tblLegalEntityHistory" class="table table-bordered   info-table ">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Legal Name</th>
                                                <th>Legal Address</th>
                                                <th>Effective Date</th>
                                                <th>End Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="PayeeHistory" role="tabpanel">
                            <div class="p-20">
                                <div class="form-group row">
                                    <table id="tblPayeeHistory" class="table table-bordered  info-table">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Payee Name </th>
                                                <th>Tax Id</th>
                                                <th>Teaching Hospital</th>
                                                <th>Check Address</th>
                                                <th>CA Address</th>
                                                <th>Effective Date</th>
                                                <th>End Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="tab-pane" id="Treating" role="tabpanel">
            <div class="p-20">
                <div class="form-group row">
                    <div class="card">
                        <div class="card-header font-weight-bold text-info">
                            Treating Site Details
                        </div>
                        <div class="card-body">
                            <table id="tblTreatingSiteDetails" class="table table-bordered no-wrap table-responsive info-table" width="100%">
                                <thead>
                                    <tr>

                                        <th>SID</th>
                                        <th>Site ID</th>
                                        <th>Site Name</th>
                                        <th>Site Address</th>
                                        <th>Pharmacy Name</th>
                                        <th>Pharmacy Address</th>
                                        <th>Network site Status</th>
                                        <th>Status Date</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="Personnel" role="tabpanel">
            <div class="p-20">
                <div class="card">
                    <div class="card-header font-weight-bold text-info">
                        Personnel Details
                    </div>
                    <div class="card-body">

                        <table id="tblPersonnelDetails" class="table table-bordered no-wrap table-responsive info-table" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Edit</th>
                                    <th>View</th>
                                    <th>Personnel ID</th>
                                    <th>Role</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Network Person Status</th>
                                    <th> Network Person Status Date</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div id="PersonModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog manage popupwidth">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title font-weight-bold"><b>Personnel Details</b></h4>
                    <button type="button" class="close" data-dismiss-modal="#PersonModal">&times;</button>
                </div>
                <div class="modal-body" id="PersonModalBody">
                </div>
            </div>
        </div>
    </div>*@
<div id="EditPersonModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog manage">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>Personnel Details</b></h4>
                <button type="button" class="close" data-dismiss-modal="#EditPersonModal">&times;</button>
            </div>
            <div class="modal-body" id="EditPersonModalBody">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <input type="hidden" id="T007_Roaster_T001_Collaborator_Site_ID" />
                            <input type="hidden" id="Map_Collaborator_Personnel_ID" />
                            <div class="col-md-6 text-right">
                                Personnel ID :
                            </div>
                            <div class="col-md-6">
                                <label id="lblPersonnelID"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 text-right">
                                Role :
                            </div>
                            <div class="col-md-6">
                                <label id="lblPrimaryRole"></label>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 text-right">
                                First Name :
                            </div>
                            <div class="col-md-6">
                                <label id="lblFirstName"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 text-right">
                                Middle Name :
                            </div>
                            <div class="col-md-6">
                                <label id="lblMiddleName"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 text-right">
                                Last Name :
                            </div>
                            <div class="col-md-6">
                                <label id="lblLastName"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 text-right">
                                Phone Number :
                            </div>
                            <div class="col-md-6">
                                <label id="lblPhoneNumber"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 text-right">
                                Fax :
                            </div>
                            <div class="col-md-6">
                                <label id="lblFax"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 text-right">
                                Email ID :
                            </div>
                            <div class="col-md-6">
                                <label id="lblEmailID"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 text-right">
                                Personnel Type :
                            </div>
                            <div class="col-md-6">
                                <label id="lblPersonnelType"></label>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-md-6 text-right">
                                Medical Speciality :
                            </div>
                            <div class="col-md-6">
                                <label id="lblMedicalSpeciality"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 text-right font-weight-bold">
                                Network Person Status :
                            </div>
                            <div class="col-md-6">
                                <select id="ddlPersonnelStatusUpdate" class="form-control">
                                    <option value="">-status-</option>
                                    <option value="Active">Active</option>
                                    <option value="InActive">InActive</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 text-right">
                                Status Date :
                            </div>
                            <div class="col-md-6">
                                <span> <input disabled type="text" class="form-control col-md-8" id="DtStatusDateUpdate" /><i class="icon-calender"></i></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer row justify-content-center">
                <button id="btnUpdatePersonStatus" class="btn btn-info">Update</button>
                <button class="btn btn-info" data-dismiss-modal="#EditPersonModal">Close</button>
            </div>
        </div>
    </div>
</div>
@*<div id="AddressModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog manage popupwidth">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title font-weight-bold"><b>Address Details</b></h4>
                    <button type="button" class="close" data-dismiss-modal="#AddressModal">&times;</button>
                </div>
                <div class="modal-body" id="AddressModalBody">
                </div>
            </div>
        </div>
    </div>*@
<div id="AddResearchSiteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold" id="myModalLabel"><b>Research Site Addendum</b></h4>
                <button type="button" class="close" data-dismiss-modal="#AddResearchSiteModal">&times;</button>
            </div>
            <div class="modal-body" id="AddResearchSiteModalModalBody">
            </div>
        </div>
    </div>
</div>
<script>

    var NetworkID = $("#rcbNetworkID").text();
    var SiteIdentity;
    var NetworkName;
    function Populate_PersonDetails(data) {
        $("#T007_Roaster_T001_Collaborator_Site_ID").val(data["T007_Roaster_T001_Collaborator_Site_ID"]);
        $("#Map_Collaborator_Personnel_ID").val(data["Map_Collaborator_Personnel_ID"]);
        $("#lblPersonnelID").text(data["Personnel_ID"]);
        $("#lblPrimaryRole").text(data["Role_Name"]);
        $("#lblFirstName").text(data["First_Name"]);
        $("#lblMiddleName").text(data["Middle_Name"]);
        $("#lblLastName").text(data["Last_Name"]);
        $("#lblPhoneNumber").text(data["Phone"]);
        $("#lblFax").text(data["Fax"]);
        $("#lblEmailID").text(data["Email"]);
        $("#lblPersonnelType").text(data["Type_Personnel"]);
        $("#lblMedicalSpeciality").text(data["Medical_Speciality"]);
        $("#ddlPersonnelStatusUpdate").val(data["StatusName"]);
    }
    function EditPersonnelDetails(id) {
       
        $("#DtStatusDateUpdate").datepicker();
        $('#DtStatusDateUpdate').datepicker('setDate', new Date());
        var tr = $(id).closest('tr');
        var tbl = $('#tblPersonnelDetails').DataTable();
        var data = tbl.row(tr).data();
        var Role_Name = data["Role_Name"];
        if (id.id == 'edit') {
            if (Role_Name == "" || Role_Name == null) {
            }
            else {
                alert('The person associated with the primary role, assign the role another person to update the person status.');
                return;
            }
            $("#ddlPersonnelStatusUpdate").prop("disabled", false);
        }
        else if (id.id == 'View') {
            $("#ddlPersonnelStatusUpdate").prop("disabled", true);
        }


        Populate_PersonDetails(data);
        $("#EditPersonModal").modal({
            backdrop: "static",
            autoFocus: true,
            show: true
        });


    }
    function btnLoadPerson(id) {
        var url = "/RCApplication/LoadPersonnelDetails";
        $("#PersonModalBody").load(url, function () {
            $("#PersonModal").modal({
                backdrop: "static",
                autoFocus: true,
                show: true
            });
            if (id.id == "Role_LoadPerson")
                $("#LoadPerson").val("Load");
            else if (id[0].node.textContent == "Associate Personnel")
                $("#LoadPerson").val("Associate");
        }

        );

    };
    function LoadPersonnels(NetworkID) {
        $.ajax({
            async: false,
            type: "POST",
            url: '/IndustryRoster/getPersonnelByNetworkID',
            data: JSON.stringify({
                NetworkID: NetworkID
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                FillPersonnels(data);
            },
            failure: function (response) {
                alert('Error');
            }
        });
    }
    function FillPersonnels(data) {
        for (var i = 0; i < data.length; i++) {
            var fname = function () {
                if (data[i].F_Name) return data[i].F_Name
                else " "
            };
            var mname = function () {
                if (data[i].M_Initials != null) return data[i].M_Initials
                else ""
            };
            var lname = function () {
                if (data[i].L_Name) return data[i].L_Name
                else " "
            };
            if (data[i].T022_Roaster_Roles_ID == 1) {
                $("#txtPersonnelID_CSI").val(data[i].Personnel_ID)
                $("#txtName_CSI").val(fname() + " " + mname() + " " + lname())
                $("#txtEmail_CSI").val(data[i].Email)
                $("#txtPhone_CSI").val(data[i].Phone)
                $("#txtPhoneExtension_CSI").val(data[i].Phone_Ext)
            }
            if (data[i].T022_Roaster_Roles_ID == 2) {
                $("#txtPersonnelID_PC").val(data[i].Personnel_ID)
                $("#txtName_PC").val(fname() + " " + mname() + " " + lname())
                $("#txtEmail_PC").val(data[i].Email)
                $("#txtPhone_PC").val(data[i].Phone)
                $("#txtPhoneExtension_PC").val(data[i].Phone_Ext)
            }
            if (data[i].T022_Roaster_Roles_ID == 3) {
                $("#txtPersonnelID_FC").val(data[i].Personnel_ID)
                $("#txtName_FC").val(fname() + " " + mname() + " " + lname())
                $("#txtEmail_FC").val(data[i].Email)
                $("#txtPhone_FC").val(data[i].Phone)
                $("#txtPhoneExtension_FC").val(data[i].Phone_Ext)
            }
            if (data[i].T022_Roaster_Roles_ID == 4) {
                $("#txtPersonnelID_CC").val(data[i].Personnel_ID)
                $("#txtName_CC").val(fname() + " " + mname() + " " + lname())
                $("#txtEmail_CC").val(data[i].Email)
                $("#txtPhone_CC").val(data[i].Phone)
                $("#txtPhoneExtension_CC").val(data[i].Phone_Ext)
            } else if (data[i].T022_Roaster_Roles_ID == 5) {
                $("#txtPersonnelID_CA").val(data[i].Personnel_ID)
                $("#txtName_CA").val(fname() + " " + mname() + " " + lname())
                $("#txtEmail_CA").val(data[i].Email)
                $("#txtPhone_CA").val(data[i].Phone)
                $("#txtPhoneExtension_CA").val(data[i].Phone_Ext)
            }
        }
    }
    function getNetworkDeailsByNetworkID(NetworkID) {
        $.ajax({
            async: false,
            type: "POST",
            url: '/IndustryRoster/getNetworkDeailsByNetworkID',
            data: JSON.stringify({
                NetworkID: NetworkID
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                FillNetworkDeailsByNetworkID(data[0]);
            },
            failure: function (response) {
                alert('Error');
            }
        });
    }
    function FillNetworkDeailsByNetworkID(data) {
        ////////////////////////////////////////////
        //tblRoleHistory
        SiteIdentity = data.ID;
        var siteid = data.ID;

        var tblRCDetails = $('#tblRoleHistory').DataTable({
            ajax: {
                async: false,
                type: "POST",
                url: "/IndustryRoster/getRoleHistoryBySiteID?SiteID=" + siteid + "",
                datatype: "json"
            },
            dom: 'frtip',
            destroy: true,
            "pageLength": 5,
            "order": [
                [
                    0, "desc"
                ]
            ],
            "bFilter": true,
            "columns": [{
                "name": "History_ID",
                'data': 'History_ID',
                visible: false
            }, {
                "name": "Role",
                'data': 'Role_Name'
            }, {
                "name": "Personnel_ID",
                'data': 'Personnel_ID'
            }, {
                "name": "F_Name",
                'data': 'F_Name'
            }, {
                "name": "L_Name",
                'data': 'L_Name'
            }, {
                "name": "Email",
                'data': 'Email'
            }, {
                "name": "StatusName",
                'data': 'StatusName'
            }, {
                "name": "StatusDate",
                'data': 'StatusDate',
                render: function (dt) {
                    return JsonToDate(dt);
                }
            }]
        });

        ////////////////////////////////////////////////
        //tblTreatingSiteDetails
        $.ajax({
            async: false,
            type: "POST",
            url: '/IndustryRoster/GetAddendumDetailsFortreatingSiteByNetworkID',
            data: JSON.stringify({
                NetworkID: NetworkID
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                tblRCDetails = $('#tblTreatingSiteDetails').DataTable({
                    data: res,
                    dom: 'Bfrtip',
                    destroy: true,
                    "pageLength": 5,
                    "ordering": false,
                    "bFilter": true,
                    "columns": [{
                        "name": "SID",
                        'data': "SID"
                    }, {
                        "name": "Site_ID",
                        'data': 'Site_ID'
                    }, {
                        "name": "Site_Name",
                        'data': 'Site_Name'
                    }, {
                        "name": "SiteAddress",
                        'data': 'SiteAddress'
                    }, {
                        "name": "Pharmacy_Name",
                        'data': 'Pharmacy_Name'
                    }, {
                        "name": "Pharmacy_Address",
                        'data': 'Pharmacy_Address'
                    }, {
                        "name": "Status_Name",
                        'data': 'Status_Name'
                    }, {
                        "name": "StatusDate",
                        'data': 'StatusDate',
                        render: function (dt) {
                            return JsonToDate(dt);
                        }
                    }],
                    buttons: ['excel',
                        {
                            text: 'Add Treating Site',
                            action: function () {
                                var url = "/RC/IndustryRoster/p_AddendumsForTreatingSite";
                                $("#AddResearchSiteModalModalBody").load(url, function () {
                                    $("#AddResearchSiteModal").modal({
                                        backdrop: "static",
                                        autoFocus: true,
                                        show: true
                                    });

                                });
                            }
                        }]
                })
                $(".dt-button").removeClass('dt-button').addClass('btn btn-info')
            },
            failure: function (response) {
                alert('Error');
            }
        });
        //////////////////////
        //ataaa
        $.ajax({
            async: false,
            type: "POST",
            url: '/IndustryRoster/getCAAddressDetailsByNetworkID',
            data: JSON.stringify({
                NetworkID: NetworkID
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (d) {
                $("#txtCAAddress").val(d[0].CA_Address);
                $("#txtCAAddressID").val(d[0].CAAddressID);
            },
            failure: function (response) {
                alert('Error');
            }
        });
        ////////////////////////////////////////////////
        //tblPersonnelDetails
        $.ajax({
            async: false,
            type: "POST",
            url: '/IndustryRoster/GetPersonnelToNetworkDetails',
            data: JSON.stringify({
                NetworkID: siteid,
                isShowAll: false
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (d) {
                tblRCDetails = $('#tblPersonnelDetails').DataTable({
                    data: d.data,
                    dom: 'Bfrtip',
                    destroy: true,
                    "pageLength": 5,
                    "bFilter": true,
                    "order": [
                        [
                            0, "desc"
                        ]
                    ],
                    "columns": [{
                        "name": "order",
                        'data': 'order',
                        visible: false
                    }, {
                        "name": "Edit",
                        'data': null,
                        render: function (dd) {
                            return "<a href='#' id='edit' onclick='EditPersonnelDetails(this);'><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil '></i></a>";
                        }
                    }, {
                        "name": "View",
                        'data': null,
                        render: function (dd) {
                            return "<a href='#' id='View' onclick='EditPersonnelDetails(this);'><i style='color:indianred;font-weight:bold' title='View' class='ti-eye'></i></a>";
                        }
                    }, {
                        "name": "Personnel_ID",
                        'data': 'Personnel_ID'
                    }, {
                        "name": "Role_Name",
                        'data': 'Role_Name'
                    }, {
                        "name": "First_Name",
                        'data': 'First_Name'
                    }, {
                        "name": "Middle_Name",
                        'data': 'Middle_Name'
                    }, {
                        "name": "Last_Name",
                        'data': 'Last_Name'
                    }, {
                        "name": "Email",
                        'data': 'Email'
                    }, {
                        "name": "StatusName",
                        'data': 'StatusName'
                    }, {
                        "name": "StatusDate",
                        'data': 'StatusDate',
                        render: function (dt) {
                            return JsonToDate(dt);
                        }
                    }],
                    buttons: [{
                        text: 'Refresh',
                        action: function () { }
                    }, {
                        text: 'Show All',
                        action: function (
                            ) { }
                    }, 'excel', {
                        text: 'Associate Personnel',

                        action: function () {
                            //$('.btnLoadPerson').trigger("click");
                            btnLoadPerson(this);
                            // $("#LoadPerson").val("Associate");//change value

                            $('.modal-header b').text("Associate Personnel - " + NetworkID + "")
                        }
                    }]
                })
                $(".dt-button").removeClass('dt-button').addClass(' btn btn-info');
            },
            failure: function (response) {
                alert('Error');
            }
        });

        ////////////////////////////////////////////
        //tblLegalEntityHistory
        fnlLegalEntityHistory(siteid);

        ////////////////////////////////////////////
        //tblPayeeHistory

        fnPayeeHistory(siteid);


        ///////////////////////////////////////////////////////////////
        if (data.Status_Name == "Active") {
            $("#lblNetworkStatus").text(data.Status_Name).addClass("label-success");
        } else {
            $("#lblNetworkStatus").text(data.Status_Name).addClass("label-danger");
        }
        $("#lblNetworkStatus").text(data.Status_Name);
        $("#txtTaxID").val(data.TaxIdentificationNo);
        $("#txtPayeeName").val(data.PayeeName);
        $("#txtLegalName").val(data.LeagalName);
        $("#LegalAddressID").val(data.LeagalAddressID);
        if (data.TeachingHospital) {
            $("#TeachingHospitalChk").prop("checked", true);
        } else {
            $("#TeachingHospitalUnChk").prop("checked", true);
        }
        var address = "";

        address = address + data.LA_Address_Line1 + "\n";
        address = address + data.LA_Address_Line2 + "\n";
        address = address + data.LA_T3_CountryName + "\n";
        address = address + data.LA_T3_State_Name + "\n";
        address = address + data.LA_City + "\n";
        address = address + data.LA_ZIP + "\n";
        address = address + data.LA_Attention + "\n";
        address = address + data.LA_Department + "\n";
        address = address + data.LA_InternalOffice + "\n";
        address = address + data.LA_Attention;
        address = address.replace(/null/g, '');
        $("#txtLegalAdd").text(address);
        $("#txtCheckAddressee").val(data.CheckAddressee);
        $("#ddlAffilation").val(data.Affiliation);
    }
    function fnPayeeHistory(siteid) {
      
        $.ajax({
            async: false,
            type: "POST",
            url: "/IndustryRoster/getPayments_HistoryBySiteID?SiteID=" + siteid + "",
            //data: JSON.stringify({ SiteID: siteid })
            datatype: "json",
            success: function (d) {
               

                tblPayeeHistory = $('#tblPayeeHistory').DataTable({
                    data: d,
                    dom: 'frtip',
                    "order": [
                        [
                            0, "desc"
                        ]
                    ],
                    "pageLength": 5,
                    destroy: true,
                    "bFilter": true,
                    "columns": [{
                        "name": "History_ID",
                        'data': 'History_ID',
                        visible: false
                    }, {
                        "name": "Payee_Name",
                        'data': 'Payee_Name'
                    }, {
                        "name": "Tax_ID",
                        'data': 'Tax_ID'
                    }, {
                        "name": "Teaching_Hosital",
                        'data': 'Teaching_Hosital'
                    }, {
                        "name": "Check_Addressess",
                        'data': 'Check_Addressess'
                    }, {
                        //"className": 'font-10',
                        // "orderable": false,
                        "name": "CA_Address",
                        'data': 'Legal_Address'
                    }, {
                        "name": "Payment_Effective_Date",
                        'data': 'Payment_Effective_Date',
                        render: function (dt) {
                            return JsonToDate(dt);
                        }
                    }, {
                        "name": "Payment_End_Date",
                        'data': 'Payment_End_Date',
                        render: function (dt) {
                            return JsonToDate(dt);
                        }
                    }]
                })
            },
            failure: function (response) {
                alert('Error');
            }
        });
    }
    function fnlLegalEntityHistory(siteid) {
        $.ajax({
            async: false,
            type: "POST",
            url: "/IndustryRoster/getContractsHistoryBySiteID?SiteID=" + siteid + "",
            //data: JSON.stringify({ SiteID: siteid })
            datatype: "json",
            success: function (d) {
                tblLegalEntityHistory = $('#tblLegalEntityHistory').DataTable({
                    data: d,
                    dom: 'frtip',
                    destroy: true,
                    "pageLength": 5,
                    "order": [
                        [
                            0, "desc"
                        ]
                    ],
                    "bFilter": true,
                    "columns": [{
                        "name": "History_ID",
                        'data': 'History_ID',
                        visible: false
                    }, {
                        "name": "Legal_name",
                        'data': 'Legal_name'
                    }, {
                        "name": "Legal_Address",
                        'data': 'Legal_Address'
                    }, {
                        "name": "Effective_Date",
                        'data': 'Effective_Date',
                        render: function (dt) {
                            return JsonToDate(dt);
                        }
                    }, {
                        "name": "EndDate",
                        'data': 'EndDate',
                        render: function (dt1) {
                            if (dt1 != null) {
                                var date = eval(dt1.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));
                                return date.toLocaleDateString();
                            } else {
                                return "";
                            }
                        }
                    }]
                })
            },
            failure: function (response) {
                alert('Error');
            }
        });
    }
    $(document).ready(function () {
        var ddl = document.getElementById("rcbNetwork");
        if (ddl.selectedIndex == 0) {
            NetworkName = ddl[1].value
            NetworkID = ddl[1].text;
        } else {
            NetworkID = ddl[ddl.selectedIndex].text;
            NetworkName = ddl.value;
        }
        $("#rcbNetworkName").text(NetworkName)
        $('#txtTaxID').mask('00-0000000');
        //var node = $('#Tree_Networks').treeview('getNode', 0);
        //$("#rcbNetworkName").text(node.text);
        //$("#rcbNetworkID").text(node.href);
        LoadPersonnels(NetworkID);
        getNetworkDeailsByNetworkID(NetworkID)
        var Rowdata;
        //for role change and treatinmg site
        $("#PersonModalBody").on('click', '#LoadPerson', function () {
            if ($("#tblRcPersonnelDetails .chkSelect:checked").length == 1) {
                var table = $('#tblRcPersonnelDetails').DataTable();
                var tr = $("#tblRcPersonnelDetails .chkSelect:checked").closest('tr');
                Rowdata = table.row(tr).data();
                if ($("a[href='#Roles']").hasClass("active", "show"))//for role tab
                {
                    $("#txtPersonnelwithName").val(Rowdata["Personnel_ID"] + " " + Rowdata["F_Name"] + " " + Rowdata["M_Initials"] + Rowdata["L_Name"]);

                } else {

                }

                $("#PersonModal .close").click();
            } else if ($("#tblRcPersonnelDetails .chkSelect:checked").length == 0) {
                alert('Please select person to load');
                return;
            }
        });
        $("#btnUpdate").click(function () {

            if ($("#ddlRole").val() == "") {
                alert("Please select Role.");
                $("#ddlRole").focus();
                return false;
            }
            if ($("#txtPersonnelwithName").val() == "") {
                alert("Please load Search Personnel Details");
                $("#txtPersonnelwithName").focus();
                return false;
            }
            var DDLRole = document.getElementById("ddlRole");
            var Role = DDLRole[DDLRole.selectedIndex].text;
            var RoleID = $("#ddlRole").val();
            if ($("#txtPersonnelID_" + Role + "").val() == Rowdata["Personnel_ID"]) {
                alert("Primary Role selected is already associated to the person. Please select other person to update.");
                $("#txtPersonnelwithName").val("");
                return false;
            }
            $.ajax({
                async: false,
                type: "POST",
                url: '/IndustryRoster/USP5_Update_PrimaryRole',
                data: JSON.stringify({
                    network: SiteIdentity,
                    role: RoleID,
                    person: Rowdata["ID"]
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert('Primary Role details have been updated successfully.');
                    Rowdata = null;
                    //$("#rcbNetwork").trigger("change");
                    $("#txtPersonnelwithName").val("");
                    $("#ddlRole").val("");
                    $('#tblRoleHistory').DataTable().ajax.reload();
                    LoadPersonnels(NetworkID);
                },
                failure: function (response) {
                    alert('Error');
                }
            });
        });
        var store_Id;
        $('.btnLoadAddress').click(function () {
            store_Id = this.id;
            var url = "/RCApplication/getAddress";
            $("#AddressModalBody").load(url, function () {
                $("#AddressModal").modal({
                    backdrop: "static",
                    autoFocus: true,
                    show: true
                });
            })
        });
        var RowdataAddress;
        $("#AddressModalBody").on('click', '#LoadAddress', function () {
            if ($("#tblAddress .chkSelect:checked").length == 1) {
                var table = $('#tblAddress').DataTable();
                var tr = $("#tblAddress .chkSelect:checked").closest('tr');
                RowdataAddress = table.row(tr).data();
                var address = "";

                address = address + RowdataAddress["Address_Line1"] + "\n";
                address = address + RowdataAddress["Address_Line2"] + "\n";
                address = address + RowdataAddress["City"] + "\n";
                address = address + RowdataAddress["State_Name"] + "\n";
                address = address + RowdataAddress["Country_Name"] + "\n";
                address = address + RowdataAddress["ZIP"] + "\n";
                address = address + RowdataAddress["Attention"] + "\n";
                address = address + RowdataAddress["Department"] + "\n";
                address = address + RowdataAddress["Internal_Office"];
                address = address.replace(/null/g, '');
                if (store_Id == "lnkbtnLegalAddress") {
                    $("#txtLegalAdd").val(address);
                } else if (store_Id == "lnkbtnCAAddress") {
                    $("#txtCAAddress").val(address);
                }
                $("#AddressModal .close").click();
            } else if ($("#tblAddress .chkSelect:checked").length == 0) {
                alert('Please select address to load');
                return;
            }
        });
        $("#btnModifyLegal").click(function () {
            $("#txtLegalName").removeAttr("readonly");
            $("#ddlAffilation").removeAttr("disabled");
            $("#btnSaveLegalInfo").removeAttr("disabled");
        });
        $("#btnmodifyPayeeInfo").click(function () {
            $("#txtTaxID").removeAttr("readonly");
            $("#txtPayeeName").removeAttr("readonly");
            $("#btnsavePayee").removeAttr("disabled");
            $("input[name='TeachingHospital']").removeAttr("disabled");
        });
        $("#btnSaveLegalInfo").click(function () {
            var obj = new Object();
            obj.LeagalName = $("#txtLegalName").val();
            if (RowdataAddress != undefined) obj.LeagalAddressID = RowdataAddress["Address_ID"];
            obj.ID = SiteIdentity;
            if ($("#ddlAffilation").val() != "") obj.Affiliation = $("#ddlAffilation").val();
            $.ajax({
                async: false,
                type: "POST",
                url: '/IndustryRoster/Update_Roaster_Collaborator_Legal_Details',
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        alert('Legal details have been Updated successfully.');
                        $("#txtLegalName").prop("readonly", "readonly");
                        $("#ddlAffilation").prop("disabled", "disabled");
                        $("#btnSaveLegalInfo").prop("disabled", "disabled");
                       
                        RowdataAddress = "";
                        fnlLegalEntityHistory(SiteIdentity);
                    } else alert('Invalid Operation.');
                },
                failure: function (response) {
                    alert('Error');
                }
            });
        });
        $("#btnsavePayee").click(function () {
            var obj = new Object();
            obj.PayeeName = $("#txtPayeeName").val();
            obj.CheckAddressee = $("#txtCheckAddressee").val();
            obj.TaxIdentificationNo = $("#txtTaxID").val();
            if (RowdataAddress != undefined) obj.CAAddress = RowdataAddress["Address_ID"];
            obj.ID = SiteIdentity;
            if ($("#TeachingHospitalChk").is(":checked")) {
                obj.TeachingHospital = true;
            } else if ($("#TeachingHospitalUnChk").is(":checked")) {
                obj.TeachingHospital = false;
            } else {
                obj.TeachingHospital = null;
            }
            $.ajax({
                async: false,
                type: "POST",
                url: '/IndustryRoster/Update_Roaster_Collaborator_Details',
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        alert('Payee details have been Updated successfully.');
                        $("#txtTaxID").prop("readonly", "readonly");
                        $("#txtPayeeName").prop("readonly", "readonly");
                        $("#btnsavePayee").prop("disabled", "disabled");
                        $("input[name='TeachingHospital']").prop("disabled", "disabled");
                        RowdataAddress = "";


                        fnPayeeHistory(SiteIdentity);
                    } else alert('Invalid Operation.');
                },
                failure: function (response) {
                    alert('Error');
                }
            });
        });
        $("#btnUpdatePersonStatus").click(function () {
            var objRC = new Object();
            if ($("#ddlPersonnelStatusUpdate").val() == "") {
                alert('Please select status.')
                return;
            }
            objRC.StatusID = $("#ddlPersonnelStatusUpdate").val();
            objRC.StatusDate = $("#DtStatusDateUpdate").val();
            objRC.Map_Collaborator_Personnel_ID = $("#Map_Collaborator_Personnel_ID").val();
            objRC.T007_Roaster_T001_Collaborator_Site_ID = $("#T007_Roaster_T001_Collaborator_Site_ID").val();
            $.ajax({
                async: false,
                type: "POST",
                url: '/IndustryRoster/UpdatePersonnelStatus',
                data: JSON.stringify(objRC),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        alert('Status updated successfully.');
                    } else alert('Invalid Operation.');
                },
                failure: function (response) {
                    alert('Error');
                }
            });

        });
    });
</script>