﻿
<div id="NetworkById">
    <div class="form-group row">
        <input type="hidden" id="T212_ID" />
        <div class="col-md-3">
            Person ID:&nbsp;&nbsp;<label id="lblPersonID">@ViewBag.Personnel_ID</label> <span class="label label-success " id="lblStatus_Name">Active</span>
        </div>
        <div class="col-md-3 ">
            First Name:&nbsp;&nbsp;<label id="lblFirstName"></label>
        </div>
        <div class="col-md-2 ">
            Last Name:&nbsp;&nbsp;<label id="lblLastName"></label>
        </div>
        <div class="col-md-3 ">
            Person Type:&nbsp;&nbsp;<label id="lblPersonType"></label>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#PersonDetails" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down ">Person Details</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#PersonSiteAssociations" role="tab"><span class="hidden-sm-up"><i class="ti-wallet"></i></span> <span class="hidden-xs-down">Person Site Association</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#PersonRolesAddresses" role="tab"><span class="hidden-sm-up"><i class="ti-rss-alt"></i></span> <span class="hidden-xs-down">Person Roles/Addresses</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#PersonTrails" role="tab"><span class="hidden-sm-up"><i class="ti-rss-alt"></i></span> <span class="hidden-xs-down">Person Trails</span></a> </li>
    </ul>
    <div class="tab-content tabcontent-border">
        <div class="tab-pane active" id="PersonDetails" role="tabpanel">
            <div class="p-20">
                <div class="form-group row ">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-md-4">
                                Person ID:
                            </div>
                            <div class="col-md-8">
                                <input type="text" readonly id="txtPersonID" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                Person Type:
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownList("ddlPersontype", new SelectList(ViewBag.Persontype, "ID", "Name"), "Select Persontype", new { @class = "form-control", disabled = "disabled" })    @*@Html.DropDownList("desf")*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                Salutation:
                            </div>
                            <div class="col-md-8">
                                <input type="text" readonly id="txtSalutation" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                FN:
                            </div>
                            <div class="col-md-8">
                                <input type="text" readonly id="txtFN" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                MI:
                            </div>
                            <div class="col-md-8">
                                <input type="text" readonly id="txtMI" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                LN:
                            </div>
                            <div class="col-md-8">
                                <input type="text" readonly id="txtLN" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                suffix:
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownList("ddlSuffix", new SelectList(ViewBag.SuffixTypes, "ID", "Suffix_Name"), "Select Suffix", new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                Status:
                            </div>
                            <div class="col-md-8">
                                @Html.DropDownList("ddlPersonnelStatus", new SelectList(ViewBag.Status, "StatusID", "StatusName"), "Select Status", new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                Status Date:
                            </div>
                            <div class="col-md-8">
                                <input type="text" readonly id="dtStatusDate" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="offset-1 col-md-6">
                        <div class="form-group row">
                            <div class="col-md-2">
                                Degrees:
                            </div>
                            <div class="col-md-10 form-group row">
                                @foreach (var item in ViewBag.Degrees)
                                {
                                    <div class="col-md-2 custom-control custom-checkbox align-content-center ">
                                        <input type="checkbox" id="De_@item.Name" value="@item.ID" disabled class="custom-control-input degree">
                                        <label class="custom-control-label" for="De_@item.Name">@item.Name </label>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                Medical Speciality:
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownList("ddlMedicalSpeciality", new SelectList(ViewBag.MedicalSpeciality, "ID", "Name"), "Select MedicalSpeciality", new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                Phone:
                            </div>
                            <div class="col-md-5">
                                <input type="text" readonly id="txtPhone" class="form-control" value="" />
                            </div>
                            <div class="col-md-2">
                                Ext:
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly id="txtExt" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                Email:
                            </div>
                            <div class="col-md-7">
                                <input type="text" readonly id="txtEmail" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                Address:
                            </div>
                            <div class="col-md-7">
                                <textarea readonly id="PersonnelAddress" rows="8" class="form-control "></textarea>
                                <a href="#" id="lnkSite" disabled class="link float-right btnLoadAddress ">Search Address</a>
                                <input type="hidden" id="PersonnelAddressID" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <button id="btnEditPerson" class="btn btn-info">Edit Person</button>&nbsp;&nbsp;
                    <button id="btnUpdate" disabled class="btn btn-info">Save</button>

                </div>
            </div>
        </div>
        <div class="tab-pane " id="PersonSiteAssociations" role="tabpanel">
            <div class="p-20">
                <div class="form-group row">
                    <div class="col-md-10">
                        <div class="form-group row">
                            <div class="col-md-3">
                                Person Id:
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly id="txtSiteAssociation_PersonID" class="form-control" value="" />
                            </div>
                            <div class="col-md-3">
                                Network:
                            </div>
                            <div class="col-md-3">

                                @Html.DropDownList("ddlStatus", new SelectList(ViewBag.AllNetworks, "Parent_ID", "Parent_ID"), "Select Network", new { @class = "form-control" })
                                @*@Html.DropDownList("desf")*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                status:
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("ddlStatus", new SelectList(ViewBag.Status, "StatusID", "StatusName"), "Select Status", new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                Date:
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly id="txtParent_ID" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button id="btnSiteSave" disabled class="btn btn-info">Add Association</button>
                    </div>
                </div>
                @*<div class="form-group row">
                        <div class="row justify-content-center">
                            <table id="tblSiteAssociations" class="display nowrap table table-hover table-responsive table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Person ID</th>
                                        <th>Network ID</th>
                                        <th>Status</th>
                                        <th>Status Date</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>*@
            </div>
        </div>
        <div class="tab-pane " id="PersonRolesAddresses" role="tabpanel">
            <div class="p-20">
                <div class="form-group row">
                    <div class="row justify-content-center">
                        <table id="tblPerson_RolesAddress" class="nowrap table table-hover table-responsive table-striped table-bordered" width="90%">
                            <thead>
                                <tr>
                                    <th>Person ID</th>
                                    <th>Network </th>
                                    <th>Network Role</th>
                                    <th>Address</th>
                                    <th>Effective Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane " id="PersonTrails" role="tabpanel">
            <div class="p-20">
                <div class="form-group row">
                    <div class="row justify-content-center">
                        @*<table id="tblSiteAssociations" class="display nowrap table table-hover table-responsive table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Person ID</th>
                                        <th>Network </th>
                                        <th>site ID</th>
                                        <th>Investigator Role</th>
                                        <th>PI Id</th>
                                    </tr>
                                </thead>
                            </table>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="AddressModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog manage popupwidth">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>Address Details</b></h4>
                <button type="button" class="close" data-dismiss-modal="#AddressModal">&times;</button>
            </div>
            <div class="modal-body" id="AddressModalBody">
            </div>
        </div>
    </div>
</div>
<script>
    function BindData(data) {
        
        $("#T212_ID").val(data.ID);
        $("#lblFirstName").text(data.F_Name);
        $("#lblLastName").text(data.L_Name);
        $("#txtPersonID").val(data.Personnel_ID);
        $("#txtFN").val(data.F_Name);
        $("#txtMI").val(data.M_Initials);
        $("#txtLN").val(data.L_Name);
        $("#txtPhone").val(data.Phone);
        $("#txtExt").val(data.Phone_Ext);
        $("#txtEmail").val(data.Email);
        
        if (data.T200_Person_Type_ID != "") {
            $("#ddlPersontype").val(data.T200_Person_Type_ID);
            $("#lblPersonType").text($("#ddlPersontype option:selected").text());
        }
        if (data.T201_MedicalSpl_ID != "") {
            $("#ddlMedicalSpeciality").val(data.T201_MedicalSpl_ID);
        }
        if (data.T202_Suffix_ID != "") {
            $("#ddlSuffix").val(data.T202_Suffix_ID);
        }
        $("#txtSalutation").val(data.Salutation);
        $("#PersonnelAddressID").val(data.AddressID);
        $("#PersonnelAddress").val(address(data));


        $("#txtSiteAssociation_PersonID").val(data.Personnel_ID);
        $("#ddlPersonnelStatus option").filter(function () {
            return $(this).text() == data.StatusName;
        }).prop("selected", true);
        if (data.T21_Person_Type_ID != "" && data.T21_Person_Type_ID != null) {
            $("#dtStatusDate").val(data.StatusDate);
        }
        else {
            $("#dtStatusDate").datepicker('setDate', 'today');

        }
        $('#tblPerson_RolesAddress').DataTable({
            dom: 'frtip',
            ajax: {
                "url": "/IndustryRoster/GetAddressRolesBYPersonID",
                "type": "POST",
                "data": {
                    "Personnel_ID": data.Personnel_ID
                },
                "datatype": "json"
            },
            destroy: true,//to over come reintilize problems
            "pageLength": 5,
            "columns": [
                       {
                           "name": "Personnel_ID",
                           'data': 'Personnel_ID'
                       }, {
                           "name": "Collaborator_Site_ID",
                           'data': 'Collaborator_Site_ID'
                       }, {
                           "name": "RoleName",
                           'data': 'RoleName'
                       }, {

                           "name": "address",
                           'data': null,
                           render: function (data, type, row, meta) {
                              
                               var res=data.address;
                               res=res.replace(/\\n/g,"<br/>")
                               return res ;
                           }
                       }, {
                           "name": "CreatedOn",
                           'data': 'CreatedOn',
                           render: function (dt) {
                               return JsonToDate(dt);
                           }
                       },
                         {
                             "name": "f",
                             'data': null,
                             render: function (dd) {
                                 return " ";
                             }
                         }
            ]
        });
    }
    function address(add) {
        var address = "";
        if (add.Adr_Address_Line1 != null)
            address += add.Adr_Address_Line1 + "\n";
        if (add.Adr_Address_Line2 != null)
            address += add.Adr_Address_Line2 + "\n";
        if (add.Adr_T3_CountryName != null)
            address += add.Adr_T3_CountryName + "\n";
        if (add.Adr_T3_State_Name != null)
            address += add.Adr_T3_State_Name + "\n";
        if (add.Adr_City != null)
            address += add.Adr_City + "\n";
        if (add.Adr_ZIP != null)
            address += add.Adr_ZIP + "\n";
        if (add.Adr_Attention != null)
            address += add.Adr_Attention + "\n";
        if (add.Adr_Department != null)
            address += add.Adr_Department + "\n";
        if (add.Adr_InternalOffice != null)
            address += add.Adr_InternalOffice + "\n";
        address += address.replace(/null/g, '');
        return address;

    }
    function binddegree(data) {        
        var degree = data.map(e => e.T207_Degree_ID);
        $(".degree").each(function () {
            
            if (degree
            .indexOf(parseInt($(this).val())) > -1) {
                $(this).attr('checked', true);
            }
        })

    }

    $(document).ready(function () {
        $("#txtPhone").mask('(000) 000-0000');
        $("#dtStatusDate").datepicker();
        $("#dtStatusDate").datepicker("setDate", new Date());
        
        $.ajax({
            async: false,
            type: "POST",
            url: '/IndustryRoster/PersonnelDetailsByPersonnelID',
            data: JSON.stringify({ Personnel_ID: '@ViewBag.Personnel_ID' }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                BindData(data.res);
                binddegree(data.degrees);

            },
            failure: function (response) {
                alert('Error');
            }
        });
        $("#ddlPersontype").change(function () {
            var Persontype = $("#ddlPersontype option:selected").val();
            $("#ddlMedicalSpeciality").html("");
            $.ajax({
                async: false,
                type: "POST",
                url: "/RCApplication/GetMedicalSpeciality",
                data: '{ Persontype: "' + Persontype + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                //$.getJSON("../RCApplication/GetStates", { CountryCode: Persontype },
                success: function (data) {
                    
                    var select = $("#ddlMedicalSpeciality");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Select Medical Speciality"
                    }));
                    $.each(data, function (index, itemData) {

                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                }
            });
        });




        $("#btnEditPerson").click(function () {
            $("#txtSalutation").removeAttr("readonly");
            $("#txtFN").removeAttr("readonly");
            $("#txtMI").removeAttr("readonly");
            $("#txtLN").removeAttr("readonly");
            $("#ddlSuffix").removeAttr("disabled");
            $("#ddlPersonnelStatus").removeAttr("disabled");
            $(".degree").removeAttr("disabled");
            $("#ddlMedicalSpeciality").removeAttr("disabled");
            $("#txtPhone").removeAttr("readonly");
            $("#txtExt").removeAttr("readonly");
            $("#txtEmail").removeAttr("readonly");
            $("#PersonnelAddress").removeAttr("readonly");
            $("#btnUpdate").removeAttr("disabled");
        });
        $("#btnUpdate").click(function () {
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var phone = $("#txtPhone").unmask().val(),
                   intRegex = /[0-9 -()+]+$/;


            if ($("#txtFN").val() == "") {
                alert('Please enter first name.');
                $("#txtFN").focus();
                return;
            }

            if ($("#txtLN").val() == "") {
                alert('Please enter last name.');
                $("#txtLN").focus();
                return;
            }
            if ($("#txtSalutation").val() == "") {
                alert('Please enter Salutation');
                $("#txtSalutation").focus();
                return;
            }
            if ($("#txtPhone").val() == "") {
                alert('Please enter Phone Number ');
                $("#txtPhone").focus();
                return;
            }
            if ((phone.length < 10) || (!intRegex.test(phone) || phone.length > 10)) {
                alert('Please enter a valid 10 digits phone number.');
                $("#txtPhone").mask('(000) 000-0000').focus();
                return;
            }
            if ($("#txtExt").val() == "") {
                alert('Please enter Email Address ');
                $("#txtExt").focus();
                return;
            }
            //if (!emailReg.test($("#txtExt").val())) {
            //    alert("Please enter valid Email");
            //    $("#txtExt").focus();
            //    return;
            //}
            if ($("#ddlPersonnelStatus").val() == 0) {
                alert('Please select Status.');
                $("#ddlPersonnelStatus").focus();
                return;
            }
            if ($("#ddlMedicalSpeciality").val() == 0) {
                alert('Please select Medical Speciality.');
                $("#ddlMedicalSpeciality").focus();
                return;
            }


            var T212_Personnel = new Object();
            T212_Personnel.ID = $("#T212_ID").val();
            T212_Personnel.M_Initials = $("#txtMI").val();
            T212_Personnel.F_Name = $("#txtFN").val();
            T212_Personnel.L_Name = $("#txtLN").val();
            T212_Personnel.Salutation = $("#txtSalutation").val();
            T212_Personnel.Phone = $("#txtPhone").val();
            T212_Personnel.Phone_Ext = $("#txtExt").val();
            T212_Personnel.Email = $("#txtEmail").val();
            T212_Personnel.T201_MedicalSpl_ID = $("#ddlMedicalSpeciality").val();
            T212_Personnel.T202_Suffix_ID = $("#ddlSuffix").val();
            T212_Personnel.AddressID = $("#PersonnelAddressID").val();
            T212_Personnel.Personnel_StatusID = $("#ddlPersonnelStatus").val();
            T212_Personnel.StatusDate = $("#dtStatusDate").val();

            var lstdegrees = new Array();
            $(".degree:checked").each(function () {
                var T009_Map_Personnel_Degree = new Object();
                T009_Map_Personnel_Degree.T212_Personnel_ID = $("#T212_ID").val();
                T009_Map_Personnel_Degree.T207_Degree_ID = $(this).val();
                T009_Map_Personnel_Degree.Record_status = 'Active';
                lstdegrees.push(T009_Map_Personnel_Degree);

            });

            
            $.ajax({
                async: false,
                type: "POST",
                url: '/IndustryRoster/Update_Roaster_PersonnelDetails',
                data: JSON.stringify({ obj: T212_Personnel, lst_T009: lstdegrees }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert('Personnel Details have been updated successfully')
                    $("#txtSalutation").attr("readonly", true);
                    $("#txtFN").attr("readonly", true);
                    $("#txtMI").attr("readonly", true);
                    $("#txtLN").attr("readonly", true);
                    $("#ddlSuffix").attr("disabled", true);
                    $("#ddlPersonnelStatus").attr("disabled", true);
                    $(".degree").attr("disabled", true);
                    $("#ddlMedicalSpeciality").attr("disabled", true);
                    $("#txtPhone").attr("readonly", true);
                    $("#txtExt").attr("readonly", true);
                    $("#txtEmail").attr("readonly", true);
                    $("#PersonnelAddress").attr("readonly", true);
                    $("#btnUpdate").attr("disabled", true);
                    $("#txtCollaborator_Site_Name").attr("readonly", true);
                    $("#btnSiteSave").attr("disabled", true);
                },
                failure: function (response) {
                    alert('Error');
                }
            });

        });

        $("#btnModifySiteActivities").click(function () {
            $("#PharmacyTypeYes").removeAttr("disabled");
            $("#PharmacyTypeNo").removeAttr("disabled");
            $("#btnPharmacySave").removeAttr("disabled");
        });
        $("#btnPharmacySave").click(function () {
            var _data = new Object();
            _data.Collaborator_Site_ID = $("#lblSite_ID").text();
            _data.Pharmacy_Address_ID = $("#PharmacyAddressID").val();
            if ($("#PharmacyTypeYes").is(":checked"))
                _data.PharmacyType = "Central";
            else if ($("#PharmacyTypeNo").is(":checked"))
                _data.PharmacyType = "Remote";
            $.ajax({
                async: false,
                type: "POST",
                url: '/IndustryRoster/UpdateSitePharmacyDetails',
                data: JSON.stringify(_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert('Site Activities/Pharmacy updated successfully');
                    $("#PharmacyTypeYes").attr("disabled", true);
                    $("#PharmacyTypeNo").attr("disabled", true);
                    $("#btnPharmacySave").attr("disabled", true);
                },
                failure: function (response) {
                    alert('Error');
                }
            });


        });


        $('.btnLoadAddress').click(function () {

            var url = "/RCApplication/getAddress";
            $("#AddressModalBody").load(url, function () {
                $("#AddressModal").modal({
                    backdrop: "static",
                    autoFocus: true,
                    show: true
                });
            })
        });


        var RowdataAddress;
        $("#AddressModalBody").on('click', '#LoadAddress', function () {
            if ($("#tblAddress .chkSelect:checked").length == 1) {
                var table = $('#tblAddress').DataTable();
                var tr = $("#tblAddress .chkSelect:checked").closest('tr');
                RowdataAddress = table.row(tr).data();
                var address = "";
                
                address = address + RowdataAddress["Address_Line1"] + "\n";
                address = address + RowdataAddress["Address_Line2"] + "\n";
                address = address + RowdataAddress["City"] + "\n";
                address = address + RowdataAddress["State_Name"] + "\n";
                address = address + RowdataAddress["Country_Name"] + "\n";
                address = address + RowdataAddress["ZIP"] + "\n";
                address = address + RowdataAddress["Attention"] + "\n";
                address = address + RowdataAddress["Department"] + "\n";
                address = address + RowdataAddress["Internal_Office"];
                address = address.replace(/null/g, '');


                $("#PersonnelAddressID").val(RowdataAddress["Address_ID"]);

                $("#PersonnelAddress").val(address);

                $("#AddressModal .close").click();
            } else if ($("#tblAddress .chkSelect:checked").length == 0) {
                alert('Please select address to load');
                return;
            }
        });
    });

</script>
