﻿
@model IEnumerable<dal.sp_GetAddressDetailsByNetworkId_Result>
<div>
    <div>

        <table id="tblAddress" class="display nowrap table table-hover table-responsive table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        <i id="i_expnd" style="color:indianred;font-weight:bold" class="ti-arrow-circle-right" data-toggle="tooltip" title="Expand/Collpase"></i>
                    </th>
                    @*<th>Select</th>*@
                    <th>Edit</th>
                    <th>Address ID</th>
                    <th>Address Line1</th>
                    <th>Address Line2</th>
                    <th>Country Name</th>
                    <th>State Name</th>
                    <th>City</th>
                    <th>ZIP</th>
                    <th>Attention</th>
                    <th>Department</th>
                    <th>Internal Office</th>
                </tr>
            </thead>

        </table>
    </div>
    @*<div class="offset-4">
            <input type="button" value="Add Address" id="btnAddaddress" class="btn btn-info" />
            <input type="button" value="Load" id="LoadAddress" class="btn btn-info" />
            <input type="button" value="Cancel" class="btn btn-info" data-dismiss-modal="#AddressModal" />
        </div>*@
</div>
<div id="add_AddressModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog manage modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>Add Address</b></h4>
                <button type="button" class="close" data-dismiss-modal="#add_AddressModal">&times;</button>
            </div>
            <div class="modal-body" id="add_AddressModalBody">
            </div>
        </div>
    </div>
</div>


<script>
    var NetworkID= '@ViewBag.NetworkID' ;
    var AddressID=@ViewBag.AddressID ;
    function Loadaddress(id) {
        var table = $('#tblAddress').DataTable();
        var tr = id.closest('tr');
        var data = table.row(tr).data();
        var url = "/RCApplication/OpenaddAddresspopup";
        $("#add_AddressModalBody").load(url, function () {
            $("#btnUpdate").show();
            $("#btnSave").hide();
            $("#Addressid").val(data["Address_ID"]);
            $("#txtAddress1").val(data["Address_Line1"]);
            $("#txtAddress2").val(data["Address_Line2"]);
            $("#ddlCountries").val(data["Country_ID"]).trigger('change');
            $("#ddlStates").val(data["State_ID"]);
            $("#txtCity").val(data["City"]);
            $("#txtZip").val(data["ZIP"]);
            $("#txtAttention").val(data["Attention"]);
            $("#txtDeaprtment").val(data["Department"]);
            $("#txtInternalOffice").val(data["Internal_Office"]);
            $("#add_AddressModal").modal({ backdrop: "static", show: true });

        })
    };
    $(document).ready(function () {
        //to update table
        $(document).on('hidden.bs.modal', '.modal', function () {
            $tbl.ajax.reload();
        });
        var $tbl=    $('#tblAddress').DataTable({
            dom: 'frtip',
            ajax: {
                "url": '/IndustryRoster/lstIndustryAddressByNetwork_AddressID',
                "data":{NetworkID:NetworkID,AddressID:AddressID},
                "type": "POST",
                "datatype": "json"
            },
            "pageLength": 5,
            destroy: true,//to over come reintilize prblms
            "columns": [
               {
                   "className": 'details-control',
                   'data': null,
                   "orderable": false,
                   render: function (dd) {
                       return "<i  style='color:indianred;font-weight:bold' class='ti-arrow-circle-right' data-toggle='tooltip' title='Expand/Collpase'></i>";
                   }
               },
                 //{
                 //    'data': null,
                 //    "orderable": false,
                 //    render: function (dd) {
                 //        return "<input type='checkbox' id='chkSelect' class='chkSelect' />";
                 //    }
                 //},

        {
            'data': null,
            "orderable": false,
            render: function (dd) {
                return "<a href='#' id='edit' onclick='Loadaddress(this)' ><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil '></i></a>";
                //return "<input type='button' class='btn btn-xs btn-rounded btn-info edit' name='name' value='Edit' />";
            }
        }
        ,
        {
            "name": "NewAddress_ID",
            'data': 'NewAddress_ID'
        }, {
            "name": "Address_Line1",
            'data': 'Address_Line1'
        }, {
            "name": "Address_Line2",
            'data': 'Address_Line2'
        }, {
            "name": "Country_Name",
            'data': 'Country_Name'
        }, {
            "name": "State_Name",
            'data': 'State_Name'
        }, {
            "name": "City",
            'data': 'City'
        }, {
            "name": "ZIP",
            'data': 'ZIP'
        }, {
            "name": "Attention",
            'data': 'Attention'
        }, {
            "name": "Department",
            'data': 'Department'
        }, {
            "name": "Internal_Office",
            'data': 'Internal_Office'
        }
            ]
        });
        function LoadChildData(tblId, Address_ID) {
            var subtable = $('#' + tblId).DataTable({
                //"processing": true,
                "bPaginate": false,
                "searching": false,
                //"serverSide": true,
                "ordering": false,
                "info": false,
                "ajax": {
                    "url": "@Url.Action("addressChildDetails", "RCApplication")",
                    "type": "POST",
                    "data": { AddressId: Address_ID },
                    "datatype": "json"

                },
                "columns": [
        { data: "RCID" },
        { data: "Address_Type" },
        { "data": "Personnel_ID" },
        { "data": "Role" }

        /*and so on, keep adding data elements here for all your columns.*/
                ]
            });
        }
        function childtable(id) {

            return '<table id="' + id + '" class="display">' +
            ' <thead>' +
                ' <tr>' +
                     '<th>RC ID</th>' +
                     '<th>Addrss Type</th>' +
                     '<th>Personnel ID</th>' +
                     '<th>Role</th>' +
                ' </tr>' +
            ' </thead>' +

        ' </table>'
        }

        function childshow(id, isparent) {
            var tr = $(id).closest('tr');
            var tbl = $('#tblAddress').DataTable();
            var row = tbl.row(tr);
            if (row.child.isShown()) {
                if (isparent && $("#i_expnd").hasClass('ti-arrow-circle-right') || !isparent) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr[0]["cells"][0].innerHTML = '<i class="ti-arrow-circle-right" title="Expand/Collpase"></i>';
                }
            }
            else {
                if (isparent && $("#i_expnd").hasClass('ti-arrow-circle-down') || !isparent) {
                    // Open this row

                    var ID = row.data()["Address_ID"];
                    var childtblid = 'child_' + row.data()["Address_ID"];
                    row.child(childtable(childtblid)).show();
                    tr.addClass('shown');
                    tr[0]["cells"][0].innerHTML = '<i class="ti-arrow-circle-down" title="Expand/Collpase"></i>';
                    LoadChildData(childtblid, ID);
                }
            }
        }

        $('#tblAddress tbody').on('click', 'td.details-control', function () {
            childshow(this, false);
        });
        $("#i_expnd").click(function () {

            $("#i_expnd").toggleClass("ti-arrow-circle-right");
            $("#i_expnd").toggleClass('ti-arrow-circle-down');
            $("#tblAddress tbody tr .details-control").each(function () {
                childshow(this, true);
            });
        });

        //open add address popup code


        //$("#AddressModalBody").on('click', '.chkSelect', function () {

        //    $(".chkSelect").prop("checked", false);
        //    $(this).prop("checked", true);
        //});
    });
</script>

<style>
    td.details-control i {
        cursor: pointer;
        color: #e46a76;
        font-weight: bold;
    }
</style>