﻿
@{
    ViewBag.Title = "Assessment";
    Layout = "~/Areas/RC/Views/Shared/_LayoutPageRC.cshtml";
    ViewBag.Create_Details_URL = "/RC/Assessment/HeaderDetails";
    ViewBag.Create_Details = "Edit";
}
<div>
    <div class="card">
        <div class="card-body">
           
            @{Html.RenderAction("P_AssesmentForm", "Assessment");}
           

        </div>
    </div>
</div>

