﻿
@{
    ViewBag.Title = "Edit/Update HeaderDetails";
    Layout = "~/Areas/RC/Views/Shared/_LayoutPageRC.cshtml";
    ViewBag.Create_Details_URL = "/RC/Assessment/Assessment";
    ViewBag.Create_Details = "Add";
}
<div class="card">
    <div class="card-body">
        <table id="tblHeaderDetails" class="display no-wrap  table table-hover table-responsive  table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                   
                    <th>
                        Edit
                    </th>
                    <th>View</th>
                    <th>Delete</th>

                    <th>Demographic</th>

                    <th>SID</th>

                    <th>Site ID</th>

                    <th>Application</th>

                    <th>Affirmation</th>


                    <th>Date of Call</th>

                    <th>SQA Type</th>

                    <th>Person Conducting SQA</th>

                    <th>Person Conducting SQA Title</th>

                    <th>SQA Form Status</th>

                    <th>SQA Form Status</th>

                    <th>Is_GenEval_inserted</th>

                    <th>Is_FaciEval_inserted</th>

                    <th>Is_IRBEval_inserted</th>

                    <th>Is_PhrmEval_inserted</th>

                    <th>Is_ContEval_inserted</th>

                    <th>Date of Call</th>

                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="EditHeadermodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog manage popupwidth">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>Edit</b></h4>
                <button type="button" class="close" data-dismiss-modal="#EditHeadermodal">&times;</button>
            </div>
            <div class="modal-body" id="EditHeadermodalBody">
                @*<table id="tblHistory" class="display no-wrap  table table-hover table-responsive  table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Application Status</th>
                                <th>Date</th>
                                <th>Comment</th>
                                <th>Modified by</th>
                            </tr>
                        </thead>
                    </table>*@
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hidden_SQA_Form_Status" />
<input type="hidden" id="hidden_isNSABPHdQts_Inserted" />
<script>
    //
    $(document).ready(function () {


        var tblHeaderDetails;
        $.ajax({
            url: "/Assessment/GetHeaderList",
            type: "POST",
            //"ajax": "data.json",
            datatype: "json",
            success: function (d) {
                $('#tblHeaderDetails').DataTable({
                    data: d.res,
                    dom: 'frtip',
                    "pageLength": 5,
                    "bFilter": true,
                    "columns": [
                    
                        {
                            "name": "Edit", "data": null,
                            render: function (data, type, row) {

                                var htmlEdit = "";
                                var id = data.ID;
                                var TYPE = 'Edit';
                                //(dataItem["NSABPHeadQt_DtofApproval"].Text.Trim() != "&nbsp;" && !string.IsNullOrEmpty(dataItem["NSABPHeadQt_DtofApproval"].Text.Trim())) && (dataItem["SQA_ID"].Text == "3" || dataItem["SQA_ID"].Text == "4")
                                if (data.NSABPHeadQt_DtofApproval != "" && data.NSABPHeadQt_DtofApproval != null && (data.SQA_ID == "3" || data.SQA_ID == "4")) {
                                    htmlEdit = "";
                                }
                                    //if (data.SQA_ID == '2' || data.SQA_ID == null) {
                                else {
                                    htmlEdit = "<a href='#' id='edit' onclick='EditHeader_Questionarrie(" + id + ",this);'><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil' ></i></a>";
                                }
                                return htmlEdit;
                            }
                        },
                    {
                        "name": "View", "data": null,
                        render: function (data, type, row) {
                            var id = data.ID;
                            var TYPE = 'view';
                            var htmlEdit = "<a href='#' id='view' onclick='EditHeader_Questionarrie(" + id + ",this);'><i style='color:indianred;font-weight:bold' title='Edit' class='ti-eye' ></i></a>";
                            return htmlEdit;
                        }
                    },
            {
                "name": "Delete", "data": null,
                render: function (data, type, row) {
                    var id = data.ID;
                    var htmlEdit = "";
                    if (data.NSABPHeadQt_DtofApproval != "" && data.NSABPHeadQt_DtofApproval != null && (data.SQA_ID == "3" || data.SQA_ID == "4")) {
                        htmlEdit = "";
                    }
                        //if (data.SQA_ID == '2' || data.SQA_ID == null) {
                    else {
                        htmlEdit = "<a href='#' id='Delete' onclick='DeleteHeader_Questionarrie(" + id + ");'><i style='color:indianred;font-weight:bold' title='Edit' class='ti-close' ></i></a>";

                    }
                    return htmlEdit;
                },
            },

                    { "name": "Demographic", 'data': 'HeaderID' },
                    { "name": "SID", 'data': 'SID' },
                      { "name": "Site ID", 'data': 'SiteID' },
                    { "name": "Application", 'data': 'isapplication' },
        { "name": "Affirmation", 'data': 'isaffirmation' },
                    {
                        "name": "Date of Call", 'data': 'Date',
                        render: function (dt)
                        { return JsonToDate(dt); }
                    },
                    { "name": "SQA Type", 'data': 'Type' },
                    { "name": "Person Conducting SQA", 'data': 'PersonConductingName' },
                     { "name": "Person Conducting SQA Title", 'data': 'Person_conducting_Assesment_Title' },
                    { "name": "SQA Form Status", 'data': 'SQA_Form_Status' },
                    { "name": "SQA Form Status", 'data': 'SQA_ID', visible: false },
                    { "name": "Is_GenEval_inserted", 'data': 'is_GenEval_inserted', visible: false },
                     { "name": "Is_FaciEval_inserted", 'data': 'is_FaciEval_inserted', visible: false },
                    { "name": "Is_IRBEval_inserted", 'data': 'is_IRBEval_inserted', visible: false },
                    { "name": "Is_PhrmEval_inserted", 'data': 'is_PhrmEval_inserted', visible: false },
                    { "name": "Is_ContEval_inserted", 'data': 'is_ContEval_inserted', visible: false },
                     { "name": "Date of Call", 'data': 'NSABPHeadQt_DtofApproval', visible: false },

                    ]
                })
            }

        })
    });

    //edit


    function SelectRadioButton(name, value) {

        $("input[name='" + name + "'][value='" + value + "']").prop('checked', true);
        //  return false; // Returning false would not submit the form

    }
    function populateHeaderDetils(header) {


        if (header.IsApplication == 1) {
            $("#IsApplication").prop("checked", true).trigger("click");
            // $("#ddlSite option:contains('" + header.SiteID + "')").attr('selected', true)
        }
        if (header.IsAffirmation == 1) {
            $("#IsAffirmation").prop("checked", true).trigger("click");
            // $("#ddlSite option:contains('" + header.SiteID + "')").attr('selected', true)
        }
        $("#ddlSite option:selected").text(header.SiteID).trigger("change");
        if (header.Type == "Qualification") {
            $("#rbtIsQualification").prop("checked", true);
        }
        else if (header.Type == "Assessment") {
            $("#rbtAssessment").prop("checked", true);
        }
        $("#txtDate").val(eval(header.Date.replace(/\/Date\((\d+)\)\//gi, "new Date($1)")));
        //PI_NCIID:"null"; PI_Name: "null";
        $("#txtname_1").val(header.Staff_Name1);
        $("#txttitle_1").val(header.Staff_Title1);
        $("#txtname_2").val(header.Staff_Name2);
        $("#txttitle_2").val(header.Staff_Title2);
        $("#txtname_3").val(header.Staff_Name3);
        $("#txttitle_3").val(header.Staff_Title3);
        $("#txtname_4").val(header.Staff_Name4);
        $("#txttitle_4").val(header.Staff_Title4);
        $("#ddlUserNames option:contains('" + header.Person_conducting_Assesment_Name + "')").attr('selected', true);
        // $("#ddlUserNames option:selected").val(header.Person_conducting_Assesment_Name);
        $("#txtTitle").val(header.Person_conducting_Assesment_Title);
        $("#txtEmail").val(header.Person_conducting_Email);
        $("#lblAssessment").text(header.HeaderID);
        //IsApplication  $("#IsApplication").is(':checked'),
        //IsAffirmation  $("#IsAffirmation").is(':checked'),
        //T001_Research_Collabotator_ID:appid,
        //Record_status: "Active"
        $("#hidden_ApplicationOrSiteID").val(header.T001_Research_Collabotator_ID);
        $("#btnHeaderSave").prop("disabled", true);
    }

    function populateQuestionnarie(ogjque) {

        //geneval
        $("#txtSubinvestigators").val(ogjque.GenEval_NoOfSubInv);
        $("#txtStudycoordinators").val(ogjque.GenEval_NoOfCoOrdinators);

        SelectRadioButton('SiteExp', ogjque.GenEval_HavePriorExpWithIndustryTrials);
        $("#GenEvalTxtNoOfExpInd").val(ogjque.GenEval_YrsOfExpInIndustryTrials);
        SelectRadioButton('SitePhase1', ogjque.GenEval_CanUrSiteHavePriorExpWithPhaseI);
        SelectRadioButton('NSABPPhase1', ogjque.GenEval_ISUrSiteInterestedInConductingNSABPPhaseI);
        SelectRadioButton('EDC', ogjque.GenEval_HaveExpInEDCsystem);
        SelectRadioButton('pharma', ogjque.GenEval_CanUrSiteConductPharmokeneticsStudies);
        SelectRadioButton('patholog', ogjque.GenEval_CanUrSiteProvidePathologicalSpecimens);
        $("#GenEvaltxtpatholog").val(ogjque.GenEval_CanUrSiteProvidePathologicalSpecimens_ReasonNo);
        SelectRadioButton('Research', ogjque.GenEval_WillUrSitePathologyDeptAllowFreshTumorSample);
        SelectRadioButton('FDA', ogjque.GenEval_HaveFDAinspectedUrSite);

        // ogjque.GenEval_HaveFDAinspectedUrSiteUploadReportFile="1";
        // ogjque.GenEval_HaveFDAinspectedUrSiteUploadReportFileFileName= "1";
        $("#GenEvalTxtFDAComment").val(ogjque.GenEval_HaveFDAinspectedUrSiteComments);
        SelectRadioButton('GCP', ogjque.GenEval_AreInvReq4GCPTtraining);
        $("#GenEvalTxtGCPyears").val(ogjque.GenEval_AreInvReq4GCPTtrainingHowOfter);
        // ogjque.GenEval_AreInvReq4GCPTtrainingUploadCref=$("").val();
        // ogjque.GenEval_AreInvReq4GCPTtrainingUploadCrefFileName=$("").val();
        $("#GenEvalTxtGcpComment").val(ogjque.GenEval_AreInvReq4GCPTtrainingComments);
        SelectRadioButton('Human', ogjque.GenEval_AreInvReq4HumanSubProdTraining);
        $("#GenEvalTxtHumanyears").val(ogjque.GenEval_AreInvReq4HumanSubProdTrainingHowOften);
        //geneval_areinvreq4humansubprodtraininguploadcerf=$("").val();
        //geneval_areinvreq4humansubprodtraininguploadcerffilename=$("").val();
        $("#GenEvalTxtHumanComment").val(ogjque.GenEval_AreInvReq4HumanSubProdTrainingComments);

        //facEval

        if (ogjque.FacltEval_20Freezer != null) {
            var ss = ogjque.FacltEval_20Freezer;
            if (ogjque.FacltEval_20Freezer.indexOf('yes') != -1) {
                $("#chk1_20DegFreezer_Yes").prop("checked", true);
                if (ogjque.FacltEval_20Freezer.indexOf('On-Site') != -1) {
                    $("#chk3_20DegFreezer_OnSite").prop("checked", true);
                }
                else {
                    $("#chk4_20DegFreezer_OffSite").prop("checked", true);

                }
            }
            else {

                $("#chk2_20DegFreezer_No").prop("checked", true);
            }


        }
        if (ogjque.FacltEval_70cFreezer != null) {

            if (ogjque.FacltEval_70cFreezer.indexOf('yes') != -1) {
                $("#chk1_70DegFreezer_Yes").prop("checked", true);
                if (ogjque.FacltEval_70cFreezer.indexOf('On-Site')) {
                    $("#chk3_70DegFreezer_OnSite").prop("checked", true);
                }
                else {
                    $("#chk4_70DegFreezer_OffSite").prop("checked", true);

                }
            }
            else {

                $("#chk2_70DegFreezer_No").prop("checked", true);
            }
        }
        if (ogjque.FacltEval_DryIce != null) {
            if (ogjque.FacltEval_DryIce.indexOf('yes') != -1) {
                $("#chk1_DryIce_Yes").prop("checked", true);
                if (ogjque.FacltEval_DryIce.indexOf('On-Site')) {
                    $("#chk3_DryIce_OnSite").prop("checked", true);
                }
                else {
                    $("#chk4_DryIce_OffSite").prop("checked", true);

                }
            }
            else {

                $("#chk2_DryIce_No").prop("checked", true);
            }
        }
        if (ogjque.FacltEval_Centrifuge != null) {
            if (ogjque.FacltEval_Centrifuge.indexOf('yes') != -1) {
                $("#chk1_Centrifuge_Yes").prop("checked", true);
                if (ogjque.FacltEval_Centrifuge.indexOf('On-Site')) {
                    $("#chk3_Centrifuge_OnSite").prop("checked", true);
                }
                else {
                    $("#chk4_Centrifuge_OffSite").prop("checked", true);

                }
            }
            else {

                $("#chk2_Centrifuge_No").prop("checked", true);
            }
        }
        SelectRadioButton('BackUp', ogjque.FacltEval_DoesSiteHavBckEmergencySys);
        SelectRadioButton('gpFacBackUpFreez', ogjque.FacltEval_DoesSiteHavBckEmergencySys_FreezerDegree);
        SelectRadioButton('temperature', ogjque.FacltEval_DoesSiteHavAlermSys);
        SelectRadioButton('RbtAlarm', ogjque.FacltEval_DoesSiteHavAlermSys_FreezerDegree);
        SelectRadioButton('rbtemergrncy', ogjque.FacltEval_HasAccess2EmergencyEquipment);
        //ogjque.FacltEval_HasAccess2EmergencyEquipmentResponsePlan = sample;
        if (ogjque.FacltEval_HasAccess2EmergencyEquipmentResponsePlan != null) {
            if (ogjque.FacltEval_HasAccess2EmergencyEquipmentResponsePlan.indexOf('Local 911') != -1) {
                $("#FacEvalChkEremLocal911").prop("checked", true);
            }
            if (ogjque.FacltEval_HasAccess2EmergencyEquipmentResponsePlan.indexOf('Crash Cart') != -1) {
                $("#FacEvalChkEremCrashCart").prop("checked", true);
            }
            if (ogjque.FacltEval_HasAccess2EmergencyEquipmentResponsePlan.indexOf('Code team with the institution') != -1) {
                $("#FacEvalChkEremCodeteam").prop("checked", true);
            }
            else if (ogjque.FacltEval_HasAccess2EmergencyEquipmentResponsePlan.indexOf('Other') != -1) {

                $("#FacEvalChkEremOther").prop("checked", true);
                $("#txtEremDescribe").val(ogjque.FacltEval_HasAccess2EmergencyEquipmentResponsePlan);
            }
        }
        SelectRadioButton('medical', ogjque.FacltEval_AreUrMedicalRcdPaperorElectronicBased);

        //SelectRadioButton('FacltEval_AreUrMedicalRcdPaperorElectronicBased', ogjque.FacltEval_DoesSiteHavBckEmergencySys);
        SelectRadioButton('EMR', ogjque.FacltEval_IfElectronicIsEMRsys21CFRPart11Compliant);
        SelectRadioButton('EMRMonitor', ogjque.FacltEval_IfElectronicIsOnsiteMonitorReq2ObtnUsernamePswd2ReviewEMR);
        $("#FacEvalTxtEMRMonitorComment").val(ogjque.FacltEval_IfElectronicIsOnsiteMonitorReq2ObtnUsernamePswd2ReviewEMRComment);
        SelectRadioButton('retention', ogjque.FacltEval_HasWrittenRcdRetentionPolc4StudyRcds);
        $("#FacEvalTxtretentionyears").val(ogjque.FacltEval_HasWrittenRcdRetentionPolc4StudyRcdTimeFrame);

        $("#FacEvalTxtretentionComment").val(ogjque.FacltEval_HasWrittenRcdRetentionPolc4StudyRcdComment);
        SelectRadioButton('locked', ogjque.FacltEval_IsStudyDocFilingLockedArea);
        SelectRadioButton('recovery', ogjque.FacltEval_IsWrittenFileDRplanMaintained);
        SelectRadioButton('accredited', ogjque.FacltEval_RLabFacDeemedAccreditedByLocalAuth);
        SelectRadioButton('labcertificates', ogjque.FacltEval_CurrLabCerf);
        SelectRadioButton('labranges', ogjque.FacltEval_CurrLabNormRanges);
        SelectRadioButton('network', ogjque.FacltEval_IsUrSitePartOfaNtwk);
        //irb
        SelectRadioButton('Central', ogjque.IRBEval_LocalOrCentral);
        //ogjque.IRBEval_LocalOrCentral = $("input[name='Central']:checked").val();
        $("#IRBEvaltxtIRBName").val(ogjque.IRBEval_IRBName);
        $("#IRBEvaltxtAddLine1").val(ogjque.IRBEval_AddressLine1);
        $("#IRBEvaltxtAddLine2").val(ogjque.IRBEval_AddressLine2);
        $("#ddlIRBcountry").val(ogjque.IRBEval_County).trigger("change");
        $("#IRBEvaltxtCity").val(ogjque.IRBEval_City);
        $("#ddlState").val(ogjque.IRBEval_State);
        $("#IRBEvaltxtZip").val(ogjque.IRBEval_ZipCode);
        $("#IRBEvaltxtRegNo").val(ogjque.IRBEval_OHRP_IRBRegNo);
        //Chesapeake
        //IRBEvaltxtlocalIRBComment
        SelectRadioButton('Chesapeake', ogjque.IRBEval_AreWillingtoWaiveOversighttoNSABP);
        $("#IRBEvaltxtlocalIRBComment").val(ogjque.IRBEval_AreWillingtoWaiveOversighttoNSABPComment);
        $("#ddlIrbmeet").val(ogjque.IRBEval_HowFrequentlyIRBmeets);//$("input[name='Chesapeake']:checked").val();
        $("#IRBEvaltxtmeetComment").val(ogjque.IRBEval_HowFrequentlyIRBmeetsComments);//$("#IRBEvaltxtlocalIRBComment").val();
        $("#ddlIrbreview").val(ogjque.IRBEval_HowFarInAdvProtocolmustBsubmitted4IRBReview);
        $("#IRBEvaltxtIRBreviewComment").val(ogjque.IRBEval_HowFarInAdvProtocolmustBsubmitted4IRBReviewComments);
        $("#ddlIrbaveragetime").val(ogjque.IRBEval_AvgTime4mIRBSubmission2ReceiptofIRBApproval);
        $("#IRBEvaltxtIRBsubmissionComment").val(ogjque.IRBEval_AvgTime4mIRBSubmission2ReceiptofIRBApprovalComments);
        SelectRadioButton('scientific_protocol', ogjque.IRBEval_DoesInstUtilizeProtocolRevwComtePriorUrIRBSub);

        $("#ddlcommitteemeettime").val(ogjque.IRBEval_HwOfterCommitteMeet);
        $("#IRBEvaltxtIRBcommitteeComment").val(ogjque.IRBEval_HwOfterCommitteMeetComment);
        $("#ddlIrbanticipatedTime").val(ogjque.IRBEval_AnticipatedTime4Approval);
        $("#IRBEvaltxtIRBanticipatedTimeComment").val(ogjque.IRBEval_AnticipatedTime4ApprovalComment);

        //pharma
        if (ogjque.PhrmEval_SecurityMeasures4InvestigationalProdStorage != null) {
            //PhrmEval_SecurityMeasures4InvestigationalProdStorage
            var ss = ogjque.PhrmEval_SecurityMeasures4InvestigationalProdStorage;
            if (ss.indexOf('Locked pharmacy with limited access') != -1) {
                $("#phEvalchkjLockedpharmacy").prop("checked", true);
            }
            if (ss.indexOf('Temperature controlled storage') != -1) {
                $("#phEvalchkTemperature").prop("checked", true);

            }
            else if (ss.indexOf('other') != -1) {
                $("#phEvalchkipsother").prop("checked", true);
                $("#phEvaltxtipsother").val(ss);
            }
        }
        if (ogjque.PhrmEval_InvestigationalProdStorageEqup != null) {
            if (ogjque.PhrmEval_InvestigationalProdStorageEqup.indexOf('Ambient temperature (monitored/controlled)') != -1) {
                $("#phEvalchkAmbient").prop("checked", true);

            }
            if (ogjque.PhrmEval_InvestigationalProdStorageEqup.indexOf('Refrigerator (monitored/controlled)') != -1) {

                $("#phEvalchkRefrigerator").prop("checked", true);

            }
            else if (ogjque.PhrmEval_InvestigationalProdStorageEqup.indexOf('other') != -1) {
                $("#phEvalchkequipmentOther").prop("checked", true);
                $("#phEvaltxtequipmentComments").val(ogjque.PhrmEval_InvestigationalProdStorageEqup);

            }
        }
        //ogjque.PhrmEval_InvestigationalProdStorageEqup = PhrmEval_InvestigationalProdStorageEqup;
        $("#PhEvaltxtmbps").val(ogjque.PhrmEval_Mechanism4TemperatureMonitoringBKPPOwerSupp);
        $("#PhEvaltxtdrugadmin").val(ogjque.PhrmEval_DistanceBwnInvProdStorageLoc);
        SelectRadioButton('SOP', ogjque.PhrmEval_IsThrSOPDetailsDrugTransBwnSites);
        SelectRadioButton('SOPdestruction', ogjque.PhrmEval_IfYesIsThrSOPDetailsDrugDestruction);
        $("#hidden_is_GenEval_inserted").val(ogjque.is_GenEval_inserted);
        $("#hidden_is_FaciEval_inserted").val(ogjque.is_FaciEval_inserted);
        $("#hidden_is_IRBEval_inserted").val(ogjque.is_PhrmEval_inserted);
        $("#hidden_is_PhrmEval_inserted").val(ogjque.is_IRBEval_inserted);
        if (ogjque.is_GenEval_inserted && ogjque.is_FaciEval_inserted && ogjque.is_PhrmEval_inserted && ogjque.is_IRBEval_inserted) {
            $("#btnQueSave").removeAttr("disabled");
        }
        else {
            $("#btnQueSave").prop("disabled", "disabled");
        }
        $("#hidden_qcCompletestatus").val(ogjque.QCCompleteStatus);
        //headquartes

        SelectRadioButton('gpsiteMetCriteria', ogjque.NSABPHeadQt_HasSiteMetCriteria);
        $("#dtpSiteApprovalDate").val(ogjque.NSABPHeadQt_DtofApproval);
        //$("#txtAdminSign").val(ogjque.NSABPHeadQt_AdminApprovalSign);
        //$("#txtSiteApproverComments").val(ogjque.Unsatisfactory_Comments);
        if (ogjque.NSABPHeadQt_AdminApprovalSign != null && ogjque.NSABPHeadQt_AdminApprovalSign != "") {
            $("#txtAdminSign").val(ogjque.NSABPHeadQt_AdminApprovalSign);
            if (ogjque.Unsatisfactory_Comments != null && ogjque.Unsatisfactory_Comments != "") {
                $("#txtSiteApproverComments").val(ogjque.Unsatisfactory_Comments);
            }
            $("#hidden_SQA_Form_Status").val("Yes");
            $("#hidden_isNSABPHdQts_Inserted").val(ogjque.SQA_Status);

        }
        else {
            $("#hidden_SQA_Form_Status").val("");
            $("#hidden_isNSABPHdQts_Inserted").val("");
        }

    }

    //Delete

    function DeleteHeader_Questionarrie(id) {

        $.ajax({
            async: false,
            type: "POST",
            url: "/Assessment/Delete?headerId=" + id + "",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {

                if (data.quest != "") {
                    if (confirm(data.quest)) {
                        deleteheader_Quest(id);
                    }
                }
                else if (data.header != "") {
                    if (confirm(data.header)) {
                        deleteheader_Quest(id);
                    }
                }
                else if (data.Questionnarie != "") {
                    alert(data.Questionnarie);
                }
                else if (data.result == true) {
                    alert("Deleted Successfully");
                    window.location.reload();

                }
            }
        });
    }
    function deleteheader_Quest(id) {
        $.ajax({
            async: false,
            type: "POST",
            url: "/Assessment/DeleteAllHeaderDetails?headerId=" + id + "",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data.res == "true") {
                    alert("Deleted Successfully");
                    window.location.reload();
                }

            }
        });
        return true;
    }
    function EnableDisable_QC_ApprovalTab(ID) {
        @*//'@Session["RoleName"]';*@
        var _isAdmin = false;
        var _isAllQuesSectionsInserted = false;
        var _IsSubmitted = false;
        var rolename = "Both";
        // var rolename = "NSABP-Monitor";
        // start conditions
        if ($("#hidden_is_GenEval_inserted").val() == "true" && $("#hidden_is_FaciEval_inserted").val() == "true" && $("#hidden_is_IRBEval_inserted").val() == "true" && $("#hidden_is_PhrmEval_inserted").val() == "true") {
            _isAllQuesSectionsInserted = true;
        }
        if (rolename == "Module-Admin") {
            _isAdmin = true;
        }
        if (_isAllQuesSectionsInserted)
            _IsSubmitted = true;

        //  end
        //$("#hidden_SQA_Form_Status").val("");
        //  $("#hidden_isNSABPHdQts_Inserted").val("");
        if ($("#hidden_isNSABPHdQts_Inserted").val() == "Yes" && $("#hidden_SQA_Form_Status").val() != "In-process") {
            $("#Signature *").prop("disabled", true);
            $("#liSignature").addClass("disabledTab");
        }
        else {
            $("#liSignature").removeClass("disabledTab");
            $("#Signature *").removeAttr("disabled");
        }

        if (rolename == "Module-Admin") {
            $("#Header *").prop("disabled", true);
            btnHeaderSave.Visible = false;
            $("#btnHeaderSave").hide();
            $("#divGenEval *").prop("disabled", true);
            $("#faceval *").prop("disabled", true);
            $("#Irbdiv *").prop("disabled", true);
            $("#divPharmaEval *").prop("disabled", true);
            $("#btnGenEvalPartialSave").hide();
            $("#btnfacSubmit").hide();
            $("#btnIrbEvalSave").hide();
            $("#btnPharmaEvalPartialSave").hide();
            RadTabStrip1.Tabs[2].Visible = true;
            $("#liSignature").removeClass("invisible");
            $("#btnQueSave").hide()
            if ($("#hidden_qcCompletestatus").val() == "true" && _IsSubmitted)
                $("#liSignature").removeClass("disabledTab");
            else
                $("#liSignature").addClass("disabledTab");;
        }


        else if (rolename == "NSABP-Monitor" || rolename == "OnSite-Monitor") {
            RadTabStrip1.Tabs[2].Visible = false;
            $("#liSignature").addClass("invisible");
            $("#Header *").prop("disabled", false);;
            $("btnHeaderSave").show();// = true;
            $("#btnfacSubmit").show();

            $("#btnIrbEvalSave").show();

            $("#btnPharmaEvalPartialSave").show();

            $("#btnGenEvalPartialSave").show();
            $("#divGenEval *").prop("disabled", false);
            $("#faceval *").prop("disabled", false);
            $("#Irbdiv *").prop("disabled", false);
            $("#divPharmaEval *").prop("disabled", false);



            $("#btnQueSave").hide()

            if (_IsSubmitted && $("#hidden_qcCompletestatus").val() != "true")
                $("#btnQueSave").removeAttr("disabled");

            else if ((!_IsSubmitted))
                $("#btnQueSave").attr("disabled", "disabled");

        }
        else if (rolename == "Both") {

            $("#Header *").prop("disabled", false);;
            $("btnHeaderSave").show();// = true;
            $("#btnfacSubmit").show();

            $("#btnIrbEvalSave").show();

            $("#btnPharmaEvalPartialSave").show();

            $("#btnGenEvalPartialSave").show();
            $("#divGenEval *").prop("disabled", false);
            $("#faceval *").prop("disabled", false);
            $("#Irbdiv *").prop("disabled", false);
            $("#divPharmaEval *").prop("disabled", false);
            $("#btnQueSave").show();
            //  btnSubmitFrmAssessment.Visible = true;
            $("#liSignature").removeClass("invisible");
            $("#Signature *").removeAttr("disabled");

            if (_IsSubmitted && $("#hidden_qcCompletestatus").val() == "true") {
                $("#liSignature").removeClass("disabledTab");
            }


            else if (_IsSubmitted && $("#hidden_qcCompletestatus").val() != "true") {
                $("#btnQueSave").prop("disabled", false);
            }

            else if ((!_IsSubmitted)) {
                $("#btnQueSave").prop("disabled", true)

                $("#liSignature").addClass("disabledTab");;
            }
        }
        //PT-039 change start

        //@*//'@Session["RoleName"]';*@
        //   var rolename = "Both";
        if (rolename == "NSABP-Monitor" || rolename == "OnSite-Monitor" || rolename == "Both") {
            //PT-039 change start
            if ($("#IsApplication").is(":Checked")) {
                var res = getApplicaonOrAddendumStatus(ID);
                if (res != null && res.RC_Status == "2") {
                    //panelHeaderTab.Enabled = false;
                    //btnHeaderSave.Visible = false;
                    if (!res.SectionsToBeUnlock.includes("General")) {
                        $("#divGenEval *").prop("disabled", true);
                        $("#btnGenEvalPartialSave").hide();

                    }
                    if (!res.SectionsToBeUnlock.includes("Facilities")) {
                        $("#faceval *").prop("disabled", true);
                        $("#btnfacSubmit").hide();
                    }
                    if (!res.SectionsToBeUnlock.includes("IRB")) {
                        $("#Irbdiv *").prop("disabled", true);
                        $("#btnIrbEvalSave").hide();
                    }
                    if (!res.SectionsToBeUnlock.includes("Pharmacy")) {
                        $("#divPharmaEval *").prop("disabled", true);
                        $("#btnPharmaEvalPartialSave").hide();
                    }
                    $('input:radio[name=gpsiteMetCriteria]:checked').prop('checked', false);
                    $("#dtpSiteApprovalDate").val("");
                    $("#txtAdminSign").val("");
                    $("#txtSiteApproverComments").val("");

                }
            }
            //PT-039 change end
        }
    };
    function getApplicaonOrAddendumStatus(id) {
        debugger;
        var res;
        $.ajax({
            async: false,
            type: "POST",
            url: "/Assessment/getApplicaonOrAddendumStatus?ID=" + id + "",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                res = data.Result;
            }
        });
        return res;
    }
    function EditHeader_Questionarrie(id, type) {

        var url = "/Assessment/P_AssesmentForm";
        $("#EditHeadermodalBody").load(url, function () {
            $.ajax({
                async: false,
                type: "POST",
                url: "/Assessment/getAssesmentDetilsbyId?Id=" + id + "",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {

                    $("#Quest").removeClass("disabledTab");//for disable listitem
                    $("#lbl_InsertedHeaderID").val(id);

                    populateHeaderDetils(data.header);

                    $("#liSignature").addClass("disabledTab");//for disable signtab

                    $("#EditHeadermodal").modal({
                        backdrop: 'static',
                        keyboard: false, // to prevent closing with Esc button (if you want this too)
                        show: true
                    });
                    if (data.Questionarrie != null) {
                        populateQuestionnarie(data.Questionarrie);
                        if (data.Questionarrie.is_FaciEval_inserted == true && data.Questionarrie.is_GenEval_inserted == true && data.Questionarrie.is_IRBEval_inserted == true && data.Questionarrie.is_PhrmEval_inserted == true) {
                            // $("#Questionare *").prop("disabled", true);
                            $("#Header *").prop("disabled", true);
                            //  $("#liSignature").removeClass("disabledTab");
                        }
                        else {
                            //$("li:contains('Signature')").hide();
                            $("#liSignature").addClass("disabledTab");
                        }
                        if (data.Questionarrie.SQA_ID == '2') {
                            //$("#Header *").prop("disabled", true);
                            //$("#Questionare *").prop("disabled", true);

                            $("#liSignature").removeClass("disabledTab");
                            $("#Signature *").removeAttr("disabled");
                        }
                        else if (data.Questionarrie.SQA_ID == '1') {
                            $("#Signature *").prop("disabled", true);
                            $("#liSignature").addClass("disabledTab");
                        }
                    }



                },
                fail: function (jqXHR, textStatus, errorThrown) {
                    alert('Error');
                },
                complete: function (data) {

                    var role = '@Session["RoleName"]';

                    $(".lblheader").removeClass("invisible");
                    $("#apps *").prop("disabled", true).addClass("text-info font-weight-bold");

                    if (type.id == "view") {
                        $("#Questionare *").prop("disabled", true);
                        $("#apps *").prop("disabled", true);
                        $("#Header *").prop("disabled", true);
                        // $("li:contains('Signature')").hide();
                        $("#Signature *").prop("disabled", true);
                        $("#btnNSABPHeadQt_PartialSave").hide();
                        $("#liSignature").removeClass("disabledTab");
                        $("#liSignature").removeClass("invisible");

                    }

                    else if (type.id == "edit") {
                        EnableDisable_QC_ApprovalTab(id);

                    }

                }
            });
        })
    };
</script>

