﻿
@{
    ViewBag.Title = "Protocol Setup";
    Layout = "~/Areas/RC/Views/Shared/_LayoutPageRC.cshtml";
    ViewBag.Create_Details = "Details";
    ViewBag.Create_Details_URL = "/PRSM/Prsm/ProtocolSetupDetails";
}

<div>
    <div class="card divProtocol">


        <div class="card-body ">
            <div class="form-group row">
                <div class="col-md-2">
                    Protocol Code
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="txtProtocolCode" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Protocol Name
                </div>
                <div class="col-md-4">
                    <textarea id="txtProtocolName" class="form-control" maxlength="1000"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Disease Site:
                </div>
                <div class="col-md-4">
                    <input type="text" maxlength="100" class="form-control" id="txtDiseaseSite" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Phase Type:
                </div>
                <div class="col-md-4">
                    <select id="ddlPhase_Type" class="form-control ">
                        <option value="">--select--</option>
                        <option value="Phase lb">Phase lb</option>
                        <option value="Phase II">Phase II</option>
                        <option value="Phase lb/II">Phase lb/II</option>
                        <option value="Phase lb/II">Phase lb/II</option>
                    </select>
                    @*@Html.DropDownList("ddlPhase_Type", new SelectList(ViewBag.States, "State_Code", "State_Name"), "--Select--", new { @class = "form-control"})*@
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Pre-Activation Date
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control " id="Dt_PreActivationDate" />
                </div>

                <div class="offset-1 col-md-2">
                    Activation Date:
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control " id="Dt_ActivationDate" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Closed to Accrual Date:
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control " disabled id="Dt_Closed_toAccrualDate" value="" />
                </div>

                <div class="offset-1 col-md-2">
                    Closure Date:
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" disabled id="Dt_ClosureDate" value="" />
                </div>

            </div>
            <div class="form-group row">
                <div class="offset-4">
                    <input type="hidden" id="hiddenProtcolID" />
                    <button class="btn btn-info" id="btnSave">Save</button>
                    <button class="btn btn-info" id="btnAddExternalPartner">Add External Partner</button>
                    <button class="btn btn-info" id="btnAdd_Amendment">Add Amendment</button>

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Amendment Details
        </div>
        <div class="card-body">
            <div class="form-group row justify-content-center">
                <table class="table table-bordered info-table col-md-6">
                    <thead>
                        <tr>
                            <th>Amendment Number</th>
                            <th>Amendment date</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            External Partner Details
        </div>
        <div class="card-body">
            <div class="form-group row justify-content-center">
                <table id="tblExternalPartnerDetailsMain" class="col-md-6 table table-bordered info-table">
                    @*color-bordered-table info-bordered-table*@
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>External Partner Name</th>
                            <th>External Partner E-mail(s)</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header ">Add Roles</div>
        <div class="card-body ">

            <div class="form-group row">
                <div class="col-md-2">
                    Role Name:
                </div>
                <div class="col-md-2">
                    <input type="text" value="" />
                </div>
                <div class="offset-2 col-md-4">
                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" id="Legal" name="Legal" class="custom-control-input">
                        <label class="custom-control-label" for="Legal"> Specific to Protocol</label>
                    </div>

                </div>

            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    Role Description:
                </div>
                <div class="col-md-4">
                    <textarea maxlength="500" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    External Partner
                </div>
                <div class="col-md-1">
                    <input type="checkbox" value="" />
                </div>
                <div class="col-md-11 justify-content-start">
                    <div id="divchklistExternalPartner" >

                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-4">
                    <input type="button" class="btn btn-info" disabled value="Save" />
                    <input type="button" class="btn btn-info" value="Cancel" />
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <table id="tblRoels" class="col-md-8  table table-bordered info-table ">
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Role Name</th>
                            <th>Role Description</th>
                            <th>Is Specific to Protocol</th>
                            <th>External Partner(s)</th>

                        </tr>
                    </thead>

                </table>
            </div>

        </div>
    </div>


    <div class="card">
        <div class="card-header ">Add Dealbreaker Categorie(s) </div>
        <div class="card-body ">

            <div class="form-group row">
                <div class="col-md-2">
                    Categories:
                </div>
                <div class="col-md-4">
                    <textarea maxlength="500" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-4">
                    <input type="button" class="btn btn-info" disabled value="Save" />

                </div>
            </div>
            <div class="form-group row">
                Dealbreaker Categories
            </div>
            <div class="form-group row">
                <table id="tblDealBreakersQuestionsCatogere" class="offset-2 col-md-8  table table-bordered info-table ">
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>S.No.</th>
                            <th>Categories</th>
                            <th>Is Answred</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="form-group row">
                <div class="offset-4">
                    <input type="button" class="btn btn-info" name="Save" value="Cancel" />

                </div>
            </div>
        </div>
    </div>
</div>
<div id="ExternalPartnerModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog manage modal-lg  ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>Add External Partner(s)</b></h4>
                <button type="button" class="close" data-dismiss-modal="#ExternalPartnerModal">&times;</button>
            </div>
            <div class="modal-body" id="ExternalPartnerModalBody">
                <div class="form-group row justify-content-center">
                    <div class="col-md-4">
                        External Partner Name:
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="txtExternalPartnerName" />
                    </div>
                </div>
                <div class="form-group  row justify-content-center">
                    <div class="col-md-4">
                        External Partner Email ID:
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="txtExternalPartnerEmail" />
                    </div>
                </div>
                <div class="form-group row justify-content-center ">
                    <table id="ExternalPartnerDetailsEdit" class="display table table-bordered col-md-11 ">
                        <thead>
                            <tr>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>External Partner Email(s)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-md-4">

                        <input type="hidden" id="hiddenexternalpartneremailid" />
                        <input type="hidden" id="hiddenexternalpartnerid" />
                        <button class="btn btn-info" id="btnSaveExternalPartner">Save</button>
                        <button class="btn btn-info" data-dismiss-modal="#ExternalPartnerModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="AmendmentModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog manage modal-lg  ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>Amendment</b></h4>
                <button type="button" class="close" data-dismiss-modal="#AmendmentModal">&times;</button>
            </div>
            <div class="modal-body" id="AmendmentModalModalBody">
                <div class="form-group row justify-content-center">
                    <div class="col-md-4">
                        Amendment Number:
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="txtAmendment_Number" />
                    </div>
                </div>
                <div class="form-group  row justify-content-center">
                    <div class="col-md-4">
                        Amendment Date:
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="dateAmendment_Date" />
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-md-4">
                        <button class="btn btn-info" id="btnsaveAmendment">Save</button>
                        <button class="btn btn-info" data-dismiss-modal="#AmendmentModal" >Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function ExternalPartnerDetailsMain(ProtocolID) {
     debugger;
        $("#tblExternalPartnerDetailsMain").DataTable({
            dom: 'frtip',
            distroy: true,
            ajax: {
                url: "/PRSM/Prsm/get_External_Partners_Name_Emails",
                data: { _protocol: ProtocolID },
                type: "POST",
                datatype: "json"
            },
            "bFilter": true,
            "columns": [
               {
                   "name": "Edit",
                   data: null,
                   render: function (data, type, row) {

                       var htmlEdit = "<a href='#' id='edit'  onclick='EditRC(this);'><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil ' ></i></a>";
                       return '';
                   }
               },
                {
                    "name": "Delete",
                    data: null,
                    render: function (data, type, row) {
                        var htmlCS = "<a href='#' id='delete'  onclick='EditRC(this);'><i style='color:indianred;font-weight:bold' title='Delete'  class='ti-trash'></i></a>";
                        return '';
                    }
                },
             { "name": "ExternalPartnerName", 'data': 'ExternalPartnerName' },
                { "name": "Emails", 'data': 'Emails' }
                 
            ]
        });
       
    };
    function isProtocolCodeNotExists(ProtocolCode) {
      
        var isexist = true;
        $.ajax({
            async: false,
            type: "POST",
            url: '/PRSM/Prsm/isProtocolCodeNotExists',
            data: JSON.stringify({ ProtocolCode: ProtocolCode }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.isexist == 'true') {

                    return isexist;
                }
                else if (data.isexist == 'false') {
                    isexist = false;
                }

            },
            failure: function (response) {
                alert('Error');

            }
        })
        return isexist;
    };
    function _tables() {
        var id = $("#hiddenProtcolID").val().trim();
        $("#tblRoels").DataTable({
            dom: 'frtip',
            distroy: true,
            ajax: {
                url: "/PRSM/Prsm/Get_RoleDetailsbyProtocol",
                data: { ProtocolID: id },
                type: "POST",
                datatype: "json"
            },
            "bFilter": true,
            "columns": [
               {
                   "name": "Edit",
                   data: null,
                   render: function (data, type, row) {
                      
                       var htmlEdit = "<a href='#' id='edit'  onclick='EditRC(this);'><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil ' ></i></a>";
                       return '';
                   }
               },
                {
                    "name": "Delete",
                    data: null,
                    render: function (data, type, row) {
                        var htmlCS = "<a href='#' id='delete'  onclick='EditRC(this);'><i style='color:indianred;font-weight:bold' title='Delete'  class='ti-trash'></i></a>";
                        return '';
                    }
                },
             { "name": "Role_Name", 'data': 'Role_Name' },
                { "name": "Role_Description", 'data': 'Role_Description' },
                 { "name": "IsSpecifictoProtocol", 'data': 'IsSpecifictoProtocol' },
                 { "name": "ExternalPartnerID", 'data': 'ExternalPartnerID' }
            ]
        });
        $("#tblDealBreakersQuestionsCatogere").DataTable({
            dom: 'frtip',
            distroy: true,
            ajax: {
                url: "/PRSM/Prsm/getDealBreaker_Questions",
                data: { ProtocolID: id },
                type: "POST",
                datatype: "json"
            },
            "bFilter": true,
            "columns": [
               {
                   "name": "Edit",
                   data: null,
                   render: function (data, type, row) {
                       var htmlEdit = "<a href='#' id='edit'  onclick='EditRC(this);'><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil ' ></i></a>";
                       return '';
                   }
               },
                {
                    "name": "Delete",
                    data: null,
                    render: function (data, type, row) {
                        var htmlCS = "<a href='#' id='delete'  onclick='EditRC(this);'><i style='color:indianred;font-weight:bold' title='Delete'  class='ti-trash'></i></a>";
                        return '';
                    }
                },
             { "name": "Serial_Number", 'data': 'Serial_Number' },
                { "name": "Question_Text", 'data': 'Question_Text' },
                 { "name": "Is_Answred", 'data': 'Is_Answred' }
            ]
        });
    };
    function is_External_Partners_exists(T041) {
      
        var isexist = false;
        $.ajax({
            async: false,
            type: "POST",
            url: '/PRSM/Prsm/is_External_Partners_exists',
            data: JSON.stringify({ T041: T041 }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                isexist = data.isexist;
            },
            failure: function (response) {
                alert('Error');
            }
        })
        return isexist;
    };
    function is_External_Partners_Email_exists(T044) {
        debugger;
        var isexist = false;
        $.ajax({
            async: false,
            type: "POST",
            url: '/PRSM/Prsm/is_External_Partners_Email_exists',
            data: JSON.stringify({ T044: T044 }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                isexist = data.isexist;
            },
            failure: function (response) {
                alert('Error');
            }
        })
        return isexist;
    };
    function get_External_Partners(_ProtocolID) {
        debugger;
        var htm = "<div class='border border-info'>";
        $.ajax({
            async: false,
            type: "POST",
            url: '/PRSM/Prsm/get_External_Partners',
            data: JSON.stringify({ _ProtocolID: _ProtocolID }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index) {
                    //htm = htm + ' <div class="custom-control custom-checkbox align-content-center">';
                    htm = htm + '<input type="checkbox" name="External_Partner' + data[index].ID + '" class="custom-control-input">';
                    //htm = htm +'<label class="custom-control-label" for="External_Partner' + data[index].ID + '">' + data[index].ExternalPartnerName + ' </label>';
                    //htm = htm + '</div>';
                });
                htm = htm + '</div>';
            },
            failure: function (response) {
                alert('Error');
            }
        })
        return htm;
    };
    function IsAmendment_Exists(Amendment_Number, ProtocolID, id) {
       
        var isexist = false;
        $.ajax({
            async: false,
            type: "POST",
            url: '/PRSM/Prsm/IsAmendment_Exists',
            data: JSON.stringify({ Amendment_Number: Amendment_Number, ProtocolID: ProtocolID }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (id > 0) {
                    var cnt = data.filter(x=>x.ID != id).length;
                    if (cnt > 0)
                        isexist = true;
                }
                else {
                    if (data.length > 0)
                        isexist = true;

                }
            },
            failure: function (response) {
                alert('Error');
            }
        })
        return isexist;
    };

    $(document).ready(function () {

        $("#Dt_PreActivationDate").datepicker({
            autoclose: true,
            endDate: 'today'
            //showOn: "button",
            //buttonImage: "images/calendar.gif",
            //buttonImageOnly: true,
            //inline: true
        });
        $("#Dt_ActivationDate").datepicker({
            autoclose: true,
            endDate: 'today'
        });
        $("#Dt_Closed_toAccrualDate").datepicker({
            autoclose: true,

        });
        $("#Dt_ClosureDate").datepicker({
            autoclose: true,

        });
        $("#dateAmendment_Date").datepicker({
            autoclose: true,
            endDate: 'today'
        });


        $("#Dt_ActivationDate").change(function () {
            if ($("#Dt_ActivationDate").val() != "") {
                $("#Dt_Closed_toAccrualDate").removeAttr('disabled');
            }
            else {
                $("#Dt_Closed_toAccrualDate").attr('disabled', 'disabled');
                $("#Dt_Closed_toAccrualDate").val('');
                $("#Dt_ClosureDate").attr('disabled', 'disabled');
                $("#Dt_ClosureDate").val('');
            }
        });
        $("#Dt_Closed_toAccrualDate").change(function () {
            if ($("#Dt_Closed_toAccrualDate").val() != "") {
                $("#Dt_ClosureDate").removeAttr('disabled');
            }
            else {
                $("#Dt_ClosureDate").attr('disabled', 'disabled');
                $("#Dt_ClosureDate").val('');
            }
        });


        $("#btnAddExternalPartner").click(function () {

            $("#ExternalPartnerModal").modal({
                backdrop: 'static',
                keyboard: false, // to prevent closing with Esc button (if you want this too)
                show: true
            });
        });
        $("#btnAdd_Amendment").click(function () {

            $("#AmendmentModal").modal({
                backdrop: 'static',
                keyboard: false, // to prevent closing with Esc button (if you want this too)
                show: true
            });
        });
        $("#btnSave").click(function () {
          
            if ($("#txtProtocolCode").val() == "") {
                alert('Please Enter Protocol Code');
                $("#txtProtocolCode").focus();
                return;
            }
            else if ($("#txtProtocolName").val() == "") {
                alert('Please Enter Protocol Name');
                $("#txtProtocolName").focus();
                return;
            }

            else if ($("#txtDiseaseSite").val() == "") {
                alert('Please enter Disease Site');
                $("#txtDiseaseSite").focus();
                return;
            }
            else if ($("#ddlPhase_Type").val() == "") {
                alert("Please select Phase Type.");
                $("#ddlPhase_Type").focus();
                return;
            }
                //else if ($("#Dt_PreActivationDate").val() == "") {
                //    alert("Please enter Pre-Activation Date.");
                //    $("#Dt_PreActivationDate").focus();
                //    return;
                //}
                //else if (1 == 1) {
                //    var dateobj = new Date($("#Dt_PreActivationDate").val());
                //    var todayobj = new Date();
                //    if (dateobj > todayobj) {
                //        alert("Pre-Activation date should not be later than today's date");
                //        $("#Dt_PreActivationDate").focus();
                //        return;
                //    }
                //}
                //else if ($("#Dt_ActivationDate").val() == "") {
                //    alert("Please enter Activation Date.");
                //    $("#Dt_ActivationDate").focus();
                //    return;
                //}
                //else if (1 == 1) {
                //    var dateobj = new Date($("#Dt_ActivationDate").val());
                //    var todayobj = new Date();
                //    if (dateobj > todayobj) {
                //        alert("Activation date should not be later than today's date");
                //        $("#Dt_ActivationDate").focus();
                //        return;
                //    }
                //}
            else if ($("#Dt_ActivationDate").val() != "" && $("#Dt_PreActivationDate").val() != "") {
                var Dt_ActivationDate = Date.parse($("#Dt_ActivationDate").val());
                var Dt_PreActivationDate = Date.parse($("#Dt_PreActivationDate").val());

                if (Dt_ActivationDate < Dt_PreActivationDate) {
                    alert("Activation date should not be less than Pre-Activation date");
                    $("#Dt_ActivationDate").focus();
                    return;
                }
            }
            else if ($("#Dt_ActivationDate").val() != "") {
                var Dt_Closed_toAccrualDate = Date.parse($("#Dt_Closed_toAccrualDate").val());
                var Dt_ActivationDate = Date.parse($("#Dt_ActivationDate").val());
                if (Dt_ActivationDate > Dt_Closed_toAccrualDate) {
                    alert("Closed to accural date should be greater than or equal to Activation date");
                    return;
                }
                if ($("#Dt_Closed_toAccrualDate").val() != "" && $("#Dt_ClosureDate").val() != "") {
                    var Dt_Closed_toAccrualDate = Date.parse($("#Dt_Closed_toAccrualDate").val());
                    var Dt_ClosureDate = Date.parse($("#Dt_ClosureDate").val());
                    if (Dt_ClosureDate < Dt_Closed_toAccrualDate) {
                        alert("Closure date should be greater than or equal to Closed to accural date");
                        return;
                    }
                }
            }
            if (isProtocolCodeNotExists($("#txtProtocolCode").val())) {
                alert('Protocol Code already exists');
                return;
            }




            var obj = new Object();
            obj.Protocol_Code = $("#txtProtocolCode").val().trim();
            obj.Protocol_Name = $("#txtProtocolName").val().trim();
            obj.Disease_Site = $("#txtDiseaseSite").val().trim();
            obj.Phase_Type = $("#ddlPhase_Type").val().trim();
            obj.DateOfPre_Activation = $("#Dt_PreActivationDate").val().trim();
            obj.DateOfActivation = $("#Dt_ActivationDate").val().trim();
            obj.DateOfClosure = $("#Dt_ClosureDate").val().trim();
            obj.DateOfClosedToAccural = $("#Dt_Closed_toAccrualDate").val().trim();

            $.ajax({
                async: false,
                type: "POST",
                url: '/PRSM/Prsm/Save_Protocol_Setup_info',
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.data != 0) {
                        $("#hiddenProtcolID").val(data.data);
                        alert('Protocol details saved successfully');
                        $(".divProtocol *").attr('disabled', 'disabled')
                        $("#btnAddExternalPartner").removeAttr('disabled');
                        if ($("#Dt_Closed_toAccrualDate").val() == "") {
                            $("#btnAdd_Amendment").removeAttr('disabled');
                        }
                        _tables();//load roles,questns

                    }
                    else if (data.data == 0) {
                        alert('Error');
                    }

                },
                failure: function (response) {
                    alert('Error');

                }
            })

        });

        $("#btnSaveExternalPartner").click(function () {
           
            if ($("#txtExternalPartnerName").val() == "") {
                alert('Please enter External Partner Name');
                $("#txtExternalPartnerName").focus();
                return;
            }
            else if ($("#txtExternalPartnerEmail").val() != '') {
                var email = $("#txtExternalPartnerEmail").val().trim();
                var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

                if (!filter.test(email)) {
                    alert('Please provide a valid email address');
                    $("#txtExternalPartnerEmail").focus();
                    return;
                }
            }
            debugger;
            if ($("#hiddenProtcolID").val() != "") {
                var T041 = new Object();
                var T044 = new Object();
                T041.ProtocolID = $("#hiddenProtcolID").val().trim();

                T041.ExternalPartnerName = $("#txtExternalPartnerName").val().trim();
                var txtExternalPartnerEmail = $("#txtExternalPartnerEmail").val().trim();

                if (txtExternalPartnerEmail != "") {
                    T044.Email = $.trim(txtExternalPartnerEmail);
                }
                if ($("#hiddenexternalpartneremailid").val() == "") {
                    if ($("#hiddenexternalpartnerid").val() != "0") {
                        T041.ID = $("#hiddenexternalpartnerid").val().trim();
                    }
                    if (is_External_Partners_exists(T041)) {
                        alert('The external partner already exists for the selected protocol')
                        return;
                    }
                    if (is_External_Partners_Email_exists(T044)) {
                        alert('The email id already exists for the selected external partner');
                        return;
                    }

                    //save
                    $.ajax({
                        async: false,
                        type: "POST",
                        url: '/PRSM/Prsm/Save_ExternalPartnerName_Email',
                        data: JSON.stringify({ T041: T041, T044: T044 }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.isexist) {
                                alert('Saved successfully.');
                                $("#hiddenexternalpartnerid").val(data.externalpartnerid);
                                ExternalPartnerDetailsMain(T041.ProtocolID)
                            }
                            else {
                                alert('Error');
                            }
                        },
                        failure: function (response) {
                            alert('Error');

                        }
                    })

                }
                else {
                    T041.ID = $("#hiddenexternalpartnerid").val().trim();
                    T044.ID = $("#hiddenexternalpartneremailid").val().trim();

                    if (is_External_Partners_Email_exists(T044)) {
                        alert('The external partner already exists for the selected protocol')
                        return;
                    }
                    $.ajax({
                        async: false,
                        type: "POST",
                        url: '/PRSM/Prsm/Update_ExternalPartnerName_Email',
                        data: JSON.stringify({ T041: T041, T044: T044 }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.isexist) {
                                alert('Updated successfully.')
                                $('.close').click();
                                ExternalPartnerDetailsMain(T041.ProtocolID)

                            }
                            else {
                                alert('Error');
                            }
                        },
                        failure: function (response) {
                            alert('Error');

                        }
                    })

                }

                var _html = get_External_Partners($("#hiddenProtcolID").val().trim());
                $("#divchklistExternalPartner").html(_html);
            }



        });

        $("#btnsaveAmendment").click(function () {
            if ($("#hiddenProtcolID").val() != "") {
                var obj = new Object();
                obj.ProtocolID = $("#hiddenProtcolID").val();
                if ($("#txtAmendment_Number").val() == "") {
                    alert('Please enter Amendment Number');
                    $("#hiddenProtcolID").focus();
                    return;
                }
                else {
                    obj.Amendment_Number = $("#txtAmendment_Number").val().trim();
                }
                if ($("#dateAmendment_Date").val() == "") {
                    alert('Please select Amendment Date');
                    return;
                }

                else {
                    obj.Amendment_Date = $("#dateAmendment_Date").val().trim();
                }

            }
            if ($(this).text() == "Save") {
                if (IsAmendment_Exists(obj.Amendment_Number, obj.ProtocolID, 0)) {
                    alert('Amendment number exists for protocol.');
                    return;
                }
            }
            else {
                if (IsAmendment_Exists(obj.Amendment_Number, obj.ProtocolID, id)) {
                    alert('Amendment number exists for protocol.');
                    return;
                }
            }
            $.ajax({
                async: false,
                type: "POST",
                url: '/PRSM/Prsm/Save_Protocol_Amendment',
                data: JSON.stringify({ T045: obj }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        alert('Amendment details saved successfully.');
                        $('.close').click();
                    }
                },
                failure: function (response) {
                    alert('Error');

                }
            })

        });
    });

</script>
