﻿
@{
    ViewBag.Title = "Protocol Setup Details";
    Layout = "~/Areas/RC/Views/Shared/_LayoutPageRC.cshtml";
    ViewBag.Create_Details = "Protocol Setup";
    ViewBag.Create_Details_URL = "/PRSM/Prsm/ProtocolSetup";
}
<div class="card">
    <div class="card-body">
        <table id="tblProtocolSetupDetails" class="display  table table-hover table-responsive  table-bordered" width="100%">
            <thead>
                <tr>

                    <th>Edit</th>
                    <th>View</th>
                    <th>Solicit Collaborator</th>
                    <th>Protocol Code</th>
                    <th>Protocol Name</th>
                    <th>Disease Site</th>
                    <th>Phase Type</th>
                    <th>Pre-Activation Date</th>
                    <th>Activation Date</th>
                    <th>Closed to Accural Date</th>
                    <th>Closure Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    function Edit(id) {

    };
    $(document).ready(function () {
        debugger;
        var tblProtocolSetupDetails = $("#tblProtocolSetupDetails").DataTable({
            dom: 'Bfrtip',           
            distroy: true,
            "pageLength": 5,
            ajax: {
                url: "/PRSM/Prsm/GetProtocolSetupDetails",
                type: "POST",
                datatype: "json"
            },
            "bFilter": true,

            "columns": [
                 {
                     "name": "Edit",
                     data: null,
                     render: function (data, type, row) {
                         var htmlEdit = "<a href='#' id='edit'  onclick='Edit(this);'><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil ' ></i></a>";
                         return htmlEdit;
                     }
                 },
                {
                    "name": "View",
                    data: null,
                    render: function (data, type, row) {
                        return "<a href='#' id='view'  onclick='EditRC(this);'><i style='color:indianred;font-weight:bold' title='View'  class='ti-eye'></i></a>";
                    }
                },
                {
                    "name": "Solicit Collaborator",
                    data: null,
                    render: function (data, type, row) {
                        var htmlCS = '';
                        return htmlCS;
                    }
                },

                { "name": "Protocol_Code", 'data': 'Protocol_Code' },
                { "name": "Protocol_Name", 'data': 'Protocol_Name' },
                { "name": "Disease_Site", 'data': 'Disease_Site' },
                { "name": "Phase_Type", 'data': 'Phase_Type' },
                { "name": "DateOfPre_Activation", 'data': 'DateOfPre_Activation' },
                { "name": "DateOfActivation", 'data': 'DateOfActivation' },
                { "name": "DateOfClosedToAccural", 'data': 'DateOfClosedToAccural' },
                { "name": "DateOfClosure", 'data': 'DateOfClosure' }],
            //set two different width columns
            "bAutoWidth": false,
            "columnDefs": [
                   { "width": "100%", "targets": 0 },
                   { "width": "90%", "targets": 1 }
            ],
            buttons: [
         'excel'
            ]
        })
        $('.buttons-excel').removeClass('dt-button').addClass(' btn btn-info');

    });


</script>


