﻿
@{
    ViewBag.Title = "Site Selection";
    Layout = "~/Areas/RC/Views/Shared/_LayoutPageRC.cshtml";
    ViewBag.Create_Details = "";
    ViewBag.Create_Details_URL = "";
}

<div class="card">
    <div class="card-body">
        <table id="tblSiteSelection" class="table table-hover table-responsive info-table">
            @*color-table*@
            <thead>
                <tr>
                    <th>Info</th>
                    <th>CS</th>
                    @*<th>View</th>*@
                    <th width="95PX">Status</th>
                    <th>Protocol</th>
                    <th width="115PX">Collaborator ID</th>
                    <th width="50PX">Site ID</th>
                    <th width="200PX">Site Name</th>
                    <th title="Site Interested in Participating">SIP</th>
                    <th width="115PX">PI Name</th>
                    <th>PI Email</th>
                    <th>Central IRB</th>
                    <th>Central Pharamacy</th>
                </tr>
            </thead>
            <tr>
                <td><button type="button" value="Info" class="btn btn-info btn-sm btn-rounded info">Info</button></td>
                <td><button type="button" value="CS" class="btn btn-info  btn-sm btn-rounded cs">CS</button></td>
                @*<td><button type="button" value="View" class="btn btn-info  btn-sm btn-rounded">View</button></td>*@
                <td></td>
                <td>B-54-I</td>
                <td>0004-001</td>
                <td>0004-010</td>
                <td>Geisinger Medical Oncology-Selinsgrove</td>
                <td>Yes</td>
                <td>Antoinette R Tan</td>
                <td>antoinette.tan@carolinashealthcare.org</td>
                <td>Yes </td>
                <td>Yes </td>

            </tr>
            <tr>
                <td><button type="button" value="Info" class="btn btn-info btn-sm btn-rounded info ">Info</button></td>
                <td><button type="button" value="CS" class="btn btn-info  btn-sm btn-rounded cs">CS</button></td>
                @*<td><button type="button" value="View" class="btn btn-info  btn-sm btn-rounded">View</button></td>*@
                <td><span class="label label-success">Selected</span></td>
                <td>C-13</td>
                <td>2589-633</td>
                <td>2589-464</td>
                <td>Name of Research Site</td>
                <td>Yes</td>
                <td>Kimberly Johung</td>
                <td>kimberly.johung@yale.edu</td>
                <td>Yes </td>
                <td>Yes </td>

            </tr>
            <tr>
                <td><button type="button" value="Info" class="btn btn-info btn-sm btn-rounded info" onclick="info(this);">Info</button></td>
                <td><button type="button" value="CS" class="btn btn-info  btn-sm btn-rounded cs">CS</button></td>
                @*<td><button type="button" value="View" class="btn btn-info  btn-sm btn-rounded">View</button></td>*@
                <td><span class="label label-success">Selected</span></td>
                <td>C-13</td>
                <td>2589-633</td>
                <td>2589-464</td>
                <td>Name of Research Site</td>
                <td>Yes</td>
                <td>Kimberly Johung</td>
                <td>kimberly.johung@yale.edu</td>
                <td>Yes </td>
                <td>Yes </td>

            </tr>
            <tr>
                <td><button type="button" value="Info" class="btn btn-info btn-sm btn-rounded info">Info</button></td>
                <td><button type="button" value="CS" class="btn btn-info  btn-sm btn-rounded cs">CS</button></td>
                @*<td><button type="button" value="View" class="btn btn-info  btn-sm btn-rounded">View</button></td>*@
                <td><span class="label label-danger">Not Selected</span></td>
                <td>C-13</td>
                <td>2582-633</td>
                <td>2582-464</td>
                <td>Research Site</td>
                <td>Yes</td>
                <td>Kimberly Johung</td>
                <td>kimberly.johung@yale.edu</td>
                <td>Yes </td>
                <td>Yes </td>

            </tr>
        </table>
    </div>
</div>
<div id="myModal" class="modal fade " role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title">Info</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myModalBodyDiv">


            </div>

        </div>
    </div>
</div>
<div id="myModal1" class="modal fade " role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal content-->
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">Change Status</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">
                <div class="form-group row">
                    <div class="col-md-2">Protocol</div>
                    <div class="col-md-2"><span class="Protocol">C-13</span></div>
                    <div class="offset-2 col-md-2">Site Id</div>
                    <div class="col-md-2"><span class="SiteId">7893-120</span></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">Status</div>
                    <div class="col-md-4">
                        <select class="form-control checkbox">
                            <option value="value">Select Status</option>
                            <option value="1">Selected</option>
                            <option value="2">Not Selected</option>
                            <option value="3">Pending</option>
                            <option value="4">Site Declined</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">Comments</div>
                    <div class="col-md-4">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row font-weight-bold">
                    DealBreaker Categories
                </div>
                <div class="offset-2 form-group row col-md-6 ">
                    <table class="table table-bordered table-hover info-table">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Categories</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>DealBreaker1</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>DealBreaker2</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>DealBreaker3</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="offset-4">
                    <input type="button" value="Save" class="btn btn-info" />
                    <input type="button" value="Cancel" class="btn btn-info" data-dismiss="modal" />
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#tblSiteSelection").DataTable({
            dom: 'Bfrtip',
            "scrollY": "300px",
            "scrollX": "250px",
            "scrollCollapse": true,
            buttons: [
                  'excel', 'print'
            ]

        });
        $('.buttons-print,.buttons-excel').each(function () {
            $(this).removeClass('dt-button').addClass(' btn btn-info')
        })
    });
    $(document).ready(function () {
        $(".info").click(function () {
            $("#myModal").modal("show");
        });
        $(".cs").click(function () {
            $("#myModal1").modal("show");
        });
    });
</script>
