﻿<div class="addendum">
    <div class="card">
        <div class="card-body section">
            <div class="form-group row">
                <div class="col-md-10 text-info font-weight-bold">
                    Research Site Information
                </div>
                <input type="hidden" id="SiteAddressID" />
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info btnLoadAddress ">Load Address</button>
            </div>
            <div class="form-group row Application">
                <div class="col-md-3">
                    SID
                </div>
                <div class="col-md-3 row">
                    <input type="text" readonly="readonly" class="form-control" id="RCID" />
                    <div class="col-md-5"><input type="text" readonly class="form-control" id="RCSiteID1" /></div>
                    <div class="col-md-5"><input type="text" maxlength="3" class="form-control" id="RCSiteID2" /></div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    Name of the Research Site
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="ResearchSiteName" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 1)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" readonly="readonly" id="Address1" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 2)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" readonly="readonly" id="Address2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    Country
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="col-md-2">
                    State/Province
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("State", new SelectList(ViewBag.States, "State_Code", "State_Name"), "--Select--", new { @class = "form-control", disabled = "disabled" })

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    City
                </div>
                <div class="col-md-2">
                    <input id="City" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-2">
                    ZIP/Postal Code
                </div>
                <div class="col-md-2">
                    <input id="ZIP" type="text" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Attention
                </div>
                <div class="col-md-2">
                    <input id="Attention" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-2">
                    Department
                </div>
                <div class="col-md-2">
                    <input id="Department" type="text" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Internal Office
                </div>
                <div class="col-md-2">
                    <input id="InternalOffice" type="text" readonly="readonly" class="form-control" />
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="form-group row ">
                <div class="col-md-12 text-info font-weight-bold">
                    Clinical Trial Activities - performed at this location. Mark all that apply.
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    Regulatory Activities
                </div>
                <div class="col-md-8">
                    @foreach (var item in ViewBag.GetRegularActivities)
                    {
                        <div class="custom-control custom-checkbox align-content-center">
                            <input type="checkbox" id="RAA @item.Name" value="@item.ID" class="custom-control-input RegularActivities">
                            <label class="custom-control-label" for="RAA @item.Name">@item.Name </label>
                        </div>
                        if (item.ID == 5)
                        {
                            <div><textarea maxlength="500" id="RegularActivity_Comment" class="form-control"></textarea></div>
                        }
                    }

                </div>
            </div>
            <div class="form-group row">

                <div class="col-md-4">
                    Study Participant Activities
                </div>
                <div class="col-md-8">
                    @foreach (var item in ViewBag.GetStudyActivities)
                    {
                        <div class="custom-control custom-checkbox align-content-center">
                            <input type="checkbox" id="SAA @item.Name" value="@item.ID" class="custom-control-input StudyActivities">
                            <label class="custom-control-label" for="SAA @item.Name">@item.Name </label>
                        </div>
                    }

                </div>
            </div>
            <div class="form-group row">

                <div class="col-md-4">
                    Data Management Activities
                </div>
                <div class="col-md-8">
                    @foreach (var item in ViewBag.GetDataManagementActivities)
                    {
                        <div class="custom-control custom-checkbox align-content-center">
                            <input type="checkbox" id="DMM @item.Name" value="@item.ID" class="custom-control-input">
                            <label class="custom-control-label" for="DMM @item.Name">@item.Name </label>
                        </div>
                    }

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    On-Site Monitoring
                </div>

                <div class="col-md-8">
                    <div class="col-md-2 form-check form-check-inline ">
                        <div class="custom-control custom-radio ">
                            <input type="radio" id="AOnSiteMonitoringchk" value="true" name="AOnSiteMonitoring" class="custom-control-input form-check-input">
                            <label class="custom-control-label " for="AOnSiteMonitoringchk">Yes</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="AOnSiteMonitoringUnchk" value="false" name="AOnSiteMonitoring" class="custom-control-input form-check-input">
                            <label class="custom-control-label" for="AOnSiteMonitoringUnchk">No</label>
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group row">

                <div class="col-md-4">
                    Pharmacy Activities
                </div>
                <div class="col-md-8">
                    @foreach (var item in ViewBag.GetPharmacyActivities)
                    {
                        if (item.ID != 3)
                        {

                            <div class="custom-control custom-checkbox align-content-center">
                                <input type="checkbox" id="PAA @item.Name" value="@item.ID" class="custom-control-input PharmacyActivities">
                                <label class="custom-control-label" for="PAA @item.Name">@item.Name </label>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body section">
            <div class="form-group row ">
                <div class="col-md-10 text-info font-weight-bold">
                    Pharmacy information. Please complete if drug is received or re-distributed at this site.
                </div>
                <input type="hidden" id="SitePharmacyAddressID" />
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info btnLoadAddress ">Load Address</button>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Name of Pharmacy
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="pharmacyname" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 1)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" readonly="readonly" id="PH_Address1" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    Address (line 2)
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" readonly="readonly" id="PH_Address2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    Country
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("PH_Country", new SelectList(ViewBag.Countries, "Country_Code", "Country_Name"), "--Select--", new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="col-md-2">
                    State/Province
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("PH_State", new SelectList(ViewBag.States, "State_Code", "State_Name"), "--Select--", new { @class = "form-control", disabled = "disabled" })

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 ">
                    City
                </div>
                <div class="col-md-2">
                    <input id="PH_City" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-2">
                    ZIP/Postal Code
                </div>
                <div class="col-md-2">
                    <input id="PH_ZIP" type="text" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Phone
                </div>
                <div class="col-md-2">
                    <input id="PH_Phone" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-1">
                    Ext
                </div>
                <div class="col-md-2">
                    <input id="PH_Phone_Ext" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-2">
                    Attention
                </div>
                <div class="col-md-2">
                    <input id="PH_Attention" type="text" readonly="readonly" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    Department
                </div>
                <div class="col-md-2">
                    <input id="PH_Department" type="text" readonly="readonly" class="form-control" />
                </div>
                <div class="col-md-2">
                    Internal Office
                </div>
                <div class="col-md-2">
                    <input id="PH_InternalOffice" type="text" readonly="readonly" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="card  ">
        <div class="card-body">

            <div class="row">
                <div class="offset-md-4 col-md-4 ">
                    <input type="button" id="Submit" class="btn btn-info" value="Submit" />
                    <input type="button" class="btn btn-info" data-dismiss-modal="#AddResearchSiteModal" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // on page load
    $(document).ready(function () {
        $('#RCSiteID').mask('0000-000');
        if ($("#IsAffirmation").is(":checked")) {
            $(".addendum #RCSiteID1").show();
            $(".addendum #RCSiteID2").show();
            $(".addendum #RCID").hide();
            var rcid = $("#RCID").val();
            $(".addendum #RCSiteID1").val(rcid.split("-")[0] + "-");
        }
        else {
            $(".addendum #RCSiteID1").hide();
            $(".addendum #RCSiteID2").hide();
            $(".addendum #RCID").show();
            $.post("/RCApplication/GetNxtRCID",
                     function (res) {
                         if (res.res == 'Success') {
                             $(".addendum #RCID").val(res.RCID);

                         }
                         else {
                             alert('Failed');
                         }
                     }).fail(function () {
                         alert("error");
                     });


        }
    });
    $("#Submit").click(function () {
      
        var RCAppAddendumSave = new Object();
        var objRC = new Object();
        var objRC_Pharmacy = new Array();
        var objRegularActivities = new Array();
        var objStudyPacrticipantActivities = new Array();
        var objDataManagementActivities = new Array();
        var obj_T019_Research_Site_History = new Object();
        objRC.RC_Application_ID = $("#ID").val();
        obj_T019_Research_Site_History.Research_Site_Name = $(".addendum #ResearchSiteName").val();
        obj_T019_Research_Site_History.siteSID = $(".addendum #RCID").val();
        if ($(".addendum #RCID").is(":visible")) {
            objRC.RCID = $("#SID").val();//main sid
            objRC.SID = $(".addendum #RCID").val()// latest
            obj_T019_Research_Site_History.RC_ID = $("#RCID").val();
        }
        else {
            obj_T019_Research_Site_History.T006_Research_Site_ID = $(".addendum #RCSiteID1").val() + $(".addendum #RCSiteID2").val();
            obj_T019_Research_Site_History.RC_ID = $("#RCID").val();

            objRC.RCSiteID = $(".addendum #RCSiteID1").val() + $(".addendum #RCSiteID2").val();
            objRC.RCID = $("#RCID").val();
            obj_T019_Research_Site_History.T006_Research_Site_RCSiteID = $(".addendum #RCSiteID1").val() + $(".addendum #RCSiteID2").val();
            objRC.SID = $(".addendum #RCID").val()
            objRC.siteSID = $("#SID").val();
            var isexsit = IsRCSiteExists(objRC.RCSiteID);
            if (isexsit) {
                alert("Research Site Code " + objRC.RCSiteID + " already exists for Research Collaborator/Site Addendum");
                return;
            }
        }


        objRC.SiteAddressID = $(".addendum #SiteAddressID").val();
        objRC.ResearchSiteName = $(".addendum #ResearchSiteName").val();
        objRC.Address1 = $(".addendum #Address1").val();
        objRC.Address2 = $(".addendum #Address2").val();
        objRC.City = $(".addendum #City").val();
        objRC.State = $('option:selected', $(".addendum #State")).val();
        objRC.Country = $('option:selected', $(".addendum #Country")).val()
        objRC.ZIP = $(".addendum #ZIP").val();
        objRC.Attention = $(".addendum #Attention").val();
        objRC.Department = $(".addendum #Department").val();
        objRC.InternalOffice = $(".addendum #InternalOffice").val();


        objRegularActivities.RegularActivity_Comment = $(".addendum #RegularActivity_Comment").val();

        $(".addendum .RegularActivities:checked").each(function () {
            objRegularActivities.push({ ID: $(this).val() });
        });

        $(".addendum .StudyActivities:checked").each(function () {
            objStudyPacrticipantActivities.push({ ID: $(this).val() });
        });

        $(".addendum .DataManagementActivities:checked").each(function () {
            objDataManagementActivities.push({ ID: $(this).val() });
        });

        $(".addendum .PharmacyActivities:checked").each(function () {
            objRC_Pharmacy.push({ ID: $(this).val() });
        });

        objRC.OnSiteMonitoring = $(".addendum  input[name='AOnSiteMonitoring']:checked").val();
        objRC.status = 1;

        objRC.SitePharmacyAddressID = $(".addendum #SitePharmacyAddressID").val();
        objRC.pharmacyname = $(".addendum #pharmacyname").val();
        objRC.PH_Address1 = $(".addendum #PH_Address1").val();
        objRC.PH_Address2 = $(".addendum #PH_Address2").val();
        objRC.PH_City = $(".addendum #PH_City").val();
        objRC.PH_State = $('option:selected', $(".addendum #PH_State")).val();
        objRC.PH_Country = $('option:selected', $(".addendum #PH_Country")).val()
        objRC.PH_ZIP = $(".addendum #PH_ZIP").val();
        objRC.PH_Phone = $(".addendum #PH_Phone").val();
        objRC.PH_Phone_Ext = $(".addendum #PH_Phone_Ext").val();
        objRC.PH_Attention = $(".addendum #PH_Attention").val();
        objRC.PH_Department = $(".addendum #PH_Department").val();
        objRC.PH_InternalOffice = $(".addendum #PH_InternalOffice").val();



        RCAppAddendumSave._T006_Research_Site = objRC;
        RCAppAddendumSave.T205_RC_PharmacyActivities = objRC_Pharmacy;
        RCAppAddendumSave.lst_T206_RC_RegularActivities = objRegularActivities;
        RCAppAddendumSave.lst_T203_RC_StudyPacrticipantActivities = objStudyPacrticipantActivities;
        RCAppAddendumSave.lst_T204_RC_DataManagementActivities = objDataManagementActivities;
        RCAppAddendumSave._T019_Research_Site_History = obj_T019_Research_Site_History;
        var resubmit = false;
        if ($("input[name='IsResubmit']:checked").val() != undefined)
            resubmit = $("input[name='IsResubmit']:checked").val();
        
        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/SaveSiteAddendumDetails",
            data: JSON.stringify({
                obj: RCAppAddendumSave,
                isresubmit: resubmit
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert(data);
                $("#AddResearchSiteModal .close").click();
            },
            failure: function (response) {
                alert('Error');
            }
        });
    });
    $('.btnLoadAddress').click(function () {

        store_div = $(this).parents(".section");
        var url = "/RCApplication/getAddress";
        $("#AddressModalBody").load(url, function () {
            $("#AddressModal").modal("show");
        })
    });
    $("#AddressModalBody").on('click', '#LoadAddress', function () {

        if ($("#tblAddress .chkSelect:checked").length == 1) {
            var table = $('#tblAddress').DataTable();
            var tr = $("#tblAddress .chkSelect:checked").closest('tr');
            var data = table.row(tr).data();
            $(store_div).find(':input').each(function (e) {
                var id = this.id;               

                if (id.indexOf('AddressID') > -1 )
                    $(this).val(data["Address_ID"]);
                if (id.indexOf('Address1') > -1)
                    $(this).val(data["Address_Line1"]);
                else if (id.indexOf('Address2') > -1 )
                    $(this).val(data["Address_Line2"])

                else if (id.indexOf('Country') > -1)
                    $(this).val(data["Country_ID"])
                else if (id.indexOf('State') > -1)
                    $(this).val(data["State_ID"])
                else if (id.indexOf('City') > -1)
                    $(this).val(data["City"])
                else if (id.indexOf('ZIP') > -1)
                    $(this).val(data["ZIP"])
                else if (id.indexOf('Attention') > -1)
                    $(this).val(data["Attention"])
                else if (id.indexOf('Department') > -1)
                    $(this).val(data["Department"])
                else if (id.indexOf('InternalOffice') > -1)
                    $(this).val(data["Internal_Office"])
            });

            $("#AddressModal .close").click();
        }
        else if ($("#tblAddress .chkSelect:checked").length == 0) {
            alert('Please select address to load');
            return;
        }
    });
    $("#AddressModalBody").on('click', '.chkSelect', function () {

        $(".chkSelect").prop("checked", false);
        $(this).prop("checked", true);
    });
    function IsRCSiteExists(RCID) {
        var result = "";
        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/IsRCSiteExists",
            data: '{RCID: "' + RCID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                result = data.res;
            },
            failure: function (response) {
                alert('Error');
            }
        });
        return result;
    }
</script>
