﻿<div class="card">
    <input type="hidden" id="rcdetailsID" value="" />
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-3 row">
                <div class="col-md-3">
                    SID :
                </div>
                <div class="col-md-6">
                    <label id="lblSID"></label>
                </div>
            </div>
            <div class="col-md-5 row">
                <div class="col-md-4">
                    Institution Name :
                </div>
                <div class="col-md-7">
                    <label id="lblInstitutionName"></label>
                </div>
            </div>
            <div class="col-md-4 row">
                <div class="col-md-5">
                    Application Status:
                </div>
                <div class="col-md-5">
                    @Html.DropDownList("RC_Application_Status", new SelectList(ViewBag.status, "Status_ID", "Status_Name"), "--Select--", new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group row clsAppproved">
            <div class="col-md-8 row">
                <div>
                    Do you want to assign old NSABP site ID ? :
                </div>
                <div class="form-check form-check-inline ">
                    <div class="custom-control custom-radio ">
                        <input type="radio" id="assignOldNSABPSiteIDYes" value="true" name="assignOldNSABPSiteID" class="custom-control-input form-check-input">
                        <label class="custom-control-label " for="assignOldNSABPSiteIDYes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="assignOldNSABPSiteIDNo" value="false" name="assignOldNSABPSiteID" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="assignOldNSABPSiteIDNo">No</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 row">
                <div class="col-md-4"> NSABP Site ID:</div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="txtApplicationSiteID" />
                </div>
            </div>
        </div>
        <div class="form-group row clsPending">
            <div class="col-md-3">Select the sections to be unlocked</div>
            <div class="form-group row chksections">

                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="chkGeneval" Value="General" class="custom-control-input clsEval" /><label for="chkGeneval" class="custom-control-label">General Evaluation</label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="chkFacieval" Value="Facilities" class="custom-control-input clsEval" />
                    <label for="chkFacieval" class="custom-control-label">Facilities Evaluation</label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="chkIRBeval" Value="IRB" class="custom-control-input clsEval" /><label for="chkIRBeval" class="custom-control-label">IRB Evaluation</label>
                </div>
                <div class="custom-control custom-checkbox align-content-center"><input type="checkbox" id="chkPharmaeval" Value="Pharmacy" class="custom-control-input clsEval" /><label for="chkPharmaeval" class="custom-control-label">Pharmacy Evaluation</label></div>
                <div class="custom-control custom-checkbox align-content-center"> <input type="checkbox" id="chkNoChange" Value="NoChange" class="custom-control-input clsNothing" /><label for="chkNoChange" class="custom-control-label">NoChange</label></div>


            </div>
        </div>
        <div class="form-group row daterow">
            <div class="col-md-3 row ">
                <div class="col-md-3">
                    Date :
                </div>
                <div class="col-md-6">
                    <input type="text" id="rdpApplicationStatusDate" value="" class="datepicker form-control" />
                </div>
            </div>
            <div class="col-md-7 row">
                <div> Reason Comments :</div>
                <div class="col-md-8 clsReason"> <textarea class="form-control" rows="3" cols="100" id="txtApplicationStatusReason" wrap="soft"></textarea></div>
            </div>
        </div>
        <h5 class="font-weight-bold">Change Site Addendum Status</h5>
        <div class="cstableEval">
            <table id="tblCSAddendum" class="display nowrap table table-hover table-responsive table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>

                        <th>SID</th>
                        <th>Research Site Name </th>
                        <th>RC Site Review</th>
                        <th>RC Site Status</th>
                        <th>RC Site change Status Date</th>
                        <th>Research Site Code</th>
                        <th>Reason/Comment</th>
                        <th>Sections to be Unlocked</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="offset-5">
            <input type="button" value="Update" id="btn_cs_Update" class="btn btn-info" />
            <input type="button" value="Cancel" id="btn_cs_cancel" class="btn btn-info" data-dismiss-modal="#RCCSModal" />
        </div>
    </div>
</div>
<input type="hidden" id="hidden_Rc_App_SentDate" />
<input type="hidden" id="hidden_selectstat" />

<script>
    var flag = false;
    var SID = '@ViewBag.SID';
    var SelectedSiteStatus = "";
    var oldRC_Application_Status = "";

    function BindApplicationSiteStatus(SelectedSiteStatus, oldRC_Application_Status) {
        var opt = "<select class='clsddlsiteStatus form-control col-md-12'>";
        $.ajax({
            async:false,
            url: "/RCApplication/BindApplicationSiteStatus",
            type: "POST",
            datatype: "json",
            data: { SelectedSiteStatus: SelectedSiteStatus, oldSiteStatus: oldRC_Application_Status },
            success: function (data) {

                //if (SelectedSiteStatus == "3")
                //    oldRC_Application_Status = SelectedSiteStatus;
                //var s = oldRC_Application_Status;
                //if (SelectedSiteStatus != 7)
                //    oldRC_Application_Status = SelectedSiteStatus
                $.each(data, function (index, itemData) {
                    debugger;
                    if (flag==true&&SelectedSiteStatus == itemData.Value)
                    {

                            opt += "<option value=" + itemData.Value + " selected>" + itemData.Text + "</option>";
                    }
                    else if (flag == false && oldRC_Application_Status == itemData.Value)
                        opt += "<option value=" + itemData.Value + " selected>" + itemData.Text + "</option>";
                    else
                        opt += "<option value=" + itemData.Value + ">" + itemData.Text + "</option>";
                });
              //  oldRC_Application_Status = s;
                opt+='</select>';
                //$("#tblCSAddendum .clsddlsiteStatus").html(opt);
                //$("#tblCSAddendum .clsddlsiteStatus").val(SelectedSiteStatus);

                //
                //var $select = $(".clsddlsiteStatus");
                //$select.empty();

                //$.each(data, function (index, itemData) {

                //    $select.append($('<option/>', {
                //        value: itemData.Value,
                //        text: itemData.Text
                //    }));
                //    ///select.val() = oldSiteStatus;
                //});
                //$(".clsddlsiteStatus").val(oldSiteStatus);
            }
        });

        return opt;
    }

    $(document).ready(function () {
        var tblCSAddendum = $('#tblCSAddendum').DataTable({
            dom: 'frtip',
            ajax: {
                async:false,
                type: "POST",
                url: "/RCApplication/GetSiteAddendumDetailsWithAssessment1",
                data: { sid: SID },
                dataType: "json"
            },
            "pageLength": 5,
            destroy: true,//to over come reintilize problems
            deferRender:true,
            "columns": [
                { "name": "SID", 'data': 'sid' },
                {
                    "name": "Research_Site_Name",
                    "data": "ResearchSiteName"
                },
                {
                    "name": "RC_Site_Review", 'data': null,
                    render: function (data, type, row, meta) {
                        if (data.Application_Site_Status == "2") {
                            if (data.SectionsToBeUnlock != null) {

                                if (data.SectionsToBeUnlock.indexOf("NoChange") > -1) {
                                    return "<a id='RCRCcs' class='text text-info' onclick='ChangeStatus(this);' href='#'>Sent to RCRC</a>";//Sent to RCRC
                                }

                            }
                        }
                        if (data.Application_Site_Status == "6") {
                            return "<a id='RCRCcs' class='text text-info' onclick='ChangeStatus(this);' href='#'>Sent to RCRC</a>";//Sent to RCRC
                        }
                        else {

                                oldRC_Application_Status = data.Application_Site_Status;
                                var html = BindApplicationSiteStatus(SelectedSiteStatus, oldRC_Application_Status,flag);
                                return html;
                        }

                    }
                    //"defaultContent":"<select class='clsddlsiteStatus form-control'></select>"
                },
                { "name": "RC_Site_Status", 'data': 'Research_Site_Status' },
                //{ "name": "Date of Call", 'data': 'Date', render: function (dt) { var date = eval(dt.replace(/\/Date\((\d+)\)\//gi, "new Date($1)")); return date.toLocaleDateString(); } },
                {
                    "name": "RC_Site_change_Status_Date", 'data': null,
                    render: function (data, type,row, meta) {

                    if ($('#tblCSAddendum tbody').find('tr:eq(' + meta.row + ')').find('.clsddlsiteStatus').val() == "4" || $('#tblCSAddendum tbody').find('tr:eq(' + meta.row + ')').find('.clsddlsiteStatus').val() == "2" || $('#tblCSAddendum tbody').find('tr:eq(' + meta.row + ')').find('.clsddlsiteStatus').val() == "3") {

                           var html = '<input type="text" class="clsApplication_Site_Status_Date form-control datepicker"';
                           if (jsondate(data.Application_Site_Status_Date) != "")
                                  html += ' Value="' + jsondate(data.Application_Site_Status_Date) + '"';
                            html += ' />';
                            return html;
                        }
                        else {
                           return jsondate(data.Application_Site_Status_Date);
                           // return 'prem';
                    }

                    }


                },
                {
                    "name": "Research_Site_Code", 'data': null,
                    render: function (data, type, row, meta) {
                        var html = "";

                         if ($('#tblCSAddendum tbody').find('tr:eq(' + meta.row + ')').find('.clsddlsiteStatus').val() == "3") {
                              html = '<input type="text" class="clsResearch_Site_Code form-control" value="' + data.RCSiteID + '"/>';
                            $('#tblCSAddendum tbody').find('tr:eq(' + meta.row + ')').find('.clsResearch_Site_Code').mask('0000-000');
                            return html;
                       }
                        else
                             //  return data.RCSiteID;
                             return "";

                    }
                },
                {
                    "name": "Reason/Comment", 'data':null,
                    render: function (data, type, row, meta) {


                         if ($('#tblCSAddendum tbody').find('tr:eq(' + meta.row + ')').find('.clsddlsiteStatus').val() == "4" || $('#tblCSAddendum tbody').find('tr:eq(' + meta.row + ')').find('.clsddlsiteStatus').val() == "2" ||$('#tblCSAddendum tbody').find('tr:eq(' + meta.row + ')').find('.clsddlsiteStatus').val() == "3") {

                             var html = '<textarea class="form-control clsStatusReason" rows="3" cols="100" wrap="soft">';
                             if (data.Application_Site_Status_Reason != null)
                                 html += ''+ data.Application_Site_Status_Reason +' ';
                             html+='</textarea>';

                            return html;
                        }
                         else { //return data.Application_Site_Status_Reason;
                             return "";
                         }
                    }
                },
                {
                    "name": "Sections to be Unlocked", 'data': null, render: function (data, type, row,meta) {

                        if (data.Application_Site_Status != "7") {
                           $('#tblCSAddendum tbody').find('tr:eq(' + meta.row + ')').find("input,button,textarea,select").attr("disabled", "disabled");
                            //$('t *').prop('disabled', true);
                        }

                        if ($('#tblCSAddendum tbody').find('tr:eq(' + meta.row + ')').find('.clsddlsiteStatus').val() == "2" || data.Application_Site_Status=="2") {
                        var res = data.SectionsToBeUnlock;

                            var html='<div class="custom-control custom-checkbox align-content-center">';

                            html += ' <input type="checkbox" id="chkGeneval' + meta.row + '"';
                            if (res!=null)
                            if (res.includes("General"))
                                html += 'checked';
                        html+=' Value="General" class="custom-control-input clsEval1" /><label for="chkGeneval' + meta.row + '" class="custom-control-label">General Evaluation</label></div>';
                         html+='<div class="custom-control custom-checkbox align-content-center">';
                         html += ' <input type="checkbox" id="chkFacieval' + meta.row + '"';
                         if (res != null)
                         if(res.includes("Facilities"))
                             html += 'checked';
                         html+=' Value="Facilities" class="custom-control-input clsEval1" />';
                                 html+='<label for="chkFacieval' + meta.row + '" class="custom-control-label">Facilities Evaluation</label>'
                                 html+='</div>';
                                 html+='<div class="custom-control custom-checkbox align-content-center">';
                                 html += '<input type="checkbox" id="chkIRBeval' + meta.row + '"';
                                 if (res != null)
                                 if(res.includes("IRB"))
                                     html += 'checked';
                                 html += ' Value="IRB" class="custom-control-input clsEval1" /><label for="chkIRBeval' + meta.row + '" class="custom-control-label">IRB Evaluation</label></div>';

                                 html += '<div class="custom-control custom-checkbox align-content-center"><input type="checkbox" id="chkPharmaeval' + meta.row + '" ';
                                 if (res != null)
                                 if(res.includes("Pharmacy"))
                                     html += 'checked';
                                 html += ' Value="Pharmacy" class="custom-control-input clsEval1" /><label for="chkPharmaeval' + meta.row + '" class="custom-control-label">Pharmacy Evaluation</label></div>';
                                 html += '<div class="custom-control custom-checkbox align-content-center"> <input type="checkbox" id="chkNoChange' + meta.row + '"'
                                 if (res != null)
                                 if (res.includes("NoChange"))
                                     html += 'checked';
                                 html += ' Value="NoChange" class="custom-control-input clsNothing1" /><label for="chkNoChange' + meta.row + '" class="custom-control-label">NoChange</label></div>'

                                 return html;
                    }
                    else
                    {
                        return "";
                        }

                }
                }
            ],


        })
        $("#tblCSAddendum tbody tr").on("change", ".clsEval1", function () {
            var tr = $(this).closest('tr');
            if ($(this).is(":checked"))
            $(tr).find('.clsNothing1').prop("checked", false)
        });
        $("#tblCSAddendum tbody tr").on("change", ".clsNothing1", function () {
            var tr = $(this).closest('tr');
            if ($(this).is(":checked"))
                $(tr).find('.clsEval1').prop("checked", false)
        });
        $("#RC_Application_Status").change(function () {

            if ($("#RC_Application_Status").val() == 2) {
                $(".clsAppproved").hide();
                $(".clsPending").show();
                $(".daterow").show();
            }
            else if ($("#RC_Application_Status").val() == 3) {
                $('#txtApplicationSiteID').mask('0000-000');
                $(".clsAppproved").show();
                $(".clsPending").hide();
                $(".daterow").show();
            }
            else if ($("#RC_Application_Status").val() == 4) {
                $(".clsAppproved").hide();
                $(".clsPending").hide();
                $(".daterow").show();
            }
            else if ($("#RC_Application_Status").val() == 7) {
                $(".clsAppproved").hide();
                $(".clsPending").hide();
                $(".daterow").hide();
            }

            SelectedSiteStatus = $("#RC_Application_Status").val();

            //$(".clsddlsiteStatus").replaceWith(BindApplicationSiteStatus($("#RC_Application_Status").val(), oldRC_Application_Status));
            //$(".clsddlsiteStatus").val($("#RC_Application_Status").val());
            //tbl.row(tr).cells().invalidate().render();
            var tbl = $('#tblCSAddendum').DataTable();


           // for (var i = 0; i < tbl.rows().count() ; i++)
           // {
           //     var tr = $('#tblCSAddendum tbody').find('tr:eq('+i+')');
           //     tr.find('td:eq(2)').html('<select class="clsddlsiteStatus form-control"></select>')
           // }
           // //tbl.rows().every(function (rowidx,tableloop,rowloop) {
           // //
           // //    tableloop.rowidx.find("td:eq(1)").text();
           // //});
           //// selected = $("#RC_Application_Status").val();
           ////bl.draw();
           //BindApplicationSiteStatus($("#RC_Application_Status").val(), oldRC_Application_Status);
          // /tbl.row().invalidate().draw();
            // t tbl.row().invalidate().draw();

            tbl.rows().invalidate().draw();
        });
        $(".clsEval").click(function () {
            if ($(this).is(":checked")) {
                $(".clsNothing").prop("checked", false);
            }
        })
        $(".clsNothing").click(function () {
            if ($(this).is(":checked")) {
                $(".clsEval").prop("checked", false);
            }
        })
        $("#btn_cs_Update").click(function () {

            var obj = new Object();
            obj.ID = $("#hidden_ID").val();
            obj.SID = $("#lblSID").text();
            // obj.RCID = "";

            obj.RC_Application_Status = $("#RC_Application_Status").val();
            if (obj.RC_Application_Status != 7) {
                if ($("#hidden_Rc_App_SentDate").val() != "") {

                    if ($("#hidden_Rc_App_SentDate").val() > $("#rdpApplicationStatusDate").val()) {
                        alert('Date should be greater than or equal to previous status Date');
                        $("#rdpApplicationStatusDate").focus();
                        return;
                    }
                }

                obj.RC_Application_Status_Date = $("#rdpApplicationStatusDate").val();
                obj.RC_Application_Status_Reason = $("#txtApplicationStatusReason").val();
                var sections = "";
                if ($("#RC_Application_Status").val() == "2") {
                    $(".clsEval").each(function () {
                        //  input[type = 'checkbox']
                        if ($(this).is(":checked")) {
                            if (sections == "") {
                                sections = $(this).val();
                            }
                            else {
                                sections = sections + ',' + $(this).val();
                            }
                        }

                    })

                    if ($(".clsNothing").is(":checked")) {
                        sections = $(".clsNothing").val();
                    }
                    if (sections == "") {
                        alert('Please Select the sections to be unlocked');
                        return;
                    }
                    else {
                        obj.SectionsToBeUnlock = sections;
                    }

                }

                if (obj.RC_Application_Status == "3") {

                    if ($("#input[name='assignOldNSABPSiteID']").is(":checked")) {
                        obj.assignOldNSABPSiteID = $("#input[name='assignOldNSABPSiteID']:checked").val();
                    }
                    obj.RCID = $("#txtApplicationSiteID").val();
                    var site = obj.RCID.substring(0, 4);
                    if (!$("#RC_Application_Status").is(":disabled")) {
                        var res = IsRCIDExists(obj.RCID);
                        if (res == true && res != "") {
                            alert('Research Collaborator ID ' + site + '  already exists.');
                            return;
                        }
                        else if (res != false) {
                            alert('Error');
                            return;
                        }
                    }
                }

            }
            var arraysites = new Array();
            var objsite;
            var tbl = $('#tblCSAddendum').DataTable();
           // tbl.rows().every(function (data,row) {
                for(var i=0;i<$('#tblCSAddendum').DataTable().rows().count();i++)
                {
                    if (($("#RC_Application_Status").is(":disabled") != true && $("#RC_Application_Status").val() == "3") && ($("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsddlsiteStatus').val() != "3" && $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsddlsiteStatus').val() != "2"))
                {
                    alert('Please select Approved or Approved Pending Status');
                    $(this).find('.clsddlsiteStatus').focus();
                    return;
                   // return;
                }
                    var data = $('#tblCSAddendum').DataTable().rows(i).data();

                objsite = new Object();
                objsite.SID = data[0]["sid"];
                objsite.ID = data[0]["ID"];
                objsite.Application_Site_Status = $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsddlsiteStatus').val();// data["Research_Site_Status"];

               // var date = $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsApplication_Site_Status_Date');

                if (objsite.Application_Site_Status != "1") {
                    debugger;
                    if ($("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsApplication_Site_Status_Date').val() == null) {
                        alert('Please select the Research Site change status date');
                        return;
                    }
                    // if()

                    objsite.Application_Site_Status_Date = $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsApplication_Site_Status_Date').val();
                    objsite.Application_Site_Status_Reason = $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsStatusReason').val();


                if (objsite.Application_Site_Status== "2")
                {
                    var sections;
                    $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsEval1').each(function () {

                        if ($(this).is(":checked")) {
                            if (sections == "") {
                                sections = $(this).val();
                            }
                            else {
                                sections = sections + ',' + $(this).val();
                            }
                        }

                    })

                    if ($("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find(".clsNothing1").is(":checked")) {
                        sections = $(".clsNothing1").val();
                    }
                    if (sections == "") {
                        alert('Please Select the sections to be unlocked');
                        return;
                    }
                    else {
                        objsite.SectionsToBeUnlock = sections;
                    }



                }
                if (objsite.Application_Site_Status == "3")
                {
                    //clsResearch_Site_Code
                 //   RadMaskedTextBox txtRCSiteID = (RadMaskedTextBox)grItem.FindControl("txtRCSiteID");
                    if ($("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsResearch_Site_Code') == "")
                    {
                       alert('Please enter the Research Site Code');
                       $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsResearch_Site_Code').focus();
                        return;
                    }
                    if ($("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsResearch_Site_Code').val().length < 8)
                    {
                        alert('Research Site Code should be in xxxx-xxx format');
                        $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsResearch_Site_Code').focus();
                        return;
                    }
                    //txtApplicationSiteID
                    //clsResearch_Site_Code
                    var txtRCSiteID = $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsResearch_Site_Code').val();

                    if (txtRCSiteID.substring(0, txtRCSiteID.indexOf('-')) != $("#txtApplicationSiteID").val().substring(0, $("#txtApplicationSiteID").val().indexOf('-')))
                    {
                        alert('Research Site Code first part should be equal to the NSABP Site ID first part');
                   $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsResearch_Site_Code').focus();
                        return ;
                    }
                    if (txtRCSiteID == $("#txtApplicationSiteID").val())
                    {
                        alert('Research Site Code "' + txtRCSiteID + '" should not be equal to the Research Collaborator');
                        $("#tblCSAddendum tbody").find("tr:eq(" + i + ")").find('.clsResearch_Site_Code').focus();
                        return ;
                    }
                    //if (ResearchSiteBLL.IsRCSiteExists(txtRCSiteID.TextWithLiterals))
                    //{
                    //    ScriptManager.RegisterStartupScript(this, this.GetType(), "Alert1", "javascript:alert('Research Site Code " + txtRCSiteID.TextWithLiterals + " already exists for Research Collaborator/Site Addendum');", true);
                    //    return;
                    //}
                    //rw["RCSiteID"] = txtRCSiteID.TextWithLiterals;
                    objsite.RCSiteID = txtRCSiteID;
                }


            //    objsite.SectionsToBeUnlock = data["SectionsToBeUnlock"];

                }
                arraysites.push(objsite);
                debugger; }

            $.ajax({
                async: false,
                url: "/RCApplication/UpdateChangeStatus",
                type: "POST",
                datatype: "json",
                data: { objIndustryRoaster: obj, lstSiteReviewDetails: arraysites },
                success: function (data) {
                    if (data.data == "success") {
                        $("#btn_cs_cancel").click();
                        alert("Application/Addendum status changed successfully");
                    }
                    else
                        alert("Invaid operation");
                }

            });
        });

        $("#tblCSAddendum tbody tr").on("change",".clsddlsiteStatus", function () {

            //  var tr = $(this).closest('tr');
            //  var tbl = $('#tblCSAddendum').DataTable();
            //  var s = tbl.row(tr).data();
            //  $(tr).find('td:eq(5)').html('<input type="text"/>');
            //  $(tr).find('td:eq(6)').html('<input type="text" value="sdf"/>');
            //  tbl.row(tr).cells().data().draw();
            flag = true;
         var tr = $(this).closest('tr');
            var tbl = $('#tblCSAddendum').DataTable();
            //var s = tbl.row(tr).data();

            if ($(tr).find('.clsddlsiteStatus').val() == 4) {

                SelectedSiteStatus = $(tr).find('.clsddlsiteStatus').val();

                if (!$("#RC_Application_Status").is(":disabled"))
                {
                    $("#RC_Application_Status").val(SelectedSiteStatus).trigger('change');
                }
                else
                    tbl.row(tr).invalidate().draw();

            }

            else {

                SelectedSiteStatus = $(this).val();

                tbl.row(tr).invalidate().draw();
            }
        })
        $(".btnAddResearchSite").click(function () {

            $("#myModal").modal({ backdrop: 'static', keyboard: false, show: true })

        });

    });
    //Pageload
    $(document).ready(function () {
       // oldRC_Application_Status = $("#RC_Application_Status").val()
        $(".clsAppproved").hide();
        $(".clsPending").hide();
        $(".daterow").hide();
        $(".datepicker").datepicker({
            autoclose: true,
            format: 'mm/dd/yyyy',
            endDate: 'today'
        });
        //code for datepicker in table start
        $('#tblCSAddendum').on('focus',".datepicker", function(){
            $(this).datepicker({
                autoclose: true,

                format: 'mm/dd/yyyy',
                endDate: 'today',
            });
        });
        //code for datepicker in table end
        if ($("#RC_Application_Status").is(":disabled"))
        $("#RC_Application_Status").trigger("change");
    });
</script>
<style>
    .modal-dialog.manage {
        width: auto;
        min-width: 1200px;
    }
</style>