﻿
@{
    ViewBag.Title = "Research Collaborator Details";
    Layout = "~/Areas/RC/Views/Shared/_LayoutPageRC.cshtml";
}

<div class="card">
    <div class="card-body">
        <table id="tblRCDetails" class="display no-wrap  table table-hover table-responsive  table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>RC RC Review</th>
                    <th>RC RC Status</th>
                    <th>RC RC Status History</th>
                    <th>Application</th>
                    <th>Affiramtion</th>
                    <th>SID</th>
                    <th>RC ID</th>
                    <th>Institution Name</th>
                    <th>Address(Line 1) </th>
                    <th>Address(Line 2)</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>ZIP</th>
                    <th>Attention</th>
                    <th>Department</th>
                    <th>Internal Office</th>
                    <th>TaxIdentificationNumber</th>
                    <th>Do You Have Additional Research Sites?</th>
                    <th>Is fully executed contract required prior to activation?</th>
                    <th>Is fully executed contract required prior to enrollment?</th>
                    <th>Change Status Date</th>
                    <th>Change Status Reason</th>
                    <th>IsResubmit</th>
                    <th>Resubmited</th>
                    <th>Do you want to assign ol dNSABP Site ID?</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
<div id="EditRCModal1" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog manage popupwidth">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>Edit</b></h4>
                <button type="button" class="close" data-dismiss-modal="#EditRCModal1">&times;</button>
            </div>
            <div class="modal-body" id="EditRCModal1Body">
            </div>
        </div>
    </div>
</div>
<div id="HistoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog manage popupwidth">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>View Application Status History</b></h4>
                <button type="button" class="close" data-dismiss-modal="#HistoryModal">&times;</button>
            </div>
            <div class="modal-body" id="HistoryModalBody">
                <table id="tblHistory" class="display no-wrap  table table-hover table-responsive  table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Application Status</th>
                            <th>Date</th>
                            <th>Comment</th>
                            <th>Modified by</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="RCCSModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog manage popupwidth">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b> Change Application Status</b></h4>
                <button type="button" class="close" data-dismiss-modal="#RCCSModal">&times;</button>
            </div>
            <div class="modal-body" id="RCCSModalBody">
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="" id="hidden_ApplicationOrAddendum" />
<input type="hidden" value="" id="hidden_ID" />
<div id="SentRCRCPanelModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>Send to RCRC</b></h4>
                <button type="button" class="close" data-dismiss-modal="#SentRCRCPanelModal">&times;</button>
            </div>
            <div class="modal-body" id="SentRCRCPanelModalBody">
                <div class="form-group row justify-content-center">
                    <div class="col-md-4"><b>Application SID: </b></div>
                    <div class="col-md-4"><label ID="lblSubmittedApplicationID" /></div>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-md-4"> <b>Date of RC submitted: </b></div>
                    <div class="col-md-4"><input type="text" id="txtDateOfRCSubmitted" class="form-control" /></div>
                </div>

            </div>
            <div class="modal-footer align-content-lg-center">

                <div><input type="button" id="btnSentToRCRC" class="btn btn-info " value="UPDATE" /></div>@*//OnClientClick="return SendToRCRCValidations()"*@
                <div><input type="button" id="btnSentToRCRCCancel" class="btn btn-info " value="CANCEL" data-dismiss-modal="#SentRCRCPanelModal" /></div> @*OnClientClick="return closeSentRCRCPanel()"*@

            </div>

        </div>
    </div>
</div>

<script>
    //TABLE
    $(document).ready(function () {
        var tblRCDetails = $('#tblRCDetails').DataTable({
            //data: d.res,
            dom: 'Bfrtip',
            distroy: true,
            "pageLength": 5,
            ajax: {
                url: "/RCApplication/getRcAppDetails",
                type: "POST",
                datatype: "json"
            },
            "bFilter": true,
            "columns": [
                { "name": "ID", 'data': 'ID', visible: false },
                 {
                     "name": "Edit",
                     data: null,
                     render: function (data, type, row) {
                         var id = data.ID
                         var htmlEdit = "<a href='#' id='edit'  onclick='EditRC(" + id + ",edit);'><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil ' ></i></a>";

                         if (data.IsApplication == "No") {
                             htmlEdit = "<a href='#' id='edit'  onclick='EditRC(" + id + ",edit);'><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil ' ></i></a>";
                         }
                         else {
                             if (data.RC_Application_Status == 4) {
                                 htmlEdit = "";
                             }
                         }
                         return htmlEdit;
                     }
                 },
                {
                    "name": "View",
                    data: null,
                    render: function (data, type, row) {
                        var id = data.ID
                        var htmlCS = "<a href='#' id='view'  onclick='EditRC(" + id + ",view);'><i style='color:indianred;font-weight:bold' title='View'  class='ti-eye'></i></a>";


                        return "<a href='#' id='view'  onclick='EditRC(" + id + ",view);'><i style='color:indianred;font-weight:bold' title='View'  class='ti-eye'></i></a>";

                    }
                },
                {
                    "name": "RC RC Review",
                    data: null,
                    render: function (data, type, row) {
                        var sid = data.SID;
                        var htmlCS = "<a  class='text text-info' onclick='ChangeStatus(this);' href='#'>Change Status</a>";
                        if (data.IsApplication == "No") {
                            htmlCS = "";
                        }
                        else {
                            if (data.RC_Application_Status == 7 || data.RC_Application_Status == 3) {
                                htmlCS = "<a id='Change_Status' class='text text-info' onclick='ChangeStatus(this);' href='#'>Change Status</a>";
                            }
                            else if (data.RC_Application_Status == 6 || (data.RC_Application_Status == 2 && data.SectionsToBeUnlock == "NoChange")) {
                                debugger;
                                htmlCS = "";

                                var res = GetSiteAddendumDetails(sid);
                                if (res.length == 0) {
                                    htmlCS = "<a id='RCRC' class='text text-info' onclick='ChangeStatus(this);' href='#'>Sent to RCRC</a>";//Sent to RCRC
                                }
                                else if (res.length > 0) {
                                    var AddendumStatusCount = (res.filter(a => a.Application_Site_Status == "6").length) + (res.filter(b => b.Application_Site_Status == "2" && b.SectionsToBeUnlock.includes("NoChange")).length);
                                    if (res.length == AddendumStatusCount) {
                                        //    lnkChangeStatus.Visible = true;
                                        //    lnkChangeStatus.Text = "Send to RCRC";
                                        htmlCS = "<a id='RCRC' class='text text-info' onclick='ChangeStatus(this);' href='#'>Sent to RCRC</a>";//Sent to RCRC
                                    }

                                }
                            }
                            else { htmlCS = ""; }
                        }
                        return htmlCS;
                    }
                },

                { "name": "RC_Status", 'data': 'RC_Status' },
                {
                    "name": "RC RC Status History",
                    data: null,
                    render: function (data, type, row) {
                        var sid = data.SID;
                        var htmlhstry = "<a  class='text text-info' href='#'  onclick='History(\"" + sid + "\");'>View History</a>";
                        if (data.IsApplication == "No") {
                            htmlhstry = "";
                        }
                        else {

                            htmlhstry = "<a  class='text text-info' href='#'  onclick='History(\"" + sid + "\");'>View History</a>";
                        }
                        return htmlhstry;

                    }
                },
                { "name": "IsApplication", 'data': 'IsApplication' },
                { "name": "IsAffirmation", 'data': 'IsAffirmation' },
                { "name": "SID", 'data': 'SID' },
                { "name": "RCID", 'data': 'RCID' },
                { "name": "InstitutionName", 'data': 'InstitutionName' },
                { "name": "Address1", 'data': 'Address1' },
                { "name": "Address2", 'data': 'Address2' },
                { "name": "Country_Name", 'data': 'Country_Name' },
                { "name": "State_Name", 'data': 'State_Name' },
                { "name": "City", 'data': 'City' },
                { "name": "ZIP", 'data': 'ZIP' },
                { "name": "Attention", 'data': 'Attention' },
                { "name": "Department", 'data': 'Department' },
                { "name": "InternalOffice", 'data': 'InternalOffice' },
                { "name": "TaxIdentificationNo", 'data': 'TaxIdentificationNo' },
                { "name": "HaveAdditionalResearchSites", 'data': 'HaveAdditionalResearchSites' },
                { "name": "FullyExeContratReqPriorToActivation", 'data': 'FullyExeContratReqPriorToActivation' },
                { "name": "FullyExeContratReqPriorToEnrollment", 'data': 'FullyExeContratReqPriorToEnrollment' },
                { "name": "RC_Application_Status_Date", 'data': 'RC_Application_Status_Date' },
                { "name": "RC_Application_Status_Reason", 'data': 'RC_Application_Status_Reason' },
                { "name": "IsResubmit", 'data': 'IsResubmit' },
                { "name": "Resubmited", 'data': 'Resubmited' },
                 { "name": "assignOldNSABPSiteID", 'data': 'assignOldNSABPSiteID' }
            ],
            buttons: [
         'excel'
            ]
        })
        $('.buttons-excel').removeClass('dt-button').addClass(' btn btn-info');

    });
    debugger;
    function IsRCIDExists(RCID) {
        var result = "";
        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/IsRCIDExists",
            data: '{RCID: "' + RCID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                result = data.res;
            },
            failure: function (response) {
                alert('Error');
            }
        });
        return result;
    }
    function EditRC(id, _type) {

        var url = "/RCApplication/p_RCApp";
        $("#EditRCModal1Body").load(url, function () {
            $.ajax({
                async: false,
                type: "POST",
                url: "/RCApplication/EditRCApp?id=" + id + "",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {

                    populateRC(data.data, data.data._T001_Research_Collaborator);

                    if (_type[0].id == "view") {
                        $("#divRC *").prop("disabled", true);
                        $("#RCSave").val("Update")
                        $("#EditRCModal1 .modal-header b").text("View");
                    }
                    else if (_type[0].id == "edit") {
                        $("#AddResearchSite").removeAttr("disabled");
                        $("#EditRCModal1 .modal-header b").text("Edit");
                        $("#RCSave").val("Update");
                        $("#SID,#RCID,#IsResubmitChk,#IsResubmitUnChk,#IsApplication,#IsAffirmation").prop("disabled", true);
                    }

                    $("#EditRCModal1").modal({
                        backdrop: 'static',
                        keyboard: false, // to prevent closing with Esc button (if you want this too)
                        show: true
                    });
                },
                fail: function (jqXHR, textStatus, errorThrown) {
                    alert('Error');
                },
                complete: function (data) {

                }
            });
        })
    };
    function populateRC(act, res) {

        $("#ID").val(res.ID);
        $("#IsApplication").prop("checked", res.IsApplication)
        $("#IsAffirmation").prop("checked", res.IsAffirmation)
        if (res.IsResubmit == true) {
            $("#IsResubmitChk").prop("checked", true)
        }
        else if (res.IsResubmit == false) {
            $("#IsResubmitUnChk").prop("checked", true)
        }
        $("#RCID").val(res.RCID);
        $("#SID").val(res.SID);
        //sec1
        $("#InstitutionName").val(res.InstitutionName);
        $("#AddressID").val(res.AddressID);
        $("#Address1").val(res.Address1);
        $("#Address2").val(res.Address2);
        $("#City").val(res.City);
        $("#State").val(res.State);
        $("#Country").val(res.Country)
        $("#ZIP").val(res.ZIP);
        $("#Attention").val(res.Attention);
        $("#Department").val(res.Department);
        $("#InternalOffice").val(res.InternalOffice);
        $("#TaxIdentificationNo").val(res.TaxIdentificationNo);
        if (res.HaveAdditionalResearchSites == true) {
            $("#additionalResearchSitesChk").prop("checked", true)
        } else if (res.HaveAdditionalResearchSites == false) {
            $("#additionalResearchSitesChk").prop("checked", false)
        }
        if (res.FullyExeContratReqPriorToActivation == true) {
            $("#priorToactivationChk").prop("checked", true)
        } else if (res.FullyExeContratReqPriorToActivation == false) {
            $("#priorToactivationUnchk").prop("checked", false)
        }
        if (res.FullyExeContratReqPriorToEnrollment == true) {
            $("#priorToenrollmentChk").prop("checked", true)
        } else if (res.FullyExeContratReqPriorToEnrollment == false) {
            $("#priorToenrollmentUnchk").prop("checked", false)
        }
        if (res.TeachingHospital == true) {
            $("#TeachingHospitalChk").prop("checked", true)
        } else if (res.TeachingHospital == false) {
            $("#TeachingHospitalUnChk").prop("checked", false)
        }

        $("#Legal_AddressID").val(res.Legal_AddressID);
        if (res.IsLegalEntitySameasRC)
            $("#IsLegalEntitySameasRC").prop("checked", res.IsLegalEntitySameasRC)
        else
            $("#IsLegalEntitySameasRC").prop("checked", res.IsLegalEntitySameasRC)

        //sec2
        $("#LeagaEntityName").val(res.LeagaEntityName);
        $("#LE_Address1").val(res.LE_Address1);
        $("#LE_Address2").val(res.LE_Address2);
        $("#LE_State").val(res.LE_State)
        $("#LE_Country").val(res.LE_Country)
        $("#LE_ZIP").val(res.LE_ZIP);
        $("#LE_Attention").val(res.LE_Attention);
        $("#LE_Department").val(res.LE_Department);
        $("#LE_InternalOffice").val(res.LE_InternalOffice);

        //sec 3
        if (res.IsPayeeNameSameasRC != null)
            $("#IsPayeeNameSameasRC").prop("checked", res.IsPayeeNameSameasRC);
        $("#PayeeName").val(res.PayeeName);

        //sec 4
        if (res.OnSiteMonitoring != null)
            $("#input[name='OnSiteMonitoring']:checked").val(res.OnSiteMonitoring)
        $(".RegularActivities").each(function () {
            for (var i = 0; i < act.lst_T206_RC_RegularActivities.length; i++) {
                if (act.lst_T206_RC_RegularActivities[i].T206_RegularActivityID == $(this).val()) {
                    $(this).prop("checked", true);
                }
            }
        });
        $(".StudyActivities").each(function () {
            for (var i = 0; i < act.lst_T203_RC_StudyPacrticipantActivities.length; i++) {
                if (act.lst_T203_RC_StudyPacrticipantActivities[i].T203_StudyParticipantActivityID == $(this).val()) {
                    $(this).prop("checked", true);
                }
            }
        });
        $(".DataManagementActivities").each(function () {

            for (var i = 0; i < act.lst_T204_RC_DataManagementActivities.length; i++) {
                if (act.lst_T204_RC_DataManagementActivities[i].T204_DataManagementActivityID == $(this).val()) {
                    $(this).prop("checked", true);
                }
            }
        });
        $(".PharmacyActivities").each(function () {

            for (var i = 0; i < act.lst_T205_RC_PharmacyActivities.length; i++) {
                if (act.lst_T205_RC_PharmacyActivities[i].T205_PharmacyActivityID == $(this).val()) {
                    $(this).prop("checked", true);
                }
            }
        });


        //sec 5
        $("#Pharmacy_AddressID").val(res.Pharmacy_AddressID);
        $("#pharmacyname").val(res.pharmacyname);
        $("#PH_Address1").val(res.PH_Address1);
        $("#PH_Address2").val(res.PH_Address2);
        $("#PH_Attention").val(res.PH_Attention);
        $("#PH_City").val(res.PH_City);
        $("#PH_Department").val(res.PH_Department);
        $("#PH_InternalOffice").val(res.PH_InternalOffice);
        $("#PH_Country").val(res.PH_Country);
        $("#PH_State").val(res.PH_State);
        $("#PH_ZIP").val(res.PH_ZIP);
        $("#PH_Phone").val(res.PH_Phone);

        //sec 6
        $("#CSI_AddressID").val(res.CSI_AddressID);
        $("#CSI_Personnel_ID").val(res.CSI_Personnel_ID);
        $("#CSI_FName").val(res.CSI_FName);
        $("#CSI_MName").val(res.CSI_MName);
        $("#CSI_LName").val(res.CSI_LName);
        $("#CSI_Degree").val(res.CSI_Degree);
        $("#CSI_MedSpeciality").val(res.CSI_MedSpeciality);
        $("#CSI_Address1").val(res.CSI_Address1);
        $("#CSI_Address2").val(res.CSI_Address2);
        $("#CSI_State").val(res.CSI_State);
        $("#CSI_Country").val(res.CSI_Country);
        $("#CSI_City").val(res.CSI_City);
        $("#CSI_ZIP").val(res.CSI_ZIP);
        $("#CSI_Phone").val(res.CSI_Phone);
        $("#CSI_PersonType").val(res.CSI_PersonType);
        $("#CSI_Email").val(res.CSI_Email);
        $("#CSI_Attention").val(res.CSI_Attention);
        $("#CSI_Department").val(res.CSI_Department);
        $("#CSI_InternalOffice").val(res.CSI_InternalOffice);

        //sec   6b
        $("#PC_AddressID").val(res.PC_AddressID);
        $("#PC_Personnel_ID").val(res.PC_Personnel_ID);
        $("#PC_FName").val(res.PC_FName);
        $("#PC_MName").val(res.PC_MName);
        $("#PC_LName").val(res.PC_LName);
        $("#PC_Degree").val(res.PC_Degree);
        $("#PC_MedSpeciality").val(res.PC_MedSpeciality);
        $("#PC_Address1").val(res.PC_Address1);
        $("#PC_Address2").val(res.PC_Address2);
        $("#PC_Country").val(res.PC_Country);
        $("#PC_State").val(res.PC_State);
        $("#PC_City").val(res.PC_City);
        $("#PC_ZIP").val(res.PC_ZIP);
        $("#PC_Phone").val(res.PC_Phone);
        $("#PC_PersonType").val(res.PC_PersonType);
        $("#PC_Email").val(res.PC_Email);
        $("#PC_Attention").val(res.PC_Attention);
        $("#PC_Department").val(res.PC_Department);
        $("#PC_InternalOffice").val(res.PC_InternalOffice);

        //sec   6f
        $("#CC_AddressID").val(res.CC_AddressID);
        $("#CC_Personnel_ID").val(res.CC_Personnel_ID);
        $("#CC_FName").val(res.CC_FName);
        $("#CC_LName").val(res.CC_LName);
        $("#CC_MName").val(res.CC_MName);
        $("#CC_Degree").val(res.CC_Degree);
        $("#CC_Address1").val(res.CC_Address1);
        $("#CC_Address2").val(res.CC_Address2);
        $("#CC_Country").val(res.CC_Country);
        $("#CC_State").val(res.CC_State);
        $("#CC_City").val(res.CC_City);
        $("#CC_ZIP").val(res.CC_ZIP);
        $("#CC_Phone").val(res.CC_Phone);
        $("#CC_PersonType").val(res.CC_PersonType);

        //sec   6g
        $("#FC_AddressID").val(res.FC_AddressID);
        $("#FC_Personnel_ID").val(res.FC_Personnel_ID);
        $("#FC_FName").val(res.FC_FName);
        $("#FC_LName").val(res.FC_LName);
        $("#FC_MName").val(res.FC_MName);
        $("#FC_Degree").val(res.FC_Degree);
        $("#FC_Address1").val(res.FC_Address1);
        $("#FC_Address2").val(res.FC_Address2);
        $("#FC_Country").val(res.FC_Country);
        $("#FC_State").val(res.FC_State);
        $("#FC_City").val(res.FC_City);
        $("#FC_ZIP").val(res.FC_ZIP);
        $("#FC_Phone").val(res.FC_Phone);
        $("#FC_PersonType").val(res.FC_PersonType);

        //sec   6g
        $("#CheckAdressee_Personnel_ID").val(res.CheckAdressee_Personnel_ID);
        $("#CheckAdressee_FName").val(res.CheckAdressee_FName);
        $("#CheckAdressee_LName").val(res.CheckAdressee_LName);
        $("#CheckAdressee_MName").val(res.CheckAdressee_MName);
        $("#CheckAdressee_Adress1").val(res.CheckAdressee_Adress1);
        $("#CheckAdressee_Adress2").val(res.CheckAdressee_Adress2);
        $("#CheckAdressee_Country").val(res.CheckAdressee_Country);
        $("#CheckAdressee_State").val(res.CheckAdressee_State);
        $("#CheckAdressee_City").val(res.CheckAdressee_City);
        $("#CheckAdressee_ZIP").val(res.CheckAdressee_ZIP);
        $("#CheckAdressee_Attention").val(res.CheckAdressee_Attention);
        $("#CheckAdressee_Department").val(res.CheckAdressee_Department);
        $("#CheckAdressee_InternalOffice").val(res.CheckAdressee_InternalOffice);

        //sec 6c
        $("#MO_AddressID").val(res.MO_AddressID);
        $("#MO_Personnel_ID").val(res.MO_Personnel_ID);
        if (res.MO_sameas_CSI != null)
            $("#MO_sameas_CSI").prop("checked", res.MO_sameas_CSI);
        $("#MO_FName").val(res.MO_FName);
        $("#MO_LName").val(res.MO_LName);
        $("#MO_MName").val(res.MO_MName);
        $("#MO_Degree").val(res.MO_Degree);
        $("#MO_MedSpeciality").val(res.MO_MedSpeciality);
        $("#MO_Address1").val(res.MO_Address1);
        $("#MO_Address2").val(res.MO_Address2);
        $("#MO_Country").val(res.MO_Country);
        $("#MO_State").val(res.MO_State);
        $("#MO_City").val(res.MO_City);
        $("#MO_ZIP").val(res.MO_ZIP);
        $("#MO_Phone").val(res.MO_Phone);
        $("#MO_Email").val(res.MO_Email);

        //sec   6d
        $("#SO_AddressID").val(res.SO_AddressID);
        $("#SO_Personnel_ID").val(res.SO_Personnel_ID);
        if (res.SO_sameas_CSI != null)
            $("#SO_sameas_CSI").prop("checked", res.SO_sameas_CSI);

        $("#SO_FName").val(res.SO_FName);
        $("#SO_LName").val(res.SO_LName);
        $("#SO_MName").val(res.SO_MName);
        $("#SO_Degree").val(res.SO_Degree);
        $("#SO_MedSpeciality").val(res.SO_MedSpeciality);
        $("#SO_Address1").val(res.SO_Address1);
        $("#SO_Address2").val(res.SO_Address2);
        $("#SO_Country").val(res.SO_Country);
        $("#SO_State").val(res.SO_State);
        $("#SO_City").val(res.SO_City);
        $("#SO_ZIP").val(res.SO_ZIP);
        $("#SO_Phone").val(res.SO_Phone);
        $("#SO_Email").val(res.SO_Email);

        //sec   6e
        $("#PA_AddressID").val(res.PA_AddressID);
        $("#PA_Personnel_ID").val(res.PA_Personnel_ID);

        if (res.PA_sameas_CSI != null)
            $("#PA_sameas_CSI").prop("checked", res.PA_sameas_CSI);

        $("#PA_FName").val(res.PA_FName);
        $("#PA_LName").val(res.PA_LName);
        $("#PA_MName").val(res.PA_MName);
        $("#PA_Degree").val(res.PA_Degree);
        $("#PA_MedSpeciality").val(res.PA_MedSpeciality);
        $("#PA_Address1").val(res.PA_Address1);
        $("#PA_Address2").val(res.PA_Address2);
        $("#PA_Country").val(res.PA_Country);
        $("#PA_State").val(res.PA_State);
        $("#PA_City").val(res.PA_City);
        $("#PA_ZIP").val(res.PA_ZIP);
        $("#PA_Phone").val(res.PA_Phone);
        $("#PA_Email").val(res.PA_Email);

        //sec 7

        $("#AverageNONewBreastPatientsperyear").val(res.AverageNONewBreastPatientsperyear);
        $("#AverageNONewColorectalPatientsperyear").val(res.AverageNONewColorectalPatientsperyear);
        $("#Accrual_Breast_Industry_Studies").val(res.Accrual_Breast_Industry_Studies);
        $("#Accrual_Breast_Federal_Studies").val(res.Accrual_Breast_Federal_Studies);
        $("#Accrual_Colorectal_Industry_Studies").val(res.Accrual_Colorectal_Industry_Studies);
        $("#Accrual_Colorectal_Federal_Studies").val(res.Accrual_Colorectal_Federal_Studies);


        debugger;
        if (res.Audits_Network_Institution_Identificationofcritical == false) {
            $("#criticalUnChk").prop("checked", true);
        }
        else if (res.Audits_Network_Institution_Identificationofcritical == true) {
            $("#criticalChk").prop("checked", true);
        }
        // $("input[name='Audits_Network_Institution_Identificationofcritical']").val(res.Audits_Network_Institution_Identificationofcritical);
        // $("Audits_Network_Institution_Identificationofcritical").val(res.Audits_Network_Institution_Identificationofcritical);

        //Section 8
        $("#RCR_Investigator_Signature").val(res.RCR_Investigator_Signature);
        $("#RCR_Date").val(JsonToDate(res.RCR_Date));
        //$("#RCR_Date").datepicker();


        if (res.IsApplication) {
            $(".Application").show();
            $('.Application').addClass('bounceInLeft animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
            });
            $(".Affirmation").hide();
        }
        if (res.IsAffirmation) {
            $(".Application").hide();
            $(".Affirmation").show();
            $('.Affirmation').addClass('bounceInLeft animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
            });
        }
    };
    function History(_SID) {

        $.ajax({
            async: false,
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            url: "/RCApplication/GetApplicationHistoryStatus",
            //data: '{"_SID":eadfc}',
            data: JSON.stringify({ _SID: _SID }),

            success: function (res) {

                $("#HistoryModal").modal({
                    backdrop: 'static',
                    keyboard: false, // to prevent closing with Esc button (if you want this too)
                    show: true
                })
                var tblHistory = $("#tblHistory").DataTable({
                    data: res,
                    dom: 'bfrtip',
                    "pageLength": 5,
                    "bFilter": true,
                    destroy: true,
                    retrieve: true,
                    "processing": true,

                    "columns": [
                    { "name": "Application Status", 'data': 'RC_Application_Status' },
                    { "name": "Date", 'data': 'RC_Application_Status_Date' },
                    { "name": "Comment", 'data': 'RC_Application_Status_Comment' },
                    { "name": "Modified_BY", 'data': 'Modified_BY' }]
                })


            },
            fail: function (jqXHR, textStatus, errorThrown) {
                alert('Error');
            }
        });
    }

    function GetSiteAddendumDetails(sid) {

        var res;
        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/GetSiteAddendumDetails",
            data: '{SID: "' + sid + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                res = data;
            },
            failure: function (response) {
                alert('Error');
            }
        });
        return res;
    }
    function ChangeStatus(ths) {
        var tr = $(ths).closest('tr');
        var tbl;
        var data;
        if (ths.id == "RCRCcs")//code for changes status sentrcrc
        {
            tbl = $('#tblCSAddendum').DataTable();

            data = tbl.row(tr).data();
            $("#txtDateOfRCSubmitted").val("");           
            $("#hidden_ID").val(data["ID"]);
            var SID = data["sid"];

            if (data["Application_Site_Status"] == "6" || (data["Application_Site_Status"] == "2" && data["SectionsToBeUnlock"] == "NoChange")) {
                $("#hidden_ApplicationOrAddendum").val("Addendum");
                $("#lblSubmittedApplicationID").text(data["sid"]);            
                $("#SentRCRCPanelModal").modal({
                    backdrop: 'static',
                    keyboard: false, // to prevent closing with Esc button (if you want this too)
                    show: true
                });
            }
        }
        else {
            tbl = $('#tblRCDetails').DataTable();
            data = tbl.row(tr).data();
            $("#txtDateOfRCSubmitted").val("");
            $("#hidden_ID").val(data["ID"]);
            var SID = data["SID"];
            if (data["RC_Application_Status"] == "6" || (data["RC_Application_Status"] == "2" && data["SectionsToBeUnlock"] == "NoChange")) {
                $("#hidden_ApplicationOrAddendum").val("Application");
                $("#lblSubmittedApplicationID").text(data["SID"]);
                $("#SentRCRCPanelModal").modal({
                    backdrop: 'static',
                    keyboard: false, // to prevent closing with Esc button (if you want this too)
                    show: true
                });
            }

            else {

                var url = "/RCApplication/p_ChangeApplicationStatus?RC_App_Status=" + data["RC_Application_Status"] + "&SID=" + data["SID"] + "";
                $("#RCCSModalBody").load(url, function () {
                    var tr = $(ths).closest('tr');
                    var tbl = $('#tblRCDetails').DataTable();
                    var data = tbl.row(tr).data();
                    var id = data["ID"];
                    $("#rcdetailsID").val(data["ID"]);

                    $("#lblSID").text(data["SID"]);
                    $("#lblInstitutionName").text(data["InstitutionName"]);

                    if (data["RC_Application_Status"] != null && data["RC_Application_Status"] != "") {
                        $("#RC_Application_Status").val(data["RC_Application_Status"]);
                    }
                    if (data["RC_Application_Status_Date"] != null && data["RC_Application_Status_Date"] != "") {
                        var date = jsondate(data["RC_Application_Status_Date"]);
                        $("#rdpApplicationStatusDate").val(date);
                        $("#hidden_Rc_App_SentDate").val(date);
                    }
                    $("#hidden_ID").val(id);
                    if (data["RC_Application_Status_Reason"] != "" && data["RC_Application_Status_Reason"] != null) {
                        $("#txtApplicationStatusReason").val(data["RC_Application_Status_Reason"]);
                    }
                    if (data["RC_Application_Status"] == "3" || data["RC_Application_Status"] == "4") {

                        $("#RC_Application_Status").prop("disabled", true);

                        $(".clsAppproved *").prop("disabled", true);
                        $(".clsPending *").prop("disabled", true);
                        $(".daterow *").prop("disabled", true);
                        if (data["RC_Application_Status"] == "3") {
                            $("#txtApplicationSiteID").val(data["RCID"]);
                            if (data["assignOldNSABPSiteID"] == "True") {
                                $("#assignOldNSABPSiteIDYes").prop("checked", true);
                            }
                            else {
                                $("#assignOldNSABPSiteIDNo").prop("checked", true);
                            }
                        }

                    }
                    else {
                        $("#RC_Application_Status").prop("disabled", false);
                        $(".clsAppproved *").prop("disabled", false);
                        $(".clsPending *").prop("disabled", false);
                        $(".daterow *").prop("disabled", false);
                    }

                    $("#RCCSModal").modal({
                        backdrop: 'static',
                        keyboard: false, // to prevent closing with Esc button (if you want this too)
                        show: true
                    });
                });


            }
        }
    }

    $("#txtDateOfRCSubmitted").datepicker({
        autoclose: true,
        endDate: 'today'
    });
    //Change status 17-01-19
    $("#btnSentToRCRC").click(function () {
        debugger;
        if ($("#txtDateOfRCSubmitted").val() == '') {
            $("#txtDateOfRCSubmitted").focus();
            alert("Please select Date of RC submitted");
            return;
        }
        var id = $("#hidden_ID").val();
        var sid = $("#lblSubmittedApplicationID").text();

        $.ajax({
            async: false,
            type: "POST",
            url: "/RCApplication/UpdateSentToRCRC",
            data: JSON.stringify({ _id: id, _SID: sid, _DateOfRCSubmittedToRCBoard: $("#txtDateOfRCSubmitted").val(), hidden_ApplicationOrAddendum: $("#hidden_ApplicationOrAddendum").val() }),
            contentType: "application/json",
            dataType: "json",
            success: (function (data) {
                if (data.result == "Update") {
                    $("#tblCSAddendum").DataTable().ajax.reload();
                    $("#btnSentToRCRCCancel").click();
                    $("#btn_cs_cancel").click();
                    alert(data.msg);
                }
                else if (data.result == "Fail" || data.result == "error") {
                    alert("Invalid operation");
                }

            }),
            error: function () {

            }
        }
            )

    });
</script>
