﻿<div class="card">
    <div class="card-body">
        <table id="tblRejRcapp" class="display no-wrap  table table-hover table-responsive  table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Application</th>
                    <th>Affiramtion</th>
                    <th>SID</th>
                    <th>RC ID</th>
                    <th>Institution Name</th>
                    <th>Address(Line 1) </th>
                    <th>Address(Line 2)</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>ZIP</th>
                    <th>Attention</th>
                    <th>Department</th>
                    <th>Internal Office</th>
                    <th>TaxIdentificationNumber</th>
                    <th>Do You Have Additional Research Sites?</th>
                    <th>Is fully executed contract required prior to activation?</th>
                    <th>Is fully executed contract required prior to enrollment?</th>
                    <th>RC Status</th>
                    <th>IsResubmit</th>
                    <th>Resubmited</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
       
        var tblRCDetails = $('#tblRejRcapp').DataTable({
            ajax: {
                url: "/RCApplication/getRejectedApplications",
                type: "POST",
                datatype: "json",
            },
            dom: 'frtip',
            "pageLength": 5,
            "bFilter": true,
            "columns": [
                 {
                     "name": "Select",
                     data: null,
                     render: function (data, type, row) {
                         var id = data.ID
                         var htmlEdit = "<a href='#' id='edit' ><i style='color:indianred;font-weight:bold' title='Edit' class='ti-pencil ' ></i></a>";
                         return "";
                     }
                 },
                { "name": "IsApplication", 'data': 'IsApplication' },
                { "name": "IsAffirmation", 'data': 'IsAffirmation' },
                { "name": "SID", 'data': 'SID' },
                { "name": "RCID", 'data': 'RCID' },
                { "name": "InstitutionName", 'data': 'InstitutionName' },
                { "name": "Address1", 'data': 'Address1' },
                { "name": "Address2", 'data': 'Address2' },
                { "name": "Country", 'data': 'Country' },
                { "name": "State", 'data': 'State' },
                { "name": "City", 'data': 'City' },
                { "name": "ZIP", 'data': 'ZIP' },
                { "name": "Attention", 'data': 'Attention' },
                { "name": "Department", 'data': 'Department' },
                { "name": "InternalOffice", 'data': 'InternalOffice' },
                { "name": "TaxIdentificationNo", 'data': 'TaxIdentificationNo' },
                { "name": "HaveAdditionalResearchSites", 'data': 'HaveAdditionalResearchSites' },
                { "name": "FullyExeContratReqPriorToActivation", 'data': 'FullyExeContratReqPriorToActivation' },
                { "name": "FullyExeContratReqPriorToEnrollment", 'data': 'FullyExeContratReqPriorToEnrollment' },
                { "name": "RCStatus", 'data': 'RC_Status' },
                { "name": "IsResubmit", 'data': 'IsResubmit' },
                { "name": "Resubmited", 'data': 'Resubmited' }
            ]           
        })       
    });


</script>